<template>
  <div class="mt-5 px-3">
    <div v-if="failSubmit" class="container mb-5">
      <b-alert show variant="danger">{{ this.errMsg }}</b-alert>
    </div>
    <div class="card p-5 col-md-8 mx-auto">
      <h3 class="mx-auto mb-3">Add User</h3>
      <b-form @submit="submit" class="text-right">
        <b-form-group>
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Username :</label>
            </b-col>
            <b-col sm="9">
              <b-form-input
                v-model="form.username"
                @change="validateUsername()"
                @keyup="validateUsername()"
                required
                placeholder="Username"
              ></b-form-input>
            </b-col>
            <b-col sm="9" class="text-left ml-auto" v-if="!isValidUsername">
              <label class="err-text">Username cannot contains space</label>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group>
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Email :</label>
            </b-col>
            <b-col sm="9">
              <b-form-input
                v-model="form.email"
                required
                type="email"
                placeholder="Email"
              ></b-form-input>
            </b-col>
          </b-row>
        </b-form-group>

        <b-form-group>
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Role :</label>
            </b-col>
            <b-col sm="9" class="text-left d-flex px-0">
              <b-form-group>
                <b-form-checkbox-group
                  class="px-3 py-2"
                  v-model="form.selectedRole"
                  :options="form.options"
                  stacked
                ></b-form-checkbox-group>
              </b-form-group>
            </b-col>
          </b-row>
        </b-form-group>
        <b-button
          class="mt-3 px-5"
          :disabled="!isValidUsername"
          type="submit"
          variant="danger"
          >Add</b-button
        >
        <b-button
          class="mt-3 mx-2 px-5"
          @click="$router.go(-1)"
          variant="danger"
          >Back</b-button
        >
      </b-form>
    </div>
  </div>
</template>
<script>
import axios from "../../../util/api";
import tokenUpdate from "@/util/tokenUpdate";
import requestErrorHandler from "@/util/requestErrorHandler";
export default {
  data() {
    return {
      form: {
        username: "",
        password: "",
        email: "",
        selectedRole: [],
        options: [],
      },
      real_roles: [],
      failSubmit: false,
      errMsg: null,
      isValidUsername: true,
    };
  },
  mounted() {
    this.getRoles();
  },
  methods: {
    validateUsername() {
      let username = this.form.username;
      //let isValid = true;
      /\s/.test(username)
        ? (this.isValidUsername = false)
        : (this.isValidUsername = true);

      console.log(this.isValidUsername);
    },
    getRoles() {
      const headerPost = {
        Authorization: `Bearer ${localStorage.getItem("token")}`,
      };
      axios
        .get("/api/config/approvedRole", {})
        .then((resp) => {
          if (resp.headers.rtok) {
            tokenUpdate(resp.headers.rtok);
          }
          this.real_roles = resp.data;
          resp.data.map((role) => {
            let newOptions = {
              value: role.id,
              text: role.roleName.includes("_")
                ? role.roleName.substring(5)
                : role.roleName,
            };
            this.form.options.push(newOptions);
          });
          //this.form.selectedRole = this.form.options[0].value;
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.failSubmit = isErr;
            this.errMsg = errMsg;
            this.isLoading = false;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    submit() {
      event.preventDefault();
      this.failSubmit = false;
      this.errMsg = "";
      let postRole = [];
      if (!this.isValidUsername) {
        this.failSubmit = true;
        this.errMsg = "Password is not valid";
        return;
      }
      this.real_roles.map((data) => {
        this.form.selectedRole.find((el) => {
          if (el === data.id) {
            postRole.push(data);
          }
        });
      });
      if (postRole.length === 0) {
        this.failSubmit = true;
        this.errMsg = "Add roles at least one";
      } else {
        const postData = {
          username: this.form.username,
          password: this.form.password.trim(),
          email: this.form.email,
          roles: postRole,
        };

        const headerPost = {
          Authorization: `Bearer ${localStorage.getItem("token")}`,
        };
        console.log(postData);
        axios
          .post("/api/user/regis", postData, {})
          .then((resp) => {
            if (resp.status === 200) {
              if (resp.headers.rtok) {
                tokenUpdate(resp.headers.rtok);
              }
              this.$router.push("/userList");
            } else {
              this.failSubmit = true;
              this.errMsg = "Fail to add user";
            }
          })
          .catch((err) => {
            const { isErr, errMsg, route } = requestErrorHandler(err);
            if (isErr) {
              console.log(errMsg);
              this.failSubmit = isErr;
              this.errMsg = errMsg;
              this.isLoading = false;
              if (route) {
                this.$router.push(route);
              }
            }
          });
      }
    },
  },
};
</script>
<style scoped>
.err-text {
  color: #bd2130;
}</style
>>
