<template>
  <div class="mt-5 px-3">
    <div v-if="failSubmit" class="container mb-5">
      <b-alert show variant="danger">{{ this.errMsg }}</b-alert>
    </div>
    <div class="card p-5 col-md-8 mx-auto">
      <h3 class="ml-1 mb-3">Details</h3>
      <hr />
      <h5 class="ml-1 mb-3 pb-2 border-bottom">Activity: {{ activity }}</h5>

      <template v-if="oldData">
        <div class="text-right border p-4">
          <h4 class="ml-5 text-left">Old Data</h4>
          <b-form-group id="input-group-1">
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Username :</label>
              </b-col>
              <b-col sm="9">
                <b-form-input
                  disabled
                  v-model="oldDataForm.username"
                  required
                  placeholder="Username"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-form-group>

          <b-form-group>
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Email :</label>
              </b-col>
              <b-col sm="9">
                <b-form-input
                  v-model="oldDataForm.email"
                  disabled
                  required
                  placeholder="Email"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-form-group>
          <b-form-group id="input-group-3">
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Role :</label>
              </b-col>
              <b-col sm="9" class="text-left d-flex mt-1">
                <b-form-group>
                  <b-form-checkbox-group
                    class="px-1 py-2"
                    v-model="oldDataForm.selectedRole"
                    :options="form.options"
                    disabled
                    stacked
                  ></b-form-checkbox-group>
                </b-form-group>
              </b-col>
            </b-row>
          </b-form-group>
        </div>
      </template>

      <b-form class="text-right border p-4 mt-2">
        <template v-if="oldData">
          <h4 class="ml-5 mt-3 pt-3 text-left">New Data</h4>
        </template>
        <b-form-group id="input-group-1">
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Username :</label>
            </b-col>
            <b-col sm="9">
              <b-form-input
                disabled
                v-model="form.username"
                required
                placeholder="Username"
              ></b-form-input>
            </b-col>
          </b-row>
        </b-form-group>

        <b-form-group>
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Email :</label>
            </b-col>
            <b-col sm="9">
              <b-form-input
                v-model="form.email"
                disabled
                required
                placeholder="Email"
              ></b-form-input>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group id="input-group-3">
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Role :</label>
            </b-col>
            <b-col sm="9" class="text-left d-flex mt-1">
              <b-form-group>
                <b-form-checkbox-group
                  class="px-1 py-2"
                  v-model="form.selectedRole"
                  :options="form.options"
                  disabled
                  stacked
                ></b-form-checkbox-group>
              </b-form-group>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group>
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Comment :</label>
            </b-col>
            <b-col sm="9" class="text-left mt-1">
              <b-form-group>
                <b-textarea
                  class="col-md-12"
                  placeholder="Comment"
                  v-model="comment"
                ></b-textarea>
              </b-form-group>
            </b-col>
          </b-row>
        </b-form-group>
      </b-form>
      <div class="text-right mt-3">
        <template v-if="!isTokenExpire">
          <b-button @click="showModal(1)" variant="danger">Approve</b-button>
          <b-button
            @click="showModal(2)"
            v-if="!isDeleteRequest"
            class="mx-2"
            variant="danger"
            >Ask for Revision</b-button
          >
          <b-button @click="showModal(0)" class="mx-2" variant="danger"
            >Decline</b-button
          >
        </template>

        <b-button class="mx-2 px-3" @click="$router.go(-1)" variant="danger"
          >Back</b-button
        >
      </div>
    </div>

    <b-modal ref="my-modal" :title="modal.title">
      <div class="d-block">
        <p>{{ modal.content }}</p>
      </div>
      <template v-slot:modal-footer>
        <template v-if="isLoading">
          <div class="text-center">
            <b-spinner
              style="width: 2rem; height: 2rem"
              class="mt-2"
              variant="danger"
              label="Loading"
            ></b-spinner>
          </div>
        </template>
        <template v-else>
          <div>
            <b-button class="btn-modal mr-3" variant="danger" @click="confirm"
              >Yes</b-button
            >
            <b-button class variant="outline-danger" @click="hideModal"
              >Cancel</b-button
            >
          </div>
        </template>
      </template>
    </b-modal>
  </div>
</template>
<script>
import axios from "../../../util/api";
import tokenUpdate from "@/util/tokenUpdate";
import requestErrorHandler from "@/util/requestErrorHandler";
export default {
  data() {
    return {
      modal: {
        title: "",
        content: "",
        type: null,
      },
      form: {
        username: "",
        password: "",
        email: "",
        selectedRole: [],
        options: [],
      },
      failSubmit: false,
      errMsg: null,
      oldData: false,
      oldDataForm: {
        username: "",
        password: "",
        email: "",
        selectedRole: [],
        options: [],
      },
      isDeleteRequest: false,
      isTokenExpire: false,
      activity: null,
      isLoading: false,
      comment: "",
    };
  },
  mounted() {
    this.getRoles();
  },
  methods: {
    showModal(dt) {
      this.$refs["my-modal"].show();
      if (dt == 1) {
        this.modal.title = "Approve ";
        this.modal.content = "Are you sure want to approve the request?";
        this.modal.type = 1;
      } else if (dt == 2) {
        this.modal.title = "Ask for Revision ";
        this.modal.content = "Are you sure want to ask for revision?";
        this.modal.type = 2;
      } else if (dt == 3) {
        this.modal.title = "Reset password token ";
        this.modal.content = "Are you sure want to reset password token?";
        this.modal.type = 3;
      } else {
        this.modal.title = "Decline ";
        this.modal.content = "Are you sure want to decline the request?";
        this.modal.type = 0;
      }
    },
    hideModal() {
      this.$refs["my-modal"].hide();
    },
    confirm() {
      this.modal.type === 1 || this.modal.type === 3
        ? this.submit()
        : this.modal.type === 2
        ? this.revision()
        : this.decline();
    },
    cancel() {
      this.$router.push("/roleconfig");
    },
    getRoles() {
      const headerPost = {
        Authorization: `Bearer ${localStorage.getItem("token")}`,
      };
      axios
        .get("/api/config/approvedRole", {})
        .then((resp) => {
          if (resp.headers.rtok) {
            tokenUpdate(resp.headers.rtok);
          }
          this.real_roles = resp.data;
          resp.data.map((role) => {
            let newOptions = {
              value: role.id,
              text: role.roleName.includes("_")
                ? role.roleName.substring(5)
                : role.roleName,
            };
            this.form.options.push(newOptions);
          });
          this.getData();
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.failSubmit = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    getData() {
      const userId = this.$route.params.id;
      axios
        .get(`/api/user/stag/${userId}`, {})
        .then((res) => {
          if (res.data) {
            if (res.headers.rtok) {
              tokenUpdate(res.headers.rtok);
            }
            this.form.username = res.data.username;
            this.form.password = res.data.password;
            this.comment = res.data.comment || null;
            this.form.selectedRole = res.data.roles.map((role) =>
              role.id ? role.id : role
            );
            this.form.email = res.data.email;
            this.activity =
              parseInt(res.data.approvalStatus) === 3
                ? "Delete User"
                : parseInt(res.data.approvalStatus) === 0
                ? "Create New User"
                : parseInt(res.data.approvalStatus) === 6
                ? "Token Password Expire"
                : "Edit User";
            this.isDeleteRequest = res.data.approvalStatus === 3 ? true : false;
            this.isTokenExpire = res.data.approvalStatus === 6 ? true : false;
            if (res.data.oldUserId && res.data.approvalStatus !== 3) {
              this.getOldData(res.data.oldUserId);
            }
          } else {
            this.getOldData(userId);
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    getOldData(oldUserId) {
      this.oldData = true;

      //const userId = this.$route.params.id;
      axios
        .get(`/api/user/${oldUserId}`, {})
        .then((res) => {
          console.log(res);
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          if (res.data.length === 0) this.getStagData();
          else {
            this.oldDataForm.username = res.data.username;
            this.oldDataForm.password = res.data.password;
            this.activity =
              parseInt(res.data.approvalStatus) === 3
                ? "Delete User"
                : parseInt(res.data.approvalStatus) === 0
                ? "Create New User"
                : "Edit User";
            this.oldDataForm.selectedRole = res.data.roles.map((role) =>
              role.id ? role.id : role
            );
            this.oldDataForm.email = res.data.email;
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    submit() {
      event.preventDefault();
      const userId = this.$route.params.id;
      const headerPost = {
        Authorization: `Bearer ${localStorage.getItem("token")}`,
      };
      this.isLoading = true;
      const url = this.isDeleteRequest
        ? `/api/user/approveDelete/${userId}`
        : this.isTokenExpire
        ? `/api/user/resetPasswordToken/${userId}`
        : `/api/user/approve/${userId}`;
      axios
        .post(url, {}, {})
        .then((resp) => {
          if (resp.headers.rtok) {
            tokenUpdate(resp.headers.rtok);
          }
          this.isLoading = false;
          if (resp.status === 200) {
            this.$router.push({
              name: "userlist",
              params: { msg: "Task has been successfully Approved" },
            });
          } else {
            this.failSubmit = true;
            this.errMsg = "Fail to update user";
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.isLoading = false;
            this.failSubmit = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    decline() {
      event.preventDefault();
      const userId = this.$route.params.id;
      const headerPost = {
        Authorization: `Bearer ${localStorage.getItem("token")}`,
      };
      console.log(headerPost);
      axios
        .post(
          `/api/user/declineStag`,
          {
            id: userId,
            comment: this.comment,
          },
          {}
        )
        .then((resp) => {
          if (resp.status === 200) {
            if (resp.headers.rtok) {
              tokenUpdate(resp.headers.rtok);
            }
            this.$router.push({
              name: "userlist",
              params: { msg: "Task has been successfully Declined" },
            });
          } else {
            this.failSubmit = true;
            this.errMsg = "Fail to update user";
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.failSubmit = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    revision() {
      event.preventDefault();
      const userId = this.$route.params.id;
      const headerPost = {
        Authorization: `Bearer ${localStorage.getItem("token")}`,
      };
      console.log(headerPost);
      axios
        .post(
          `/api/user/revision`,
          {
            id: userId,
            comment: this.comment,
          },
          {}
        )
        .then((resp) => {
          if (resp.status === 200) {
            if (resp.headers.rtok) {
              tokenUpdate(resp.headers.rtok);
            }
            this.$router.push({
              name: "userlist",
              params: { msg: "Task has been asked for Revision" },
            });
          } else {
            this.failSubmit = true;
            this.errMsg = "Fail to update user";
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.failSubmit = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
  },
};
</script>
