<template>
    <div class="mt-5 px-3">
      <div v-if="failSubmit" class="container mb-5">
        <b-alert show variant="danger">{{ this.errMsg }}</b-alert>
      </div>
      <div class="card p-5 col-md-8 mx-auto">
        <h3 class="ml-1 mb-3">Edit User</h3>
        <hr />
        <h5 v-if="activity" class="ml-1 mb-3 pb-2 border-bottom">
          Activity: {{ activity }}
        </h5>
        <b-form @submit="submit" class="text-right">
          <template v-if="oldId">
            <h4 class="ml-5 text-left mt-3 pt-3">Old Data</h4>
            <hr />
            <b-form-group id="input-group-1">
              <b-row class="my-1">
                <b-col sm="3">
                  <label class="pt-1" for="input-default">Username :</label>
                </b-col>
                <b-col sm="9">
                  <b-form-input
                    disabled
                    v-model="oldDataform.username"
                    required
                    placeholder="Username"
                  ></b-form-input>
                </b-col>
              </b-row>
            </b-form-group>
  
            <b-form-group>
              <b-row class="my-1">
                <b-col sm="3">
                  <label class="pt-1" for="input-default">Email :</label>
                </b-col>
                <b-col sm="9">
                  <b-form-input
                    disabled
                    v-model="oldDataform.email"
                    required
                    placeholder="Email"
                  ></b-form-input>
                </b-col>
              </b-row>
            </b-form-group>
            <b-form-group id="input-group-3">
              <b-row class="my-1">
                <b-col sm="3">
                  <label class="pt-1" for="input-default">Role :</label>
                </b-col>
                <b-col sm="9" class="text-left d-flex mt-1">
                  <b-form-group>
                    <b-form-checkbox-group
                      disabled
                      class="px-1 py-2"
                      v-model="oldDataform.selectedRole"
                      :options="form.options"
                      stacked
                    ></b-form-checkbox-group>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-form-group>
          </template>
  
          <template v-if="oldId">
            <h4 class="ml-5 mt-3 pt-3 text-left">New Data</h4>
            <hr />
          </template>
          <b-form-group id="input-group-1">
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Username :</label>
              </b-col>
              <b-col sm="9">
                <b-form-input
                  disabled
                  v-model="form.username"
                  required
                  placeholder="Username"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-form-group>
  
          <b-form-group>
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Email :</label>
              </b-col>
              <b-col sm="9">
                <b-form-input
                  v-model="form.email"
                  required
                  placeholder="Email"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-form-group>
          <b-form-group id="input-group-3">
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Role :</label>
              </b-col>
              <b-col sm="9" class="text-left d-flex mt-1">
                <b-form-group>
                  <b-form-checkbox-group
                    class="px-1 py-2"
                    v-model="form.selectedRole"
                    :options="form.options"
                    stacked
                  ></b-form-checkbox-group>
                </b-form-group>
              </b-col>
            </b-row>
          </b-form-group>
          <b-form-group>
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Comment :</label>
              </b-col>
              <b-col sm="9" class="text-left mt-1">
                <b-form-group>
                  <b-textarea
                    class="col-md-12"
                    disabled
                    placeholder="Comment"
                    v-model="comment"
                  ></b-textarea>
                </b-form-group>
              </b-col>
            </b-row>
          </b-form-group>
  
          <b-button class="mt-3 px-5" type="submit" variant="danger"
            >Update</b-button
          >
          <b-button
            class="mt-3 mx-2 px-5"
            @click="$router.go(-1)"
            variant="danger"
            >Back</b-button
          >
        </b-form>
      </div>
    </div>
  </template>
  <script>
  import axios from "../../../util/api";
  import editvalidator from "@/util/editvalidator";
  import tokenUpdate from "@/util/tokenUpdate";
  import requestErrorHandler from "@/util/requestErrorHandler";
  export default {
    data() {
      return {
        form: {
          username: "",
          password: "",
          email: "",
          selectedRole: [],
          options: [],
        },
        failSubmit: false,
        errMsg: null,
        isStag: false,
        oldId: null,
        oldDataform: {
          username: "",
          password: "",
          email: "",
          selectedRole: [],
          options: [],
        },
        comment: null,
        activity: null,
        newData: null,
        oldData: null,
      };
    },
    mounted() {
      this.getRoles();
    },
    methods: {
      getRoles() {
        const headerPost = {
          Authorization: `Bearer ${localStorage.getItem("token")}`,
        };
        axios
          .get("/api/config/approvedRole", {})
          .then((resp) => {
            console.log(resp);
            if (resp.headers.rtok) {
              tokenUpdate(resp.headers.rtok);
            }
            this.real_roles = resp.data;
            resp.data.map((role) => {
              let newOptions = {
                value: role.id,
                text: role.roleName.includes("_")
                  ? role.roleName.substring(5)
                  : role.roleName,
              };
              this.form.options.push(newOptions);
            });
            this.getData();
          })
          .catch((err) => {
            console.log(err);
            const { isErr, errMsg, route } = requestErrorHandler(err);
            if (isErr) {
              console.log(errMsg);
              this.failSubmit = isErr;
              this.errMsg = errMsg;
              if (route) {
                this.$router.push(route);
              }
            }
          });
      },
      getStagData() {
        this.isStag = true;
  
        const userId = this.$route.params.id;
        axios
          .get(`/api/user/stag/${userId}`, {})
          .then((res) => {
            console.log(res.data);
            if (res.headers.rtok) {
              tokenUpdate(res.headers.rtok);
            }
            this.newData = res.data;
            this.form.username = res.data.username;
            this.form.password = res.data.password;
            this.comment = res.data.comment;
            this.activity =
              res.data.approvalStatus === 4 ? "Revision - Edit Role" : null;
            this.form.selectedRole = res.data.roles.map((role) =>
              role.id ? role.id : role
            );
            this.form.email = res.data.email;
            if (res.data.oldUserId) {
              this.oldId = res.data.oldUserId;
              this.getData();
            }
          })
          .catch((err) => {
            const { isErr, errMsg, route } = requestErrorHandler(err);
            if (isErr) {
              console.log(errMsg);
              this.reqFail = isErr;
              this.errMsg = errMsg;
              if (route) {
                this.$router.push(route);
              }
            }
          });
      },
      getData() {
        const userId = this.oldId ? this.oldId : this.$route.params.id;
        axios
          .get(`/api/user/${userId}`, {})
          .then((res) => {
            console.log(res.data);
            if (res.headers.rtok) {
              tokenUpdate(res.headers.rtok);
            }
            if (res.data.length === 0) this.getStagData();
            else {
              this.oldData = res.data;
              if (this.activity === null) {
                this.activity =
                  res.data.approvalStatus === 4
                    ? "Revision - Edit Role"
                    : this.newData
                    ? "Edit role"
                    : null;
              }
              if (this.oldId) {
                this.oldDataform.username = res.data.username;
                this.oldDataform.password = res.data.password;
                this.oldDataform.selectedRole = res.data.roles.map((role) =>
                  role.id ? role.id : role
                );
                this.oldDataform.email = res.data.email;
              } else {
                this.form.username = res.data.username;
                this.form.password = res.data.password;
                this.form.selectedRole = res.data.roles.map((role) =>
                  role.id ? role.id : role
                );
                this.form.email = res.data.email;
              }
            }
          })
          .catch((err) => {
            const { isErr, errMsg, route } = requestErrorHandler(err);
            if (isErr) {
              console.log(errMsg);
              this.reqFail = isErr;
              this.errMsg = errMsg;
              if (route) {
                this.$router.push(route);
              }
            }
          });
      },
      async submit() {
        event.preventDefault();
        /* eslint-disable no-mixed-spaces-and-tabs */
        let postRole = [];
        this.failSubmit = false;
        this.real_roles.map((data) => {
          this.form.selectedRole.find((el) => {
            if (el === data.id) {
              postRole.push(data);
            }
          });
        });
        if (postRole.length === 0) {
          this.failSubmit = true;
          this.errMsg = "Add roles at least one";
          window.scrollTo(0, 0);
        } else {
          const postData = {
            username: this.form.username,
            password: this.form.password,
            email: this.form.email,
            roles: postRole,
          };
          const notValidEdit = await editvalidator(
            this.oldData,
            this.newData,
            postData,
            "User"
          );
          if (notValidEdit) {
            this.failSubmit = true;
            this.errMsg = "Nothing to update, you should update something";
            window.scrollTo(0, 0);
            return;
          }
          /* eslint-disable no-mixed-spaces-and-tabs */
          const headerPost = {
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          };
          const url = this.isStag ? "api/user/update/stag" : "/api/user/update";
          axios
            .post(url, postData, {})
            .then((resp) => {
              if (resp.status === 200) {
                if (resp.headers.rtok) {
                  tokenUpdate(resp.headers.rtok);
                }
                this.$router.push("/userList");
              } else {
                this.failSubmit = true;
                this.errMsg = "Fail to update user";
              }
            })
            .catch((err) => {
              const { isErr, errMsg, route } = requestErrorHandler(err);
              if (isErr) {
                console.log(errMsg);
                this.failSubmit = isErr;
                this.errMsg = errMsg;
                if (route) {
                  this.$router.push(route);
                }
              }
            });
        }
      },
    },
  };
  </script>
  