<template>
  <div class="mt-5 px-3">
    <div v-if="failSubmit" class="container mb-5">
      <b-alert show variant="danger">{{ this.errMsg }}</b-alert>
    </div>
    <div class="card p-5 col-md-8 mx-auto">
      <h3 class="ml-2 mb-3">Details</h3>
      <hr />
      <h5 v-if="activity" class="ml-1 mb-3 pb-2 border-bottom">
        Activity: {{ activity }}
      </h5>
      <template v-if="oldData">
        <div class="text-right border p-4">
          <template v-if="!onlyOld">
            <h4 class="ml-5 text-left">Old Data</h4>
          </template>
          <b-form-group id="input-group-1">
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Username :</label>
              </b-col>
              <b-col sm="9">
                <b-form-input
                  disabled
                  v-model="oldDataForm.username"
                  required
                  placeholder="Username"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-form-group>

          <b-form-group>
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Email :</label>
              </b-col>
              <b-col sm="9">
                <b-form-input
                  v-model="oldDataForm.email"
                  disabled
                  required
                  placeholder="Email"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-form-group>
          <b-form-group id="input-group-3">
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Role :</label>
              </b-col>
              <b-col sm="9" class="text-left d-flex mt-1">
                <b-form-group>
                  <b-form-checkbox-group
                    stacked
                    class="px-1 py-2"
                    v-model="oldDataForm.selectedRole"
                    :options="form.options"
                    disabled
                  ></b-form-checkbox-group>
                </b-form-group>
              </b-col>
            </b-row>
          </b-form-group>
        </div>
      </template>

      <template v-if="!onlyOld">
        <b-form class="text-right border p-4 mt-3">
          <template v-if="oldData">
            <h4 class="ml-5 text-left">New Data</h4>
          </template>
          <b-form-group id="input-group-1">
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Username :</label>
              </b-col>
              <b-col sm="9">
                <b-form-input
                  disabled
                  v-model="form.username"
                  required
                  placeholder="Username"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-form-group>

          <b-form-group>
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Email :</label>
              </b-col>
              <b-col sm="9">
                <b-form-input
                  v-model="form.email"
                  disabled
                  required
                  placeholder="Email"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-form-group>
          <b-form-group id="input-group-3">
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Role :</label>
              </b-col>
              <b-col sm="9" class="text-left d-flex mt-1">
                <b-form-group>
                  <b-form-checkbox-group
                    stacked
                    class="px-1 py-2"
                    v-model="form.selectedRole"
                    :options="form.options"
                    disabled
                  ></b-form-checkbox-group>
                </b-form-group>
              </b-col>
            </b-row>
          </b-form-group>
          <b-form-group>
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Comment :</label>
              </b-col>
              <b-col sm="9" class="text-left mt-1">
                <b-form-group>
                  <b-textarea
                    class="col-md-12"
                    disabled
                    placeholder="Comment"
                    v-model="comment"
                  ></b-textarea>
                </b-form-group>
              </b-col>
            </b-row>
          </b-form-group>
        </b-form>
      </template>
      <div class="text-right">
        <template v-if="isTokenExpire && $store.getters.isUserMaker">
          <b-button @click="showModal()" class="mt-3" variant="danger"
            >Reset Token Password</b-button
          >
        </template>
        <b-button class="mt-3 mx-2" @click="$router.go(-1)" variant="danger"
          >Back</b-button
        >
      </div>
    </div>
    <b-modal ref="my-modal" :title="modal.title">
      <div class="d-block">
        <p>{{ modal.content }}</p>
      </div>
      <template v-slot:modal-footer>
        <template v-if="isLoading">
          <div class="text-center">
            <b-spinner
              style="width: 2rem; height: 2rem;"
              class="mt-2"
              variant="danger"
              label="Loading"
            ></b-spinner>
          </div>
        </template>
        <template v-else>
          <div>
            <b-button class="btn-modal mr-3" variant="danger" @click="confirm"
              >Yes</b-button
            >
            <b-button class variant="outline-danger" @click="hideModal"
              >Cancel</b-button
            >
          </div>
        </template>
      </template>
    </b-modal>
  </div>
</template>
<script>
import axios from "../../../util/api";
import tokenUpdate from "@/util/tokenUpdate";
import requestErrorHandler from "@/util/requestErrorHandler";
export default {
  data() {
    return {
      form: {
        username: "",
        password: "",
        email: "",
        selectedRole: [],
        options: [],
      },
      failSubmit: false,
      errMsg: null,
      oldData: false,
      oldDataForm: {
        username: "",
        password: "",
        email: "",
        selectedRole: [],
        options: [],
      },
      isDeleteRequest: false,
      activity: null,
      comment: null,
      stagStat: null,
      onlyOld: false,
      isTokenExpire: false,
      isLoading: false,
      modal: {
        title: "",
        content: "",
        type: null,
      },
    };
  },
  mounted() {
    this.getRoles();
  },
  methods: {
    showModal(dt) {
      this.$refs["my-modal"].show();
      this.modal.title = "Reset password token ";
      this.modal.content = "Are you sure want to reset password token?";
      this.modal.type = 3;
    },
    hideModal() {
      this.$refs["my-modal"].hide();
    },
    confirm() {
      this.submit();
    },
    submit() {
      event.preventDefault();
      const userId = this.$route.params.id;
      const headerPost = {
        Authorization: `Bearer ${localStorage.getItem("token")}`,
      };
      this.isLoading = true;
      const url = `/api/user/resetPasswordToken/${userId}`;

      axios
        .post(url, {}, {})
        .then((resp) => {
          if (resp.headers.rtok) {
            tokenUpdate(resp.headers.rtok);
          }
          this.isLoading = false;
          if (resp.status === 200) {
            this.$router.push("/userList");
          } else {
            this.failSubmit = true;
            this.errMsg = "Fail to update user";
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.isLoading = false;
            this.failSubmit = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    getRoles() {
      const headerPost = {
        Authorization: `Bearer ${localStorage.getItem("token")}`,
      };
      axios
        .get("/api/config/approvedRole", {})
        .then((resp) => {
          if (resp.headers.rtok) {
            tokenUpdate(resp.headers.rtok);
          }
          console.log(resp);
          this.real_roles = resp.data;
          resp.data.map((role) => {
            let newOptions = {
              value: role.id,
              text: role.roleName.includes("_")
                ? role.roleName.substring(5)
                : role.roleName,
            };
            this.form.options.push(newOptions);
          });
          this.getData();
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.failSubmit = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    getData() {
      const userId = this.$route.params.id;
      axios
        .get(`/api/user/stag/${userId}`, {})
        .then((res) => {
          console.log(res.data);
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          if (res.data) {
            this.stagStat = parseInt(res.data.approvalStatus);
            this.isTokenExpire = res.data.approvalStatus === 6 ? true : false;
            this.activity =
              this.stagStat === 3
                ? "Delete User"
                : this.stagStat === 0 && res.data.oldUserId == 0
                ? "Create New User"
                : this.stagStat === 4 && res.data.oldUserId != 0
                ? "Revision - Edit User"
                : this.stagStat === 4
                ? "Revision - Create New User"
                : "Edit User";
            this.comment = res.data.comment;
            this.form.username = res.data.username;
            this.form.password = res.data.password;
            this.form.selectedRole = res.data.roles.map((role) =>
              role.id ? role.id : role
            );
            this.form.email = res.data.email;
            this.isDeleteRequest = res.data.approvalStatus === 3 ? true : false;
            if (res.data.oldUserId && res.data.approvalStatus !== 3) {
              this.getOldData(res.data.oldUserId);
            }
          } else {
            this.onlyOld = true;
            this.getOldData(userId);
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    getOldData(oldUserId) {
      this.oldData = true;

      //const userId = this.$route.params.id;
      axios
        .get(`/api/user/${oldUserId}`, {})
        .then((res) => {
          console.log(res);
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          if (res.data.length === 0) this.getStagData();
          else {
            console.log(this.stagStat);
            if (this.stagStat !== null) {
              console.log("aslkdaskld");
              if (this.activity === null) {
                this.activity =
                  this.stagStat === 0
                    ? "Edit User"
                    : this.stagStat === 4
                    ? "Revision"
                    : "View";
              }
            }
            this.oldDataForm.username = res.data.username;
            this.oldDataForm.password = res.data.password;
            this.oldDataForm.selectedRole = res.data.roles.map((role) =>
              role.id ? role.id : role
            );
            this.oldDataForm.email = res.data.email;
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
  },
};
</script>
