<template>
  <div class="mt-3 px-3">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">User List</h3>
        </div>
      </div>
    </div>
    <div v-if="reqFail" class="mx-3 my-4">
      <b-alert show variant="danger">{{ this.errMsg }}</b-alert>
    </div>
    <div v-if="msg" class="mx-3 my-4">
      <b-alert show variant="info">{{ msg }}</b-alert>
    </div>
    <div class="px-4">
      <div class="mt-3 mb-3">
        <b-row>
          <b-col sm="3">
            <b-input
              id="inline-form-input-username"
              v-model="searchBox"
              placeholder="Find User"
            ></b-input>
          </b-col>
          <b-col v-if="isUserMaker" sm="3">
            <router-link to="/adduser">
              <b-button variant="danger">Add User</b-button>
            </router-link>
          </b-col>
          <div class="p-2 ml-auto">
            <b-form-checkbox @change="showAll" v-model="showAllData">
              {{
                $store.getters.isUserMaker
                  ? "Show waiting for revision"
                  : "Show waiting for approval"
              }}
            </b-form-checkbox>
          </div>
        </b-row>
      </div>
      <b-table
        :per-page="perPage"
        :current-page="currentPage"
        :items="items"
        :fields="fields"
        class="mb-3"
        responsive
      >
        <template v-slot:cell(approvalStat)="row">
          {{
            row.item.approvalStat === 1
              ? "Approved"
              : row.item.approvalStat === 2
              ? "Declined"
              : row.item.approvalStat === 3
              ? "Waiting for Approval"
              : row.item.approvalStat === 4
              ? "Waiting for Revision"
              : row.item.approvalStat === 6
              ? "Reset Password Token Expired"
              : "Waiting for Approval"
          }}
        </template>

        <template v-slot:cell(action)="row">
          <template
            v-if="
              $store.getters.isUserMaker &&
              (row.item.approvalStat === 4 || row.item.approvalStat === 1)
            "
          >
            <a
              @click="editUser(row)"
              class="badge py-2 px-3 mr-2 bg-danger text-white"
              >Edit</a
            >
            <a
              v-if="row.item.approvalStat !== 3 && row.item.approvalStat !== 4"
              @click="showModal(row, 0)"
              class="badge py-2 px-3 bg-danger text-white mr-2"
              >Delete</a
            >
          </template>

          <template
            v-if="row.item.approvalStat !== 1 && row.item.approvalStat !== 4"
          >
            <a
              @click="
                !$store.getters.isUserChecker && row.item.approvalStat !== 2
                  ? $router.push(`/userdetails/${row.item.id}`)
                  : $router.push(`/approveUser/${row.item.id}`)
              "
              class="badge py-2 px-3 mr-2 bg-danger text-white"
              >{{ $store.getters.isUserChecker ? "See Details" : "View" }}</a
            >
          </template>

          <template
            v-if="
              (row.item.approvalStat === 1 || row.item.approvalStat === 4) &&
              $store.getters.isUserChecker
            "
          >
            <a
              @click="$router.push(`/userdetails/${row.item.id}`)"
              class="badge py-2 px-3 mr-2 bg-danger text-white"
              >{{ $store.getters.isUserChecker ? "See Details" : "View" }}</a
            >
          </template>
          <a
            v-if="row.item.loginAttempt === 3"
            @click="showModal(row, 1)"
            class="badge py-2 px-3 bg-danger text-white"
            >Reset Attempt</a
          >
        </template>
      </b-table>
      <b-pagination
        class="customPagination"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="my-table"
        pills
      ></b-pagination>
      <p class="mt-3 mx-2">Current Page: {{ currentPage }}</p>
    </div>
    <b-modal ref="my-modal" :title="modalData.title">
      <div class="d-block">
        <p>{{ modalData.caption }}</p>
      </div>
      <template v-slot:modal-footer>
        <div>
          <b-button class="btn-modal mr-3" variant="danger" @click="modalAction"
            >Yes</b-button
          >
          <b-button class variant="outline-danger" @click="hideModal"
            >Cancel</b-button
          >
        </div>
      </template>
    </b-modal>
  </div>
</template>
<script>
import axios from "../../../util/api";
import tokenUpdate from "@/util/tokenUpdate";
import requestErrorHandler from "@/util/requestErrorHandler";
export default {
  name: "user-list",
  props: ["msg"],
  data() {
    return {
      fields: [
        "username",
        { key: "email", label: "Email" },
        { key: "roleName", label: "Role" },
        { key: "loginAttempt", label: "Login Attempt" },
        { key: "approvalStat", label: "Approval Status" },
        { key: "action", label: "Action", tdClass: "user-action-td" },
      ],
      userData: [],
      perPage: 10,
      currentPage: 1,
      selectedUser: "",
      reqFail: false,
      errMsg: "",
      searchBox: "",
      modalData: {
        title: "",
        caption: "",
        action: "",
        modalType: null,
      },
      isUserMaker: this.$store.getters.isUserMaker,
      filteredData: null,
      showAllData: false,
      respReq: null,
    };
  },
  mounted() {
    this.reqData();
  },
  methods: {
    showAll(show) {
      this.userData = show ? this.filteredData : this.respReq;
    },
    editUser(user) {
      this.$router.push(`/edituser/${user.item.id}`);
    },
    showModal(user, modalType) {
      if (modalType === 0) {
        this.modalData.title = "Delete User";
        this.modalData.caption = `Are you sure want to delete ${user.item.username} user?`;
        this.modalData.modalType = 0;
      } else if (modalType === 1) {
        this.modalData.title = "Reset Login Attempt";
        this.modalData.caption = `Are you sure want to reset ${user.item.username} login attempt?`;
        this.modalData.modalType = 1;
      }
      this.$refs["my-modal"].show();
      this.selectedUser = user.item.username;
    },
    hideModal() {
      this.$refs["my-modal"].hide();
    },
    modalAction() {
      const auth = localStorage.getItem("token");
      const url =
        this.modalData.modalType === 0
          ? "/api/user/delete"
          : this.modalData.modalType === 1
          ? "/api/user/resetAttempt"
          : null;
      axios
        .post(
          url,
          {
            username: this.selectedUser,
            wrongPassCount: 0,
          },
          {}
        )
        .then((res) => {
          if (res.status === 200) {
            if (res.headers.rtok) {
              tokenUpdate(res.headers.rtok);
            }
            this.$refs["my-modal"].hide();
            this.reqData();
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },

    reqData() {
      axios
        .get("/api/user/listUser", {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          //this.showAllData = true;
          this.respReq = res.data;
          this.userData = this.respReq;
          if (this.$store.getters.isUserChecker) {
            this.filteredData = res.data.filter((dt) => dt.approvalStat === 0);
          } else {
            this.filteredData = res.data.filter((dt) => dt.approvalStat === 4);
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
  },
  computed: {
    /* eslint-disable no-mixed-spaces-and-tabs */
    items() {
      return this.searchBox
        ? this.userData.filter((item) =>
            item.username.toLowerCase().includes(this.searchBox)
          )
        : this.userData;
    },
    rows() {
      return this.userData.length;
    },
    /* eslint-disable no-mixed-spaces-and-tabs */
  },
};
</script>
<style scoped>
.badge {
  cursor: pointer;
}
</style>
