<template>
  <div class="mt-3 px-3">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Invoices</h3>
        </div>
      </div>
    </div>
    <b-row class="px-4">
      <b-col sm="12">
        <h5>Filter</h5>
      </b-col>
      <b-col sm="6">
        <label>Start Date</label>
        <b-form-datepicker
          id="startDate-datepicker"
          :date-disabled-fn="dateDisabledStart"
          v-model="filter.startDate"
          class="mb-2"
        ></b-form-datepicker>
      </b-col>
      <label></label>
      <b-col sm="6">
        <label>End Date</label>
        <b-form-datepicker
          id="endDate-datepicker"
          :date-disabled-fn="dateDisabled"
          v-model="filter.endDate"
          class="mb-2"
        ></b-form-datepicker>
      </b-col>

      <b-col sm="6">
        <label>Oganization Name</label>
        <b-input
          id="inline-form-input-username"
          v-model="filter.organizationName"
          placeholder="Organization Name"
        ></b-input>
      </b-col>
      <b-col sm="6">
        <label>Status Paid</label>
        <b-form-select
          required
          v-model="filter.paid"
          :options="filter.optionsPaid"
        ></b-form-select>
      </b-col>
    </b-row>
    <b-row class="px-4 mt-2">
      <b-col sm="4">
        <b-button variant="danger" @click="search()">Search</b-button>

        <b-button variant="danger" class="mx-2" @click="reqData()"
          >Clear Filter</b-button
        >
      </b-col>
    </b-row>
    <b-table
      :per-page="perPage"
      :current-page="currentPage"
      :items="invoiceData"
      :fields="fields"
      show-empty
      class="mt-3 px-4"
      responsive
      @row-clicked="goToDetail"
    >
      <template v-slot:empty="scope">
        <b-alert show variant="danger">{{ scope.emptyText }}</b-alert>
      </template>
      <template v-slot:cell(period)="row"
        >{{ row.item.month }}/{{ row.item.year }}</template
      >
      <template v-slot:cell(paid)="row">{{ row.item.paid }}</template>
    </b-table>
    <b-pagination
      class="customPagination"
      v-model="currentPage"
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="my-table"
      pills
    ></b-pagination>
  </div>
</template>
<script>
import axios from "../../../util/api";
import tokenUpdate from "@/util/tokenUpdate";
import requestErrorHandler from "@/util/requestErrorHandler";
export default {
  data() {
    return {
      currentPage: 1,
      perPage: 10,
      selectedMonth: "null",
      optionsMonth: [{ value: "null", text: "SelectMonth", disabled: true }],
      selectedYear: "null",
      optionsYear: [{ value: "null", text: "SelectYear", disabled: true }],
      filterData: null,
      filterOn: [],
      filter: {
        startDate: null,
        endDate: null,
        organizationName: "",
        paid: null,
        optionsPaid: [
          { value: null, text: "---" },
          { value: true, text: "Paid" },
          { value: false, text: "Not Paid" },
        ],
      },
      invoiceData: [
        {
          month: "",
          year: "",
          organization: {
            organizationId: "",
            oganrizationName: "",
          },
        },
      ],
      fields: [
        { key: "organization.organizationName", label: "Organization" },
        { key: "period", label: "Period" },
        { key: "totalAmount" },
        { key: "dueDate" },
        { key: "virtualAccountNumber", label: "VA Number" },
        { key: "paid", label: "Status Paid" },
      ],
    };
  },
  mounted() {
    this.reqData();
  },
  methods: {
    dateDisabledStart(ymd) {
      //const day = date.getDate();
      return ymd >= this.filter.endDate;
    },
    dateDisabled(ymd) {
      //const day = date.getDate();
      return ymd <= this.filter.startDate;
    },
    search() {
      axios
        .get(`/api/invoice/getperiodinvoice/`, {
          params: {
            startDate: this.filter.startDate,
            endDate: this.filter.endDate,
            organizationName: this.filter.organizationName,
            isPaid: this.filter.paid,
          },
        })
        .then((response) => {
          this.invoiceData = response.data;
          if (response.headers.rtok) {
            tokenUpdate(response.headers.rtok);
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);

            this.reqFail = isErr;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    goToDetail(record) {
      this.$router.push(`/invoiceDetail/${record.id}`);
    },
    reqData() {
      this.filter.startDate = null;
      this.filter.endDate = null;
      this.filter.organizationName = "";
      this.filter.paid = "";

      let startDate = new Date();
      let endDate = new Date();
      startDate.setDate(1);
      endDate.setDate(30);

      axios
        .get(`/api/invoice/getperiodinvoice/`, {
          params: {
            startDate: startDate.toISOString().substring(0, 10),
            endDate: endDate.toISOString().substring(0, 10),
          },
        })
        .then((response) => {
          if (response.headers.rtok) {
            tokenUpdate(response.headers.rtok);
          }
          this.invoiceData = response.data;
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
  },
  computed: {
    /* eslint-disable no-mixed-spaces-and-tabs */

    rows() {
      return this.invoiceData?.length || null;
    },
    /* eslint-disable no-mixed-spaces-and-tabs */
  },
};
</script>
>
