<template>
  <div class="mt-5 px-3">
    <div v-if="failSubmit" class="container mb-5">
      <b-alert show variant="danger">{{ this.errMsg }}</b-alert>
    </div>
    <div class="card p-5 col-md-12 mx-auto">
      <h3 class="mb-3">Invoice Detail</h3>
      <hr />
      <b-row>
        <b-col md="12">
          <div class="py-2">
            <b-col sm="12">
              <label class="pt-1" for="input-default"
                >Inovice Number : {{ invoiceNumber }}</label
              >
            </b-col>
          </div>
        </b-col>
        <b-col md="4">
          <div class="py-2">
            <b-col sm="12">
              <label class="pt-1 px-0 col-sm-12" for="input-default"
                >Organization name :</label
              >
              <label class="pt-1 px-0 col-sm-12" for="input-default">
                {{ orgData.organizationName }}
              </label>
            </b-col>
          </div>
        </b-col>
        <b-col md="4">
          <div class="py-2">
            <b-col sm="12">
              <label class="pt-1 px-0 col-sm-12" for="input-default"
                >Owner :</label
              >
              <label class="pt-1 px-0 col-sm-12" for="input-default">
                {{ orgData.ownerUsername }}
              </label>
            </b-col>
          </div>
        </b-col>
        <b-col md="4">
          <div class="py-2">
            <b-col sm="12">
              <label class="pt-1 px-0 col-sm-12" for="input-default"
                >Organization email :</label
              >
              <label class="pt-1 px-0 col-sm-12" for="input-default">
                {{ orgData.ownerEmail }}
              </label>
            </b-col>
          </div>
        </b-col>
        <b-col md="4">
          <div class="py-2">
            <b-col sm="12">
              <label class="pt-1 px-0 col-sm-12" for="input-default"
                >VA Number :</label
              >
              <label class="pt-1 px-0 col-sm-12" for="input-default">
                {{ vaNumber }}
              </label>
            </b-col>
          </div>
        </b-col>
        <b-col md="4">
          <div class="py-2">
            <b-col sm="12">
              <label class="pt-1 px-0 col-sm-12" for="input-default"
                >Period :</label
              >
              <label class="pt-1 px-0 col-sm-12" for="input-default">
                {{ period }}
              </label>
            </b-col>
          </div>
        </b-col>
        <b-col md="4">
          <div class="py-2">
            <b-col sm="12">
              <label class="pt-1 px-0 col-sm-12" for="input-default"
                >Due Date :</label
              >
              <label class="pt-1 px-0 col-sm-12" for="input-default">
                {{ dueDate }}
              </label>
            </b-col>
          </div>
        </b-col>
      </b-row>

      <div class="card-header border-0">
        <div class="row align-items-center">
          <h3 class="mb-0 px-0">Invoice Detail</h3>
        </div>
      </div>
      <b-table
        :per-page="perPage"
        :current-page="currentPage"
        :items="detailData"
        :fields="fields"
        class="mb-3"
        @row-clicked="showDetail"
        responsive
      ></b-table>

      <div class="d-flex">
        <b-button
          class="mt-3 ml-auto"
          v-b-modal="'modalDownload'"
          variant="danger"
          >Download Inovice</b-button
        >
        <b-button
          class="mt-3 px-3 ml-2"
          @click="$router.go(-1)"
          variant="danger"
          >Back</b-button
        >
      </div>
    </div>

    <b-modal ref="detailModal" id="modalDownload" title="Download Confrimation">
      <div class="d-block text-center">Are you want to download this file?</div>
      <template v-slot:modal-footer>
        <div class="d-flex">
          <b-button
            class="mt-3 ml-auto"
            @click="downloadInvoice"
            variant="danger"
            >Download Inovice</b-button
          >
        </div>
      </template>
    </b-modal>

    <b-modal ref="detailModal" hide-footer size="xl" :title="modalData.title">
      <div class="d-block text-center">
        <b-table
          responsive
          :per-page="perPage"
          :current-page="currentPage"
          :items="modalData.data"
          :fields="modalData.fields"
          class="mb-3"
        ></b-table>
        <li v-for="(tierLvl, index) in tierLvl" :key="index">{{ tierLvl }}</li>
      </div>
    </b-modal>
  </div>
</template>
<script>
import axios from "../../../util/api";
import tokenUpdate from "@/util/tokenUpdate";
import requestErrorHandler from "@/util/requestErrorHandler";

export default {
  data() {
    return {
      orgData: {
        organizationName: "",
        ownerUsername: "",
      },
      modalData: {
        title: "",
        caption: "",
        type: "",
        data: [],
        fields: [],
      },
      fields: [
        { key: "appName", label: "Apps Name" },
        { key: "productName", label: "Api Product" },
        "billingSchemeType",
        "usageCount",
        "subscriptionChargeTotal",
      ],
      period: "",
      dueDate: "",
      invoiceNumber: "",
      detailData: [],
      perPage: 10,
      currentPage: 1,
      failSubmit: false,
      isLoading: false,
      vaNumber: "",
      errMsg: null,
      options: [],
      selected: { appid: "", appname: "", apiproduct: "", scheme: "" },
      isChecker: this.$store.getters.isChecker,
      tierLvl: [],
    };
  },
  mounted() {
    this.getData();
  },
  methods: {
    downloadInvoice() {
      const id = this.$route.params.id;
      axios
        .get(`api/invoice/getinvoice/${id}`, {
          responseType: "arraybuffer",
        })
        .then((response) => {
          if (response.headers.rtok) {
            tokenUpdate(response.headers.rtok);
          }
          let blob = new Blob([response.data], { type: "application/pdf" });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = `invoices-${this.vaNumber}.pdf`;
          link.click();
          this.$refs["detailModal"].hide();
          console.log(response.data);
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.$refs["detailModal"].hide();
            this.reqFail = isErr;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    getData() {
      const id = this.$route.params.id;
      axios
        .get(`api/invoice/getinvoicedetail/${id}`, {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          this.orgData = res.data[0].organization;
          this.detailData = res.data;
          this.period = `${res.data[0].month}/${res.data[0].year}`;
          this.dueDate = res.data[0].invoice.dueDate;
          this.invoiceNumber = this.pad(id, 13);
          this.vaNumber = res.data[0].invoice.virtualAccountNumber;
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);

            this.reqFail = isErr;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    pad(id, max) {
      id = id.toString();
      return id.length < max ? this.pad("0" + id, max) : id;
    },
    showDetail(row) {
      this.modalData.title = "Details";
      console.log(row.billingSchemeType.toUpperCase());
      this.modalData.data = [];
      if (row.billingSchemeType.toUpperCase() === "FLAT") {
        let data = {
          usage: row.usageCountFlat,
          subtotal: row.usageSubtotalFlat,
          charge: row.usageChargeFlat,
        };
        this.modalData.data.push(data);
        this.modalData.fields = ["charge", "usage", "subtotal"];
      } else {
        for (let i = 1; i <= 5; i++) {
          let minCall;
          let maxCall;
          let usage;
          let subtotal;
          let charge;
          minCall = row[`minCallTier${i}`];
          maxCall =
            row[`maxCallTier${i}`] === 999999
              ? "Max Call"
              : row[`maxCallTier${i}`];
          usage = row[`usageCountTier${i}`];
          subtotal = row[`usageSubtotalTier${i}`];
          charge = row[`usageChargeTier${i}`];

          let data = {
            TierLvl: i,
            minCall,
            maxCall,
            usage,
            subtotal,
            charge,
          };
          if (data.minCall > 0) {
            this.modalData.data.push(data);
          }
        }
        this.modalData.fields = [
          "TierLvl",
          { value: "maxCall", text: "Volume Usage" },
          "charge",
          "usage",
          "subtotal",
        ];
      }
      this.$refs["detailModal"].show();
    },
  },
};
</script>

<style scoped>
.badge {
  cursor: pointer;
}
.longtext {
  white-space: nowrap;
  width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.longtext a {
  color: black !important;
}
</style>
