<template>
  <div class="mt-3 px-3">
    <div v-if="reqFail" class="container mb-5">
      <b-alert show variant="danger">{{ this.errMsg }}</b-alert>
    </div>
    <div v-if="reqSuccess" class="container mb-5">
      <b-alert show variant="success">{{ this.succMsg }}</b-alert>
    </div>
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">System Properties</h3>
        </div>
      </div>
    </div>
    <div class="px-4">
      <div class="mt-3 mb-3">
        <b-row>
          <b-col sm="3">
            <b-input
              id="inline-form-input-username"
              v-model="searchBox"
              placeholder="Find Properties"
            ></b-input>
          </b-col>
        </b-row>
      </div>
      <template v-if="isLoading">
        <div class="text-center mt-5 pt-5">
          <b-spinner
            style="width: 3rem; height: 3rem"
            class="mt-5"
            variant="danger"
            label="Large Spinner"
          ></b-spinner>
        </div>
      </template>
      <template v-else>
        <b-table
          :per-page="perPage"
          :current-page="currentPage"
          :items="items"
          :fields="fields"
          class="mb-3"
          responsive
        >
          <template v-slot:cell(action)="row">
            <a
              @click="row.toggleDetails"
              class="badge py-2 px-3 bg-danger text-white"
              >{{ row.detailsShowing ? "Cancel " : "Edit" }}</a
            >
          </template>

          <template v-slot:row-details="row">
            <b-card>
              <div v-if="errEdit" class="container mb-5">
                <b-alert show variant="danger">{{ errEditMsg }}</b-alert>
              </div>
              <b-row class="mb-2">
                <b-col sm="3" class="text-sm-right">
                  <b>Property Value:</b>
                </b-col>
                <b-col>
                  <b-input v-model="row.item.propertyValue"></b-input>
                </b-col>
              </b-row>
              <b-col>
                <div class="text-right">
                  <b-button
                    variant="danger"
                    class="px-5 mr-3"
                    size="sm"
                    @click="edit(row)"
                    >Save</b-button
                  >
                </div>
              </b-col>
            </b-card>
          </template>
        </b-table>
        <b-pagination
          class="customPagination"
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          aria-controls="my-table"
          pills
        ></b-pagination>
        <p class="mt-3 mx-2">Current Page: {{ currentPage }}</p>
      </template>
    </div>
  </div>
</template>
<script>
import axios from "../../../util/api";
import tokenUpdate from "@/util/tokenUpdate";
import requestErrorHandler from "@/util/requestErrorHandler";
export default {
  name: "user-list",
  data() {
    return {
      fields: [
        "propertyName",
        "propertyValue",
        "lastModified",
        { key: "lastModifiedBy", label: "Last Modified By" },
        "propertyDescription",
        "action",
      ],
      userData: [],
      perPage: 10,
      currentPage: 1,
      selectedProps: "",
      reqFail: false,
      reqSuccess: false,
      errMsg: "",
      errEdit: false,
      errEditMsg: "",
      succMsg: "",
      searchBox: "",
      isLoading: false,
      modalData: {
        title: "",
        caption: "",
        action: "",
        modalType: null,
        propertyName: "",
        propertyValue: "",
      },
    };
  },
  mounted() {
    this.reqData();
  },
  methods: {
    edit(data) {
      console.log(data);
      if (data.item.propertyValue < 1 || !data.item.propertyValue) {
        this.errEdit = true;
        this.errEditMsg = "Data cannot be null";
        return;
      }
      const auth = localStorage.getItem("token");
      const url = "/api/properties/update";
      this.isLoading = true;
      axios
        .post(
          url,
          {
            id: data.item.id,
            propertyValue: data.item.propertyValue,
          },
          {}
        )
        .then((res) => {
          if (res.status === 200) {
            if (res.headers.rtok) {
              tokenUpdate(res.headers.rtok);
            }
            this.reqData();
            data.toggleDetails();
            this.reqSuccess = true;
            this.succMsg = "Data succesfully edited";
            this.isLoading = false;
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            data.toggleDetails();
            this.isLoading = false;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    showModal() {
      this.modalData.title = "Add Properties";
      this.modalData.caption = ``;
      this.modalData.modalType = 0;
      this.$refs["my-modal"].show();
    },
    hideModal() {
      this.$refs["my-modal"].hide();
    },

    reqData() {
      axios
        .get("/api/properties/getAll", {})
        .then((res) => {
          console.log(res.data);
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          this.userData = res.data;
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            this.isLoading = false;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
  },
  computed: {
    /* eslint-disable no-mixed-spaces-and-tabs */
    items() {
      return this.searchBox
        ? this.userData.filter((item) =>
            item.propertyName.toLowerCase().includes(this.searchBox)
          )
        : this.userData;
    },
    rows() {
      return this.userData.length;
    },
    /* eslint-disable no-mixed-spaces-and-tabs */
  },
};
</script>
<style scoped>
.badge {
  cursor: pointer;
}
</style>
