<template>
  <div class="mt-3 px-3">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Add Role</h3>
        </div>
      </div>
    </div>
    <hr />
    <div v-if="reqFail" class="container mb-5">
      <b-alert show variant="danger">{{ this.errMsg }}</b-alert>
    </div>
    <b-col md="12">
      <div class="py-2">
        <b-col sm="12">
          <h5 class="col-md-6 m-0 p-0" for="input-default">Role name :</h5>
          <b-input class="col-md-6" v-model="roleData.roleName"></b-input>
        </b-col>
      </div>
    </b-col>
    <b-col md="12" class="px-4 py-2">
      <div class="px-2">
        <div class="border p-2">
          <h5>Authority Page</h5>
          <b-form-group>
            <b-form-checkbox
              v-for="page in pageData"
              v-model="selectedPages"
              :key="page.id"
              :value="page.id"
              class="px-5 py-2"
              >{{ page.label }}</b-form-checkbox
            >
          </b-form-group>
        </div>
        <div class="pt-3">
          <b-button v-if="!loading" @click="Add" variant="danger">Add</b-button>

          <b-spinner
            v-if="loading"
            style="width: 2rem; height: 2rem"
            class="pt-2"
            variant="danger"
            label="Loading"
          ></b-spinner>
          <b-button @click="cancel" variant="danger" class="ml-3"
            >Back</b-button
          >
        </div>
      </div>
    </b-col>
  </div>
</template>
<script>
import axios from "../../../util/api";
import tokenUpdate from "@/util/tokenUpdate";
import requestErrorHandler from "@/util/requestErrorHandler";
export default {
  name: "add-role",
  data() {
    return {
      roleData: {
        roleName: "",
      },
      selectedPages: [],
      pageData: [],
      reqFail: false,
      loading: false,
    };
  },
  mounted() {
    this.getPageList();
  },
  methods: {
    cancel() {
      this.$router.push("/roleconfig");
    },
    getPageList() {
      axios
        .get(`/api/config/getallpages`, {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          this.pageData = res.data;
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    Add() {
      this.loading = true;
      if (
        this.roleData.roleName.length === 0 ||
        this.selectedPages.length === 0
      ) {
        this.reqFail = true;
        this.errMsg = "Rolename and Authority page is required";
        this.loading = false;
        return;
      }
      let pagesArr = [];
      this.selectedPages.map((data) => {
        let page = {
          id: data,
        };
        pagesArr.push(page);
      });
      const role = {
        roleName: this.roleData.roleName,
      };
      const postData = {
        role: role,
        page: pagesArr,
      };
      console.log(postData);

      axios
        .post(`/api/config/addRoles`, postData, {})
        .then((resp) => {
          if (resp.status === 200) {
            if (resp.headers.rtok) {
              tokenUpdate(resp.headers.rtok);
            }
            this.$router.push("/roleconfig");
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.loading = false;
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
  },
  computed: {
    rows() {
      return this.userData.length;
    },
  },
};
</script>
<style scoped>
.badge {
  cursor: pointer;
}
</style>
