<template>
  <div class="mt-3 px-3">
    <div v-if="reqFail" class="container mb-5">
      <b-alert show variant="danger">{{ this.errMsg }}</b-alert>
    </div>
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Details</h3>
        </div>
      </div>
    </div>
    <hr />
    <b-col md="12">
      <div class="py-2">
        <b-col sm="12">
          <h5 class="pt-1 font-weight-normal" for="input-default">
            Role name : {{ roleData.roleName }}
          </h5>
          <h6 class="pt-1 font-weight-normal" for="input-default">
            Activity : {{ activity }}
          </h6>
        </b-col>
      </div>
    </b-col>
    <b-col md="12" class="px-4">
      <div class="px-2">
        <div class="border p-2">
          <h5>Authority Page</h5>
          <template v-if="hasOldData">
            <hr />
            <div class="px-3">
              <h6 class="text-left">Old Data</h6>
              <hr />
              <b-form-group>
                <b-form-checkbox
                  disabled
                  v-for="page in pageData"
                  v-model="oldData.selectedPages"
                  :key="page.id"
                  :value="page.id"
                  class="px-5 py-2"
                  >{{ page.label }}</b-form-checkbox
                >
              </b-form-group>
            </div>
          </template>

          <template>
            <div class="px-3">
              <template v-if="hasOldData">
                <h6 class="text-left">New Data</h6>
                <hr />
              </template>
              <b-form-group>
                <b-form-checkbox
                  disabled
                  v-for="page in pageData"
                  v-model="selectedPages"
                  :key="page.id"
                  :value="page.id"
                  class="px-5 py-2"
                  >{{ page.label }}</b-form-checkbox
                >
              </b-form-group>
              <b-form-group>
                <p class="col-md-6 m-0 p-0" for="input-default">Comment :</p>
                <b-textarea
                  class="col-md-6"
                  placeholder="Comment"
                  v-model="comment"
                ></b-textarea>
              </b-form-group>
            </div>
          </template>
        </div>

        <div class="py-3">
          <template v-if="!isDecline">
            <b-button @click="showModal(1)" variant="danger">Approve</b-button>
            <b-button
              @click="showModal(2)"
              v-if="!isDeleteRequest"
              class="mx-2"
              variant="danger"
              >Ask for Revision</b-button
            >
            <b-button @click="showModal(0)" class="mx-2" variant="danger"
              >Decline</b-button
            >
          </template>
          <b-button @click="cancel" variant="danger">Back</b-button>
        </div>
      </div>
    </b-col>
    <b-modal ref="my-modal" :title="modal.title">
      <div class="d-block">
        <p>{{ modal.content }}</p>
      </div>
      <template v-slot:modal-footer>
        <div>
          <b-button class="btn-modal mr-3" variant="danger" @click="confirm"
            >Yes</b-button
          >
          <b-button class variant="outline-danger" @click="hideModal"
            >Cancel</b-button
          >
        </div>
      </template>
    </b-modal>
  </div>
</template>

<script>
import axios from "../../../util/api";
import tokenUpdate from "@/util/tokenUpdate";
import requestErrorHandler from "@/util/requestErrorHandler";
export default {
  name: "edit-role",
  data() {
    return {
      modal: {
        title: "",
        content: "",
        type: null,
      },
      roleData: {
        roleName: "",
      },
      oldData: {
        oldId: null,
        selectedPages: [],
      },
      selectedPages: [],
      pageData: [],
      comment: null,
      reqFail: false,
      hasOldData: false,
      hasNewData: false,
      isDeleteRequest: false,
      isDecline: false,
      activity: null,
      roleStagStat: null,
    };
  },
  mounted() {
    this.reqData();
    this.getPageList();
  },
  methods: {
    showModal(dt) {
      this.$refs["my-modal"].show();
      if (dt == 1) {
        this.modal.title = "Approve";
        this.modal.content = "Are you sure want to approve the request?";
        this.modal.type = 1;
      } else if (dt == 2) {
        this.modal.title = "Ask for Revision";
        this.modal.content = "Are you sure want to ask a revision?";
        this.modal.type = 2;
      } else {
        this.modal.title = "Decline";
        this.modal.content = "Are you sure want to decline the request?";
        this.modal.type = 0;
      }
    },
    hideModal() {
      this.$refs["my-modal"].hide();
    },
    confirm() {
      this.modal.type === 1
        ? this.approve()
        : this.modal.type === 2
        ? this.revision()
        : this.decline();
    },
    cancel() {
      this.$router.push("/roleconfig");
    },
    reqData() {
      const id = this.$route.params.id;
      axios
        .get(`/api/config/roleStagDetail/${id}`, {})
        .then((res) => {
          console.log(res);
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          this.comment = res.data[0].comment;
          this.roleData.roleName = res.data[0]?.roleName || res.data.roleName;
          if (res.data[0]?.pageId !== undefined) {
            this.selectedPages = res.data.map((dt) => dt.pageId);
          }
          this.roleStagStat = parseInt(res.data[0].approvalStatus);
          this.activity =
            parseInt(res.data[0].approvalStatus) === 3
              ? "Delete Role"
              : parseInt(res.data[0].approvalStatus) === 0
              ? "Create New Role"
              : "Edit Role";

          parseInt(res.data[0].approvalStatus) === 3
            ? (this.isDeleteRequest = true)
            : (this.isDeleteRequest = false);
          parseInt(res.data[0].approvalStatus) === 2
            ? (this.isDecline = true)
            : (this.isDecline = false);
          console.log(res.data[0].oldRoleId);
          if (this.roleStagStat != 3) {
            if (parseInt(res.data[0].oldRoleId) !== 0) {
              this.hasOldData = true;
              this.getOldData(res.data[0].oldRoleId);
              this.oldData.oldId = res.data[0].oldRoleId;
              console.log(this.oldData.oldId);
            }
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    getOldData(id) {
      console.log(this.oldData.oldId);
      axios
        .get(`/api/config/roleDetail/${id}`, {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }

          this.activity = this.roleStagStat === 0 ? "Edit role" : this.activity;
          if (res.data[0]?.pageId !== undefined) {
            this.oldData.selectedPages = res.data.map((dt) => dt.pageId);
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    getPageList() {
      axios
        .get(`/api/config/getallpages`, {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          this.pageData = res.data;
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    approve() {
      const id = this.$route.params.id;
      console.log(id);

      const url = this.isDeleteRequest
        ? `api/config/approveDeleteRole/`
        : `api/config/approveRole/`;
      axios
        .post(
          url,
          {
            id: id,
            comment: this.comment,
          },
          {}
        )
        .then((resp) => {
          if (resp.headers.rtok) {
            tokenUpdate(resp.headers.rtok);
          }
          if (resp.status === 200) {
            this.$router.push({
              name: "rolelist",
              params: { msg: "Task has been successfully Approved" },
            });
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    decline() {
      const id = this.$route.params.id;

      axios
        .post(
          `api/config/declineStag/`,
          {
            id: id,
            comment: this.comment,
          },
          {}
        )
        .then((resp) => {
          if (resp.status === 200) {
            if (resp.headers.rtok) {
              tokenUpdate(resp.headers.rtok);
            }
            this.$router.push({
              name: "rolelist",
              params: { msg: "Task has been successfully Declined" },
            });
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    revision() {
      const id = this.$route.params.id;

      axios
        .post(
          `api/config/revision/${id}`,
          {
            id: id,
            comment: this.comment,
          },
          {}
        )
        .then((resp) => {
          if (resp.status === 200) {
            if (resp.headers.rtok) {
              tokenUpdate(resp.headers.rtok);
            }
            this.$router.push({
              name: "rolelist",
              params: { msg: "Task has been asked for Revision" },
            });
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
  },

  computed: {
    rows() {
      return this.userData.length;
    },
  },
};
</script>
<style scoped>
.badge {
  cursor: pointer;
}
</style>
