<template>
  <div class="mt-3 px-3">
    <div v-if="reqFail" class="container mb-5">
      <b-alert show variant="danger">{{ this.errMsg }}</b-alert>
    </div>
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Details Role</h3>
        </div>
      </div>
    </div>
    <hr />
    <b-col md="12">
      <div class="py-2">
        <b-col sm="12">
          <h5 class="pt-1" for="input-default">
            Role name : {{ roleData.roleName }}
          </h5>
          <h6 v-if="activity" class="pt-1 font-weight-normal">
            Activity : {{ activity }}
          </h6>
        </b-col>
      </div>
    </b-col>
    <b-col md="12" class="px-4">
      <div class="px-2">
        <div class="border p-3">
          <h5>Authority Page:</h5>
          <template v-if="hasOldData">
            <hr />
            <div class="px-3">
              <h6 class="text-left">Old Data</h6>
              <hr />
              <b-form-group>
                <b-form-checkbox
                  disabled
                  v-for="page in pageData"
                  v-model="oldData.selectedPages"
                  :key="page.id"
                  :value="page.id"
                  class="px-5 py-2"
                  >{{ page.label }}</b-form-checkbox
                >
              </b-form-group>
            </div>
          </template>

          <template v-if="hasNewData && !isDeleteRequest">
            <div class="px-3">
              <template v-if="hasOldData">
                <h6 class="text-left">New Data</h6>
                <hr />
              </template>
              <b-form-group>
                <b-form-checkbox
                  disabled
                  v-for="page in pageData"
                  v-model="selectedPages"
                  :key="page.id"
                  :value="page.id"
                  class="px-5 py-2"
                  >{{ page.label }}</b-form-checkbox
                >
              </b-form-group>
              <b-form-group v-if="comment">
                <p class="col-md-6 m-0 p-0" for="input-default">Comment :</p>
                <b-textarea
                  class="col-md-6"
                  disabled
                  placeholder="Comment"
                  v-model="comment"
                ></b-textarea>
              </b-form-group>
            </div>
          </template>
        </div>
        <div class="py-3">
          <b-button @click="cancel" variant="danger">Back</b-button>
        </div>
      </div>
    </b-col>
  </div>
</template>

<script>
import axios from "../../../util/api";
import tokenUpdate from "@/util/tokenUpdate";
import requestErrorHandler from "@/util/requestErrorHandler";
export default {
  name: "edit-role",
  data() {
    return {
      roleData: {
        roleName: "",
      },
      oldData: {
        oldId: null,
        selectedPages: [],
      },
      selectedPages: [],
      pageData: [],
      reqFail: false,
      hasOldData: false,
      hasNewData: false,
      isNotNewData: false,
      isDeleteRequest: false,
      isNotApproved: false,
      activity: null,
      comment: "",
      stagStat: null,
    };
  },
  mounted() {
    this.reqData();
    this.getPageList();
  },
  methods: {
    showModal() {
      this.$refs["my-modal"].show();
    },
    hideModal() {
      this.$refs["my-modal"].hide();
    },
    deleteRole() {
      const auth = localStorage.getItem("token");
      const id = this.$route.params.id;
      axios
        .get(`/api/config/deleteRole/${id}`, {})
        .then((res) => {
          if (res.status === 200) {
            if (res.headers.rtok) {
              tokenUpdate(res.headers.rtok);
            }
            this.$router.push("/roleconfig");
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    cancel() {
      this.$router.push("/roleconfig");
    },
    reqData() {
      const id = this.$route.params.id;
      axios
        .get(`/api/config/roleStagDetail/${id}`, {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          this.roleData.roleName = res.data[0]?.roleName || res.data.roleName;
          if (res.data[0]?.pageId !== undefined) {
            this.selectedPages = res.data.map((dt) => dt.pageId);
          }
          if (res.data.length > 0) {
            this.hasNewData = true;
            console.log(res.data);
            this.comment = res.data[0].comment;
            this.stagStat = parseInt(res.data[0].approvalStatus);
            this.activity =
              this.stagStat === 3
                ? "Delete Role"
                : this.stagStat === 4
                ? "Revision - Create New Role"
                : this.stagStat === 0
                ? "Create New Role"
                : "Edit Role";

            parseInt(res.data[0].approvalStatus) === 3
              ? (this.isDeleteRequest = true)
              : (this.isDeleteRequest = false);
            parseInt(res.data[0].approvalStatus) === 2
              ? (this.isDecline = true)
              : (this.isDecline = false);
            if (res.data[0].oldRoleId > 0) {
              this.oldData.oldId = res.data[0].oldRoleId;
              console.log(this.oldData.oldId);

              this.getOldData(res.data[0].oldRoleId);
              this.isCreateNewRole =
                res.data[0].approvalStatus !== 0 ? "Create new role" : "";
              this.isNotApproved =
                res.data[0].approvalStatus !== 1 ? true : false;
            }
          } else {
            console.log("asdasd");
            this.isNotNewData = true;
            this.getOldData(id);
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    getOldData(id) {
      this.hasOldData = true;
      console.log(this.oldData.oldId);
      axios
        .get(`/api/config/roleDetail/${id}`, {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          if (this.hasNewData) {
            this.stagStat === 0
              ? (this.activity = "Edit Role")
              : this.stagStat === 4
              ? (this.activity = "Revision - Edit Role")
              : this.stagStat === 3
              ? (this.activity = "Delete Role")
              : "View Role";
          }

          this.roleData.roleName = res.data[0]?.roleName || res.data.roleName;
          this.isNotApproved = res.data[0].approvalStatus !== 1 ? true : false;

          this.oldData.selectedPages = res.data.map((dt) => dt.pageId);
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    getPageList() {
      axios
        .get(`/api/config/getallpages`, {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          this.pageData = res.data;
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
  },

  computed: {
    rows() {
      return this.userData.length;
    },
  },
};
</script>
<style scoped>
.badge {
  cursor: pointer;
}
</style>
