<template>
  <div class="mt-3 px-3">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Edit Role</h3>
        </div>
      </div>
    </div>
    <hr />
    <div v-if="reqFail" class="container mb-5">
      <b-alert show variant="danger">{{ this.errMsg }}</b-alert>
    </div>
    <b-col md="12">
      <div class="py-2">
        <b-col sm="12">
          <h5 class="pt-1 font-weight-normal">
            Role name : {{ roleData.roleName }}
          </h5>
          <h6 v-if="activity" class="pt-1 font-weight-normal">
            Activity : {{ activity }}
          </h6>
        </b-col>
      </div>
    </b-col>
    <b-col md="12" class="px-4">
      <div class="px-2">
        <div class="border p-2">
          <h5>Authority Page</h5>

          <template v-if="oldDataId !== null">
            <hr />
            <div class="px-3">
              <h6 class="text-left">Old Data</h6>
              <hr />
              <b-form-group>
                <b-form-checkbox
                  disabled
                  v-for="page in pageData"
                  v-model="oldData.selectedPages"
                  :key="page.id"
                  :value="page.id"
                  class="px-5 py-2"
                  >{{ page.label }}</b-form-checkbox
                >
              </b-form-group>
            </div>
          </template>
          <div class="px-3">
            <template v-if="oldDataId !== null">
              <h6 class="text-left">New Data</h6>
              <hr />
            </template>
            <b-form-group>
              <b-form-checkbox
                v-for="page in pageData"
                v-model="selectedPages"
                :key="page.id"
                :value="page.id"
                class="px-5 py-2"
                >{{ page.label }}</b-form-checkbox
              >
            </b-form-group>
            <b-form-group v-if="comment">
              <p class="col-md-6 m-0 p-0" for="input-default">Comment :</p>
              <b-textarea
                class="col-md-6"
                disabled
                placeholder="Comment"
                v-model="comment"
              ></b-textarea>
            </b-form-group>
          </div>
        </div>
        <div class="py-3">
          <b-button @click="update" variant="danger">Update</b-button>
          <b-button @click="cancel" variant="danger" class="ml-3"
            >Back</b-button
          >
        </div>
      </div>
    </b-col>
  </div>
</template>

<script>
import axios from "../../../util/api";
import tokenUpdate from "@/util/tokenUpdate";
import requestErrorHandler from "@/util/requestErrorHandler";
export default {
  name: "edit-role",
  data() {
    return {
      roleData: {
        roleName: "",
      },
      oldData: {
        selectedPages: [],
      },
      selectedPages: [],
      pageData: [],
      reqFail: false,
      isStag: false,
      oldDataId: null,
      comment: null,
      activity: null,
      stagStat: null,
      respData: null,
    };
  },
  mounted() {
    this.reqData();
    this.getPageList();
  },
  methods: {
    cancel() {
      this.$router.push("/roleconfig");
    },
    getStagData() {
      this.isStag = true;

      const id = this.$route.params.id;
      axios
        .get(`/api/config/roleStagDetail/${id}`, {})
        .then((res) => {
          console.log(res.data);
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          this.comment = res.data[0].comment;
          this.stagStat = parseInt(res.data[0].approvalStatus);
          this.respData = res.data.length;
          this.activity =
            this.stagStat === 4 ? "Revision - Edit Role" : "Edit role";
          if (parseInt(res.data[0].oldRoleId) > 0) {
            console.log("hasoldData");
            this.oldDataId = res.data[0].oldRoleId;
            this.reqData();
          }
          this.roleData.roleName = res.data[0]?.roleName || res.data.roleName;
          console.log(res.data[0]?.pageId);
          if (res.data[0]?.pageId !== undefined) {
            this.selectedPages = res.data.map((dt) => dt.pageId);
          }
          //this.getPageList();
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    reqData() {
      const id = this.oldDataId ? this.oldDataId : this.$route.params.id;
      axios
        .get(`/api/config/roleDetail/${id}`, {})
        .then((res) => {
          if (res.data.length === 0) this.getStagData();
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          } else {
            this.respData =
              this.respData === null ? res.data.length : this.respData;

            this.roleData.roleName = res.data[0]?.roleName || res.data.roleName;
            if (this.oldDataId !== null) {
              if (res.data[0]?.pageId !== undefined) {
                this.oldData.selectedPages = res.data.map((dt) => dt.pageId);
              }
            } else {
              if (res.data[0]?.pageId !== undefined) {
                this.selectedPages = res.data.map((dt) => dt.pageId);
              }
            }
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    getPageList() {
      axios
        .get(`/api/config/getallpages`, {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          this.pageData = res.data;
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    update() {
      if (this.selectedPages.length === 0) {
        this.reqFail = true;
        this.errMsg = "Rolename and Authority page is required";
        return;
      }
      const id = this.$route.params.id;
      const postData = this.selectedPages.map((data) => ({
        pagesPk: data,
        rolePk: id,
      }));
      console.log(this.respData);
      console.log(postData.length);
      if (this.respData === postData.length) {
        this.reqFail = true;
        this.errMsg = "Nothing to update, you should update something";
        window.scrollTo(0, 0);
        return;
      }

      const url = this.isStag
        ? `api/config/updateRolesStag`
        : `api/config/updateRoles`;
      axios
        .post(url, postData, {})
        .then((resp) => {
          if (resp.status === 200) {
            if (resp.headers.rtok) {
              tokenUpdate(resp.headers.rtok);
            }
            this.$router.push("/roleconfig");
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
  },
  computed: {
    rows() {
      return this.userData.length;
    },
  },
};
</script>
<style scoped>
.badge {
  cursor: pointer;
}
</style>
