<template>
  <div class="mt-3 px-3">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="d-flex col-12">
          <h3 class="mb-0">Role List</h3>
          <button
            v-if="$store.getters.isUserMaker"
            class="btn btn-danger ml-3"
            @click="$router.push('/addrole')"
          >
            Add Role
          </button>
          <div class="p-2 ml-auto">
            <b-form-checkbox @change="showAll" v-model="showAllData">
              {{
                $store.getters.isUserMaker
                  ? "Show waiting for revision"
                  : "Show waiting for approval"
              }}
            </b-form-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div v-if="reqFail" class="container mb-5">
      <b-alert show variant="danger">{{ this.errMsg }}</b-alert>
    </div>
    <div v-if="msg" class="mx-3 my-4">
      <b-alert show variant="info">{{ msg }}</b-alert>
    </div>
    <div class="px-4">
      <b-table
        :per-page="perPage"
        :current-page="currentPage"
        :items="userData"
        :fields="fields"
        class="mb-3"
        responsive
      >
        <template v-slot:cell(approvalStatus)="row">
          {{
            row.item.approvalStatus === 1
              ? "Approved"
              : row.item.approvalStatus === 2
              ? "Declined"
              : row.item.approvalStatus === 3
              ? "Waiting for Approval"
              : row.item.approvalStatus === 4
              ? "Waiting for Revision"
              : "Waiting for Approval"
          }}
        </template>
        <template v-slot:cell(action)="row">
          <template
            v-if="
              $store.getters.isUserMaker &&
              (row.item.approvalStatus === 4 || row.item.approvalStatus === 1)
            "
          >
            <a
              @click="editUser(row)"
              class="badge py-2 px-3 bg-danger text-white"
              >Edit</a
            >
            <a
              v-if="row.item.approvalStatus !== 4"
              @click="showModal(row)"
              class="badge py-2 px-3 bg-danger text-white ml-2"
              >Delete</a
            >
          </template>

          <template
            v-if="row.item.approvalStatus <= 4 && $store.getters.isUserChecker"
          >
            <a
              @click="
                $store.getters.isUserChecker &&
                (row.item.approvalStatus === 0 || row.item.approvalStatus === 3)
                  ? $router.push(`/approveRole/${row.item.id}`)
                  : $router.push(`/roledetails/${row.item.id}`)
              "
              class="badge py-2 px-3 bg-danger text-white"
              >{{ $store.getters.isUserChecker ? "See Details" : "View" }}</a
            >
          </template>

          <template
            v-if="
              row.item.approvalStatus != 1 &&
              row.item.approvalStatus != 4 &&
              !$store.getters.isUserChecker
            "
          >
            <a
              @click="$router.push(`/roledetails/${row.item.id}`)"
              class="badge py-2 px-3 bg-danger text-white"
              >View</a
            >
          </template>
        </template>
      </b-table>

      <b-pagination
        class="customPagination"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="my-table"
        pills
      ></b-pagination>
      <p class="mt-3 mx-2">Current Page: {{ currentPage }}</p>
    </div>

    <b-modal ref="my-modal" title="Delete role ">
      <div v-if="reqDelFail" class="container mb-5">
        <b-alert show variant="danger">{{ errDelMsg }}</b-alert>
      </div>
      <div class="d-block">
        <p>Are you sure want to delete this role?</p>
      </div>
      <template v-slot:modal-footer>
        <div>
          <b-button class="btn-modal mr-3" variant="danger" @click="deleteRole"
            >Yes</b-button
          >
          <b-button class variant="outline-danger" @click="hideModal"
            >Cancel</b-button
          >
        </div>
      </template>
    </b-modal>
  </div>
</template>

<script>
import axios from "../../../util/api";
import tokenUpdate from "@/util/tokenUpdate";
import requestErrorHandler from "@/util/requestErrorHandler";
export default {
  name: "role-list",
  props: ["msg"],
  data() {
    return {
      fields: [
        { key: "roleName", label: "Role Name" },
        "approvalStatus",
        "action",
      ],
      userData: [],
      filteredData: null,
      perPage: 10,
      currentPage: 1,
      respReq: null,
      selectedUser: "",
      reqFail: false,
      reqDelFail: false,
      errMsg: "",
      errDelMsg: "",
      showAllData: false,
    };
  },
  mounted() {
    this.reqData();
  },
  methods: {
    showAll(show) {
      this.userData = show ? this.filteredData : this.respReq;
    },
    editUser(data) {
      this.$router.push(`/editrole/${data.item.id}`);
    },
    showModal(user) {
      this.reqDelFail = false;
      this.$refs["my-modal"].show();
      this.selectedUser = user.item.id;
      console.log(this.selectedUser);
    },
    hideModal() {
      this.$refs["my-modal"].hide();
    },
    deleteRole() {
      const auth = localStorage.getItem("token");
      console.log(this.selectedUser);
      axios
        .get("/api/config/deleteRole/" + this.selectedUser, {})
        .then((res) => {
          if (res.status === 200) {
            if (res.headers.rtok) {
              tokenUpdate(res.headers.rtok);
            }
            this.$refs["my-modal"].hide();
            this.reqData();
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    reqData() {
      axios
        .get("/api/config/rolelist", {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          if (this.$store.getters.isUserChecker) {
            this.filteredData = res.data.filter(
              (dt) => dt.approvalStatus === 0
            );
          } else {
            this.filteredData = res.data.filter(
              (dt) => dt.approvalStatus === 4
            );
          }
          this.showAllData = false;
          this.respReq = res.data;
          this.userData = res.data;
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
  },
  computed: {
    rows() {
      return this.userData.length;
    },
  },
};
</script>
<style scoped>
.badge {
  cursor: pointer;
}
</style>
}
