<template>
  <div>
    <div v-if="failLogin" class="container mb-5">
      <b-alert show variant="danger">{{ this.errMsg }}</b-alert>
    </div>
    <div v-if="notification" class="container mb-5">
      <b-alert show variant="danger">{{ messageNotif }}</b-alert>
    </div>
    <div class="container py-5">
      <div class="row">
        <div class="col-md-6 py-5 d-none d-sm-none d-md-none d-lg-block">
          <div class="mt-auto">
            <img
              class="login-icon"
              src="../../img/undraw_taking_notes_tjaf.svg"
            />
          </div>
        </div>
        <div class="card p-5 col-md-6 mx-sm-auto mx-md-0 ml-md-auto">
          <div class="login-profile-container text-center">
            <img class="profile" src="../../img/undraw_profile_pic_ic5t.svg" />
          </div>
          <b-form @submit="submit" class="text-center">
            <b-form-group id="input-group-1">
              <b-input-group class="mb-2">
                <b-input-group-prepend is-text>
                  <b-icon icon="person-fill"></b-icon>
                </b-input-group-prepend>
                <b-form-input
                  type="text"
                  v-model="form.username"
                  placeholder="User ID"
                ></b-form-input>
              </b-input-group>
            </b-form-group>
            <b-form-group id="input-group-2">
              <b-input-group class>
                <b-input-group-prepend is-text>
                  <b-icon icon="lock-fill"></b-icon>
                </b-input-group-prepend>
                <b-form-input
                  type="password"
                  v-model="form.password"
                  placeholder="Password"
                ></b-form-input>
              </b-input-group>
            </b-form-group>
            <b-form-group class="text-left py-0">
              <a
                @click="$router.push('/user/password')"
                class="mb-0 text-danger"
                >Forgot password?</a
              >
            </b-form-group>

            <b-button class="mt-3 px-5" type="submit" variant="danger"
              >Login</b-button
            >
          </b-form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "../../util/api.js";
//import jwt from 'jsonwebtoken'
export default {
  props: ["notif", "msg"],
  data() {
    return {
      notification: this.notif,
      messageNotif: this.msg,
      form: {
        email: "",
        password: "",
      },
      failLogin: false,
      errMsg: null,
    };
  },

  methods: {
    submit() {
      event.preventDefault();
      this.notification = false;
      this.failLogin = false;

      axios
        .post("/api/auth/authenticate", this.form)
        .then((resp) => {
          if (resp.data.isRandPass) {
            console.log(resp.data);
            //return;
            const token = resp.data.resetPassToken;
            this.$router.push({
              name: "ResetPassword",
              params: { token },
            });
          } else if (!resp.data.isRandPass) {
            if (resp.data.jwt) {
              //var decoded = jwt.decode(resp.data.jwt, {complete: true});
              localStorage.setItem("token", resp.data.jwt);
              //localStorage.setItem("role",decoded.payload.role)
              this.$router.push("/home");
            } else {
              this.failLogin = true;
            }
          }
        })
        .catch((err) => {
          console.log(err);
          this.failLogin = true;
          err?.response.status === 401
            ? (this.errMsg = "Wrong username or password")
            : err?.response.status === 423
            ? (this.errMsg = "User is locked please contant administrator")
            : (this.errMsg = err);
        });
    },
  },
};
</script>
<style scoped>

.pb-5, .py-5{
  padding-bottom: 1rem !important;
}

.pt-5, .py-5{
  padding-top: 0.5rem !important;
}
.card {
  box-sizing: border-box;
  max-width: 500px;
}

form {
  margin-top: -10px;
}

.form-control:focus {
  box-shadow: none;
}
.profile {
  width: 180px;
}
.login-profile-container {
  left: 50%;
  transform: translateY(-20%);
}
.login-icon {
  max-width: 500px;
}
.text-danger {
  font-weight: bold;
  cursor: pointer;
}
</style>
