<template>
  <div>
    <div v-if="failLogin" class="container mb-5">
      <b-alert show variant="danger">{{ this.errMsg }}</b-alert>
    </div>
    <div class="container py-5">
      <div class="row">
        <div class="col-md-6 py-5 d-none d-sm-none d-md-none d-lg-block">
          <div class="mt-auto">
            <img class="login-icon" src="../../img/undraw_taking_notes_tjaf.svg" />
          </div>
        </div>
        <div class="card p-5 pt-1 col-md-6 mx-sm-auto mx-md-0 ml-md-auto">
          <div class="login-profile-container text-center">
            <img class="profile" src="../../img/undraw_profile_pic_ic5t.svg" />
          </div>
          <b-form @submit="submit" class="text-center">
            <b-form-group id="input-group-1">
              <h3>Reset Password</h3>
              <label>Insert your new password here</label>
              <b-input-group class>
                <b-input-group-prepend is-text>
                  <b-icon icon="lock-fill"></b-icon>
                </b-input-group-prepend>
                <b-form-input
                  @change="validatePass()"
                  @keyup="validatePass()"
                  type="password"
                  v-model="form.password"
                  placeholder="New Password"
                  :class="{formNotValid:!isValidPass}"
                  required
                ></b-form-input>
              </b-input-group>
              <b-col sm="12" class="text-left ml-4" v-if="!isValidPass">
                <label
                  class="err-text"
                >Password character length of at least 8, contains 3 charcter types , not contains username and email</label>
              </b-col>
              <b-input-group class="py-4">
                <b-input-group-prepend is-text>
                  <b-icon icon="lock-fill"></b-icon>
                </b-input-group-prepend>
                <b-form-input
                  @change="validatePassConfirm()"
                  @keyup="validatePassConfirm()"
                  type="password"
                  v-model="form.confirmPassword"
                  placeholder="Confirm Password"
                  :class="{formNotValid:!isValidPass}"
                  required
                ></b-form-input>
                <b-col sm="12" class="text-left ml-4" v-if="!isValidConfirm">
                  <label class="err-text">Password not equal</label>
                </b-col>
              </b-input-group>
            </b-form-group>

            <b-button
              class="mt-3 px-5"
              :disabled="!isValidPass"
              type="submit"
              variant="danger"
            >Submit</b-button>
          </b-form>
        </div>
      </div>
    </div>
    <b-modal
      no-close-on-esc
      hide-header-close
      no-close-on-backdrop
      ok-only
      title="Change Password"
      id="modal-1"
    >
      <p class="my-4">Your password is successfully changed.</p>
      <template v-slot:modal-footer=" ok ">
        <b-button variant="danger" @click="redirect(ok)">OK</b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>
import axios from "../../util/api.js";
import jwt from "jsonwebtoken";
export default {
  data() {
    return {
      form: {
        email: "",
        password: "",
        confirmPassword: "",
        username: "",
      },
      failLogin: false,
      errMsg: null,
      isValidPass: true,
      isValidConfirm: true,
    };
  },
  mounted() {
    this.validateToken();
  },
  methods: {
    redirect(ok) {
      console.log(ok);
      this.$bvModal.hide("modal-1");
      this.loading = false;
      this.$router.push("/");
    },
    validatePassConfirm() {
      this.isValidConfirm =
        this.form.confirmPassword === this.form.password ? true : false;
    },
    validatePass() {
      let password = this.form.password;
      let isValid = true;
      const charRegex = new RegExp(
        /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}$/g
      );
      isValid = charRegex.test(password.trim()) && isValid;
      this.isValidPass = isValid;
      console.log(this.isValidPass);
    },
    validateToken() {
      const token = jwt.decode(this.$route.params.token);
      this.form.username = token.sub;
      const expire = token.exp;
      const currentDate = new Date();
      //var milliseconds = currentDate.getTime();
      const stringDate = currentDate.getTime().toString();

      if (stringDate.substring(0, 10) > expire) {
        this.failLogin = false;
        this.errMsg = "";
        console.log(this.form);
        axios
          .post("/api/auth/expiredToken", this.form)
          .then((resp) => {
            this.$router.push({
              name: "Login",
              params: {
                notif: true,
                msg:
                  "Reset password token has been expired. Please contact administrator",
              },
            });
          })
          .catch((err) => {
            console.log(err);
            this.failLogin = true;
            this.errMsg = err;
          });
      }
    },

    submit() {
      event.preventDefault();
      this.failLogin = false;
      this.errMsg = "";
      console.log(this.form);
      axios
        .post("/api/auth/password/update", this.form)
        .then((resp) => {
          if (resp) {
            this.$bvModal.show("modal-1");
          }
        })
        .catch((err) => {
          console.log(err);
          this.failLogin = true;
          this.errMsg = err;
        });
    },
  },
};
</script>
<style scoped>

.pb-5, .py-5{
  padding-bottom: 1rem !important;
}

.pt-5, .py-5{
  padding-top: 0.5rem !important;
}
.card {
  box-sizing: border-box;
  max-width: 500px;
}

form {
  margin-top: -10px;
}

.form-control:focus {
  box-shadow: none;
}
.profile {
  width: 180px;
}
.login-profile-container {
  left: 50%;
  transform: translateY(-20%);
}
.login-icon {
  max-width: 500px;
}
.text-danger {
  font-weight: bold;
  cursor: pointer;
}
.err-text {
  color: #bd2130;
}
</style>

