<template>
  <div>
    <div v-if="failLogin" class="container mb-5">
      <b-alert show variant="danger">{{ this.errMsg }}</b-alert>
    </div>
    <div class="container py-5">
      <div class="row">
        <div class="col-md-6 py-5 d-none d-sm-none d-md-none d-lg-block">
          <div class="mt-auto">
            <img class="login-icon" src="../../img/undraw_taking_notes_tjaf.svg" />
          </div>
        </div>
        <div class="card p-5 pt-1 col-md-6 mx-sm-auto mx-md-0 ml-md-auto">
          <div class="login-profile-container text-center">
            <img class="profile" src="../../img/undraw_profile_pic_ic5t.svg" />
          </div>
          <b-form @submit="submit" class="text-center">
            <b-form-group id="input-group-1">
              <h3>Reset Password</h3>
              <label>If you have forgotten the password account, you can request to reset it here</label>
              <b-input-group class="mb-2">
                <b-input-group-prepend is-text>
                  <b-icon icon="person-fill"></b-icon>
                </b-input-group-prepend>
                <b-form-input
                  type="text"
                  v-model="form.username"
                  placeholder="User ID / Email Address"
                ></b-form-input>
              </b-input-group>
            </b-form-group>

            <b-spinner v-if="loading" variant="danger" label="Spinning"></b-spinner>
            <b-button v-else class="mt-3 px-5" type="submit" variant="danger">Submit</b-button>

            <b-form-group class="text-left pt-5">
              <a @click="$router.push('/')" class="mb-0 text-danger">
                <b-icon icon="arrow-left" aria-hidden="true"></b-icon>Back to login
              </a>
            </b-form-group>
          </b-form>
        </div>
      </div>
    </div>
    <b-modal
      no-close-on-esc
      hide-header-close
      no-close-on-backdrop
      ok-only
      title="Request Change Password"
      id="modal-1"
    >
      <p
        class="my-4"
      >We have sent a link to reset the password to your email. Please check your email</p>
      <template v-slot:modal-footer=" ok ">
        <b-button variant="danger" @click="redirect(ok)">OK</b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>
import axios from "../../util/api.js";
import requestErrorHandler from "@/util/requestErrorHandler";
export default {
  data() {
    return {
      form: {
        email: "",
        password: "",
      },
      failLogin: false,
      errMsg: null,
      loading: false,
    };
  },
  methods: {
    redirect(ok) {
      console.log(ok);
      this.$bvModal.hide("modal-1");
      this.loading = false;
      this.$router.push("/");
    },
    submit() {
      event.preventDefault();
      this.failLogin = false;
      this.errMsg = "";
      this.loading = true;
      axios
        .post("/api/auth/password/reset", this.form)
        .then((resp) => {
          if (resp) {
            this.$bvModal.show("modal-1");
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.loading = false;
            this.failLogin = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
  },
};
</script>
<style scoped>
.pb-5, .py-5{
  padding-bottom: 1rem !important;
}

.pt-5, .py-5{
  padding-top: 0.5rem !important;
}

.card {
  box-sizing: border-box;
  max-width: 500px;
}

form {
  margin-top: -10px;
}

.form-control:focus {
  box-shadow: none;
}
.profile {
  width: 180px;
}
.login-profile-container {
  left: 50%;
  transform: translateY(-20%);
}
.login-icon {
  max-width: 500px;
}
.text-danger {
  font-weight: bold;
  cursor: pointer;
}
</style>