<template>
  <div class="mt-3 px-3">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col-12">
          <h3 class="mb-0">Audit Trail</h3>
          <div class="border p-3 mb-3">
            <b-row class="px-4">
              <b-col sm="6">
                <label>Start Date</label>
                <b-form-datepicker
                  id="startDate-datepicker"
                  :date-disabled-fn="dateDisabledStart"
                  v-model="filter.startDate"
                  class="mb-2"
                ></b-form-datepicker>
              </b-col>
              <label></label>
              <b-col sm="6">
                <label>End Date</label>
                <b-form-datepicker
                  id="endDate-datepicker"
                  :date-disabled-fn="dateDisabled"
                  v-model="filter.endDate"
                  class="mb-2"
                ></b-form-datepicker>
              </b-col>
            </b-row>
            <b-row class="px-4 mt-2 text-right">
              <b-col sm="12">
                <b-button variant="danger" @click="reqData()">Search</b-button>
                <b-button variant="danger" class="mx-2" @click="clearFilter()"
                  >Clear Filter</b-button
                >
              </b-col>
            </b-row>
          </div>
          <button class="btn btn-danger ml-auto" v-b-modal="'modalDownload'">
            Export to CSV
          </button>
        </div>
      </div>
    </div>
    <div class="px-4">
      <b-table
        :per-page="perPage"
        :current-page="currentPage"
        :items="auditData"
        :fields="fields"
        class="mb-3"
        responsive
      ></b-table>
      <b-pagination
        class="customPagination"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="my-table"
        pills
      ></b-pagination>
      <p class="mt-3 mx-2">Current Page: {{ currentPage }}</p>
    </div>
    <b-modal ref="detailModal" id="modalDownload" title="Download Confrimation">
      <div class="d-block text-center">Are you want to download the file?</div>
      <template v-slot:modal-footer>
        <div class="d-flex">
          <b-button
            class="mt-3 ml-auto"
            @click="csvExport(auditData)"
            variant="danger"
            >Download AuditTrail</b-button
          >
        </div>
      </template>
    </b-modal>
  </div>
</template>
<script>
import axios from "../../../util/api";
import tokenUpdate from "@/util/tokenUpdate";
import requestErrorHandler from "@/util/requestErrorHandler";
export default {
  name: "audittrail",
  data() {
    return {
      fields: ["user", "action", "description", "newData", "oldData", "date"],
      auditData: [],
      perPage: 10,
      currentPage: 1,
      isAdmin: false,
      selectedUser: "",
      filter: {},
    };
  },
  mounted() {
    this.reqData();
  },
  methods: {
    clearFilter() {
      this.filter.startDate = null;
      this.filter.endDate = null;
    },
    dateDisabledStart(ymd) {
      //const day = date.getDate();
      return ymd >= this.filter.endDate;
    },
    dateDisabled(ymd) {
      //const day = date.getDate();
      return ymd <= this.filter.startDate;
    },
    csvExport(arrData) {
      let csvContent = "data:text/csv;charset=utf-8,";
      csvContent += [
        Object.keys(arrData[0]).join(";"),
        ...arrData.map((item) => Object.values(item).join(";")),
      ]
        .join("\n")
        .replace(/(^\[)|(\]$)/gm, "");

      const data = encodeURI(csvContent);
      const link = document.createElement("a");
      link.setAttribute("href", data);
      link.setAttribute("download", "export.csv");
      link.click();
      this.$refs["detailModal"].hide();
    },
    reqData() {
      let params =
        this.filter.startDate && this.filter.endDate
          ? {
              startDate: this.filter.startDate,
              endDate: this.filter.endDate,
            }
          : null;
      axios
        .get("/api/auditTrail/getall", {
          params,
        })
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          this.auditData = res.data;
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
  },
  computed: {
    rows() {
      return this.auditData.length;
    },
  },
};
</script>
<style scoped>
.badge {
  cursor: pointer;
}
</style>
