<template>
  <div class="mt-3 px-3">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="d-flex col-12">
          <h3 class="mb-0">Job Trail</h3>
        </div>
      </div>
    </div>
    <form @submit="filterByDate">
      <b-row class="px-4">
        <b-col sm="12">
          <h5>Filter</h5>
        </b-col>
        <b-col sm="4">
          <label>Start Date</label>
          <b-form-datepicker
            required
            :date-disabled-fn="dateDisabledStart"
            id="startDate-datepicker"
            v-model="filter.startDate"
            class="mb-2"
          ></b-form-datepicker>
        </b-col>
        <label></label>
        <b-col sm="4">
          <label>End Date</label>
          <b-form-datepicker
            required
            :date-disabled-fn="dateDisabled"
            id="endDate-datepicker"
            v-model="filter.endDate"
            class="mb-2"
          ></b-form-datepicker>
        </b-col>
        <b-col sm="1" class="py-2">
          <div class="mt-4">
            <b-button variant="danger" type="submit">Search</b-button>
          </div>
        </b-col>
        <b-col sm="3" class="py-2">
          <div class="mt-4">
            <b-button variant="danger" @click="reqData">Clear Filter</b-button>
          </div>
        </b-col>
      </b-row>
    </form>
    <div class="px-4">
      <b-table
        :per-page="perPage"
        :current-page="currentPage"
        :items="auditData"
        :fields="fields"
        @row-clicked="showDetails"
        :tbody-tr-class="pointerClass"
        class="mb-3"
        responsive
      >
        <template v-slot:cell(success)="data">
          {{ !data.item.success ? "Failed" : "Success" }}
        </template>
      </b-table>
      <b-pagination
        class="customPagination"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="my-table"
        pills
      ></b-pagination>
      <p class="mt-3 mx-2">Current Page: {{ currentPage }}</p>
    </div>
    <b-modal ref="my-modal" size="xl" hide-footer title="Error Details">
      <div class="d-block text-left">{{ errorDetails }}</div>
    </b-modal>
  </div>
</template>
<script>
import axios from "../../../util/api";
import tokenUpdate from "@/util/tokenUpdate";
import requestErrorHandler from "@/util/requestErrorHandler";
export default {
  name: "audittrail",
  data() {
    return {
      fields: [
        "jobName",
        "source",
        { key: "success", label: "Status" },

        "startDate",
        "finishDate",
        "error",
      ],
      filter: {
        startDate: null,
        endDate: null,
      },
      auditData: [],
      perPage: 10,
      currentPage: 1,
      isAdmin: false,
      selectedUser: "",
      errorDetails: "",
    };
  },
  mounted() {
    this.reqData();
  },
  methods: {
    dateDisabledStart(ymd) {
      //const day = date.getDate();
      return ymd >= this.filter.endDate;
    },
    dateDisabled(ymd) {
      //const day = date.getDate();
      return ymd <= this.filter.startDate;
    },
    pointerClass(item, type) {
      if (item && type) {
        return "cursor-pointer";
      }
    },
    showDetails(data) {
      console.log(data);
      if (!data.success) {
        this.errorDetails = data.errorDetail;
        this.$refs["my-modal"].show();
      }
    },
    hideModal() {
      this.$refs["my-modal"].hide();
    },
    filterByDate() {
      const params = {
        startDate: this.filter.startDate + " 00:00:00",
        endDate: this.filter.endDate + " 00:00:00",
      };
      axios
        .get(`/api/logjob/bydate`, {
          params,
        })
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          this.auditData = res.data;
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    reqData() {
      this.filter.startDate = null;
      this.filter.endDate = null;

      axios
        .get("/api/logjob/all", {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          this.auditData = res.data;
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);

            this.reqFail = isErr;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
  },
  computed: {
    rows() {
      return this.auditData.length;
    },
  },
};
</script>
<style>
tr.cursor-pointer {
  cursor: pointer;
}
</style>
