<template>
  <div class="mt-3 px-3">
    <div v-if="reqFail" class="container mb-5">
      <b-alert show variant="danger">{{ this.errMsg }}</b-alert>
    </div>
    <div v-if="reqSuccess" class="container mb-5">
      <b-alert show variant="success">{{ this.succMsg }}</b-alert>
    </div>
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Run Job</h3>
        </div>
      </div>
    </div>
    <div class="px-3">
      <div class="px-4 border">
        <div class="mt-3 mb-3 text-right">
          <form @submit="syncData">
            <b-row class="py-2">
              <b-col sm="2" class="pr-0 pt-1">
                <p>Jobs :</p>
              </b-col>
              <b-col sm="10">
                <b-form-select
                  @change="selectJob()"
                  v-model="selected"
                  :options="options"
                ></b-form-select>
              </b-col>
            </b-row>
            <template v-if="description">
              <b-row class="py-2">
                <b-col sm="2" class="px-0 pt-1">
                  <p>Description :</p>
                </b-col>
                <b-col sm="10" class="pt-1 text-left">
                  <p>{{ description }}</p>
                </b-col>
              </b-row>
            </template>
            <b-row v-if="haveStartDate" class="py-2">
              <b-col sm="2" class="px-0 pt-1">
                <p>{{ labelData.startDate }} :</p>
              </b-col>
              <b-col sm="10">
                <b-form-datepicker
                  id="startDate-datepicker"
                  :date-disabled-fn="dateDisabledStart"
                  v-model="startDate"
                  class="mb-2 text-left"
                  required
                ></b-form-datepicker>
              </b-col>
            </b-row>
            <b-row v-if="haveEndDate" class="py-2">
              <b-col sm="2" class="px-0 pt-1">
                <p>{{ labelData.endDate }} :</p>
              </b-col>
              <b-col sm="10">
                <b-form-datepicker
                  id="endDate-datepicker"
                  :date-disabled-fn="dateDisabled"
                  required
                  v-model="endDate"
                  class="mb-2 text-left"
                ></b-form-datepicker>
              </b-col>
            </b-row>
            <b-row v-if="havePeriod" class="py-2">
              <b-col sm="2" class="px-0 pt-1">
                <p>{{ labelData.period }} :</p>
              </b-col>
              <b-col sm="10">
                <month-picker-input
                  v-model="period"
                  :no-default="true"
                ></month-picker-input>
              </b-col>
            </b-row>
            <template v-if="haveOrgId">
              <b-row class="py-2">
                <b-col sm="2" class="px-0 pt-1">
                  <p>{{ labelData.orgId }} :</p>
                </b-col>
                <b-col sm="10">
                  <autocomplete
                    :search="search"
                    placeholder="Search an Organization"
                    aria-label="Search an Organization"
                    :get-result-value="getResultValue"
                  >
                    <template #result="{ result, props }">
                      <li v-bind="props" class="autocomplete-result text-left">
                        <div class="text-left">{{ result.name }}</div>
                      </li>
                    </template>
                  </autocomplete>
                </b-col>
              </b-row>
            </template>

            <b-row>
              <b-col sm="12" class="text-right">
                <template v-if="isLoading">
                  <b-spinner
                    style="width: 2rem; height: 2rem;"
                    class="mt-2"
                    variant="danger"
                    label="Loading"
                  ></b-spinner>
                </template>
                <b-button
                  v-else-if="!isLoading"
                  type="submit"
                  class="text-right mt-2"
                  variant="danger"
                  >Execute</b-button
                >
              </b-col>
            </b-row>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "../../../util/api";
import { MonthPickerInput } from "vue-month-picker";
import tokenUpdate from "@/util/tokenUpdate";
import requestErrorHandler from "@/util/requestErrorHandler";
export default {
  data() {
    return {
      month: "",
      reqFail: false,
      reqSuccess: false,
      failMsg: "",
      succMsg: "",
      selected: null,
      options: [{ value: null, text: "Please select Job", disabled: true }],
      jobDatas: [],
      orgData: {
        currentPage: 1,
        perPage: 5,
        datas: [],
        fields: [{ key: "orgApimId", label: "Id" }, "organizationName"],
      },
      description: null,
      period: null,
      isLoading: false,
      haveStartDate: false,
      haveEndDate: false,
      haveOrgId: false,
      havePeriod: false,
      startDate: null,
      endDate: null,
      orgId: null,
      orgName: null,
      labelData: {
        startDate: "",
        endDate: "",
        orgId: "",
        period: "",
      },
    };
  },
  components: {
    MonthPickerInput,
  },
  mounted() {
    this.getData();
  },
  computed: {
    rows() {
      return this.orgData.datas.length;
    },
  },
  methods: {
    dateDisabledStart(ymd) {
      //const day = date.getDate();
      return ymd >= this.endDate;
    },
    dateDisabled(ymd) {
      //const day = date.getDate();
      return ymd <= this.startDate;
    },
    getResultValue(result) {
      console.log(this.period);
      this.orgId = result.id;
      return result.name;
    },
    search(input) {
      if (input.length < 1) {
        return [];
      }
      return this.orgData.datas.filter((dt) => {
        return dt.name.toLowerCase().startsWith(input.toLowerCase());
      });
    },
    pointerClass(item, type) {
      if (item && type) {
        return "cursor-pointer";
      }
    },
    selectOrg(record) {
      this.orgId = record.orgApimId;
      this.orgName = record.organizationName;
    },
    syncData() {
      event.preventDefault();
      console.log("here");
      if (this.startDate && this.endDate) {
        if (this.startDate > this.endDate) {
          this.reqFail = true;
          this.reqSuccess = false;
          this.errMsg = `Start date must not bigger than End date`;
          return;
        }
      }

      this.isLoading = true;
      console.log(this.isLoading);
      axios
        .post(
          "/api/syncjob/syncdata",
          {
            jobId: this.selected,
            before: this.endDate,
            after: this.startDate,
            orgId: this.orgId,
            month: this.period?.monthIndex || null,
            year: this.period?.year || null,
          },
          {}
        )
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          if (res.data === 200) {
            this.isLoading = false;
            this.reqSuccess = true;
            this.reqFail = false;
            this.succMsg = "Job Running Successfully";
          } else {
            this.isLoading = false;
            this.reqFail = true;
            this.reqSuccess = false;
            this.errMsg = `Job Running Failed with status code ${res.data}`;
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    getOrgList() {
      axios
        .get("/api/syncjob/listorg", {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          if (this.orgData.datas.length < 1) {
            res.data.map((dt) => {
              let selectedData = {
                id: dt.orgApimId,
                name: dt.organizationName,
              };
              this.orgData.datas.push(selectedData);
            });
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    selectJob() {
      this.startDate = null;
      this.endDate = null;
      this.orgId = null;
      let selectedjob = {};
      selectedjob = this.jobDatas.find((dt) => dt.id === this.selected);
      console.log(selectedjob);
      this.description = null;
      this.haveStartDate = false;
      this.haveEndDate = false;
      this.haveOrgId = false;
      this.havePeriod = false;
      this.startDate = null;
      this.endDate = null;
      this.orgId = null;
      this.orgData.data = [];
      this.description = selectedjob.jobDescription;
      if (selectedjob.params) {
        let params = JSON.parse(selectedjob.params);
        params.map((pr) => {
          switch (pr.type.toUpperCase()) {
            case "ORGID":
              this.haveOrgId = true;
              this.labelData.orgId = pr.label;
              this.getOrgList();
              break;
            case "YEARANDMONTH":
              this.havePeriod = true;
              this.labelData.period = pr.label;
              break;
            case "STARTDATE":
              this.haveStartDate = true;
              this.labelData.startDate = pr.label;
              break;
            case "ENDDATE":
              this.haveEndDate = true;
              this.labelData.endDate = pr.label;
              break;
          }
        });
      }
    },
    getData() {
      axios
        .get("/api/syncjob/listjob", {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          this.jobDatas = res.data;
          res.data.map((dt) => {
            let newData = {
              value: dt.id,
              text: dt.jobName,
              desc: dt.jobDescription,
            };
            this.options.push(newData);
          });
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
  },
};
</script>

<style>
.month-picker-input {
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
  width: 100% !important;
}
.month-picker-input-container {
  width: 100% !important;
}
.month-picker__container {
  width: 100%;
  top: 0 !important;
  position: relative !important;
  margin-bottom: 1em !important;
}
.month-picker__year p {
  margin-top: 1em;
}
.month-picker__year button {
  border: none;
}

.month-picker__month {
  border: none;
}

.autocomplete-input {
  padding: 0.5em 2.5em !important;
}

.vs__input {
  padding: 0.5em 1.5em;
  font-size: 0.85em;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  transition: all 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100% !important;
}
</style>
