<template>
  <div class="mt-5 px-3">
    <div v-if="reqFail" class="container mb-5">
      <b-alert show variant="danger">{{ this.errMsg }}</b-alert>
    </div>
    <div v-if="msg" class="mx-3 my-4">
      <b-alert show variant="info">{{ msg }}</b-alert>
    </div>
    <div class="card p-5 col-md-9 mx-auto">
      <h3 class="mb-3">Details</h3>
      <hr />
      <div class="text-right mt-2">
        <b-form-group id="input-group-1">
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">AppName :</label>
            </b-col>
            <b-col sm="9">
              <b-form-input
                disabled
                v-model="orgData.orgAppName"
                required
              ></b-form-input>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group id="input-group-2">
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default"
                >Organization Owner :</label
              >
            </b-col>
            <b-col sm="9">
              <b-form-input
                disabled
                v-model="orgData.orgName"
                required
                type="text"
              ></b-form-input>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group id="input-group-3">
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Product :</label>
            </b-col>
            <b-col sm="9" class="text-left d-flex mt-1">
              <b-form-input
                v-model="orgData.productTitle"
                disabled
                required
              ></b-form-input>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group id="input-group-3">
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Plan :</label>
            </b-col>
            <b-col sm="9" class="text-left d-flex mt-1">
              <b-form-input
                v-model="orgData.planname"
                disabled
                required
              ></b-form-input>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group>
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Billing Status :</label>
            </b-col>
            <b-col sm="9">
              <b-form-select
                required
                disabled
                v-model="billingStatus.selectedBillingStatus"
                :options="billingStatus.billingStatusOptions"
              ></b-form-select>
            </b-col>
          </b-row>
        </b-form-group>
        <template v-if="billingStatus.selectedBillingStatus === 'SET'">
          <template v-if="hasNewData">
            <h3 class="text-left ml-5">Old Data</h3>
            <hr />
            <div class="border p-3">
              <b-form-group id="input-group-3">
                <b-row class="my-1">
                  <b-col sm="3">
                    <label class="pt-1" for="input-default">Scheme Type:</label>
                  </b-col>
                  <b-col sm="9" class="text-left d-flex mt-1">
                    <b-form-input
                      v-model="billingData.billingType"
                      disabled
                      required
                    ></b-form-input>
                  </b-col>
                </b-row>
              </b-form-group>

              <b-form-group v-if="showTemplate">
                <b-row class="my-1">
                  <b-col sm="3">
                    <label class="pt-1" for="input-default"
                      >Scheme Template :</label
                    >
                  </b-col>
                  <b-col sm="9" class="text-left d-flex mt-1">
                    <b-form-input
                      v-model="templateName"
                      disabled
                      required
                    ></b-form-input>
                  </b-col>
                </b-row>
              </b-form-group>

              <b-form-group v-if="isFlatType" id="input-group-2">
                <b-row class="my-1">
                  <b-col sm="3">
                    <label class="pt-1" for="input-default"
                      >Charge per call:</label
                    >
                  </b-col>
                  <b-col sm="9">
                    <b-form-input
                      required
                      disabled
                      v-model="billingData.chargePerCall"
                    ></b-form-input>
                  </b-col>
                </b-row>
              </b-form-group>

              <template v-if="isTierType">
                <old-tier-table :form="oldForm"></old-tier-table>
                <hr />
              </template>
              <b-form-group id="input-group-3">
                <b-row class="my-1">
                  <b-col sm="3">
                    <label class="pt-1" for="input-default">Comment :</label>
                  </b-col>
                  <b-col sm="9" class="text-left d-flex mt-1">
                    <b-form-input
                      v-model="billingData.comment"
                      disabled
                      required
                    ></b-form-input>
                  </b-col>
                </b-row>
              </b-form-group>
            </div>
          </template>

          <template>
            <template v-if="hasNewData">
              <h3 class="text-left ml-5 mt-3">New Data</h3>
              <hr />
            </template>
            <div class="border p-3">
              <b-form-group id="input-group-3">
                <b-row class="my-1">
                  <b-col sm="3">
                    <label class="pt-1" for="input-default">Scheme Type:</label>
                  </b-col>
                  <b-col sm="9" class="text-left d-flex mt-1">
                    <b-form-input
                      v-model="stagData.billingType"
                      disabled
                      required
                    ></b-form-input>
                  </b-col>
                </b-row>
              </b-form-group>

              <b-form-group v-if="stagData.showTemplate">
                <b-row class="my-1">
                  <b-col sm="3">
                    <label class="pt-1" for="input-default"
                      >Scheme Template :</label
                    >
                  </b-col>
                  <b-col sm="9" class="text-left d-flex mt-1">
                    <b-form-input
                      v-model="stagData.templateName"
                      disabled
                      required
                    ></b-form-input>
                  </b-col>
                </b-row>
              </b-form-group>

              <b-form-group v-if="stagData.isFlatType" id="input-group-2">
                <b-row class="my-1">
                  <b-col sm="3">
                    <label class="pt-1" for="input-default"
                      >Charge per call:</label
                    >
                  </b-col>
                  <b-col sm="9">
                    <b-form-input
                      required
                      disabled
                      v-model="stagData.chargePerCall"
                    ></b-form-input>
                  </b-col>
                </b-row>
              </b-form-group>

              <template v-if="stagData.isTierType">
                <TierTable :form="form"></TierTable>

                <hr />
              </template>
              <b-form-group id="input-group-3">
                <b-row class="my-1">
                  <b-col sm="3">
                    <label class="pt-1" for="input-default">Comment :</label>
                  </b-col>
                  <b-col sm="9" class="text-left d-flex mt-1">
                    <b-textarea v-model="comment" required></b-textarea>
                  </b-col>
                </b-row>
              </b-form-group>
            </div>
          </template>
        </template>
        <template v-if="!isDecline">
          <template v-if="hasNewData">
            <b-button class="mt-3 px-5" @click="approveEdit(1)" variant="danger"
              >Approve</b-button
            >
            <b-button
              class="mt-3 mx-2 px-5"
              @click="approve(4)"
              variant="danger"
              >Ask for Revision</b-button
            >
            <b-button class="mt-3 px-5" @click="approveEdit(3)" variant="danger"
              >Decline</b-button
            >
          </template>
          <template v-else>
            <b-button
              class="mt-3 mr-2 px-5"
              @click="approve(1)"
              variant="danger"
              >Approve</b-button
            >
            <b-button
              class="mt-3 mr-2 px-5"
              @click="approve(4)"
              variant="danger"
              v-if="billingStatus.selectedBillingStatus === 'SET'"
              >Ask for Revision</b-button
            >
            <b-button
              class="mt-3 ml-2 px-5"
              @click="approve(3)"
              variant="danger"
              >Decline</b-button
            >
          </template>
        </template>
        <b-button
          class="mt-3 px-5 ml-2"
          @click="$router.go(-1)"
          variant="danger"
          >Back</b-button
        >
      </div>
    </div>
  </div>
</template>
<script>
import axios from "../../../util/api";
import TierTable from "@/components/TierTable";
import oldTierTable from "@/components/oldTierTable";
import { mapActions } from "vuex";
import tokenUpdate from "@/util/tokenUpdate";
import requestErrorHandler from "@/util/requestErrorHandler";
export default {
  components: {
    TierTable,
    oldTierTable,
  },
  props: ["id", "parentId"],
  data() {
    return {
      form: {
        viewOnly: true,
        noAction: true,
        fields: [
          { key: "billingTierLvl", label: "Tier Level" },
          { key: "maxCall", label: "Max Usage" },
          { key: "billingCharge", label: "Charge per call" },
        ],
        err: false,
        errMsg: "",
        errEdit: false,
        errEditMsg: "",
      },
      oldForm: {
        viewOnly: true,
        noAction: true,
        fields: [
          { key: "billingTierLvl", label: "Tier Level" },
          { key: "maxCall", label: "Max Usages" },
          { key: "billingCharge", label: "Charge per call" },
          "Action",
        ],
        forApps: true,
        err: false,
        errMsg: "",
        errEdit: false,
        errEditMsg: "",
      },
      dataDetail: [],
      orgData: {
        orgAppName: "",
        orgName: "",
        planname: "",
        productTitle: "",
      },
      reqFail: false,
      msg: null,
      showTemplate: false,
      stagData: {
        billingType: "",
        billingName: "",
        billingid: "",
        chargePerCall: "",
        comment: "",
        tierData: [],
        isTierType: false,
        isFlatType: false,
        showTemplate: false,
        showTemplateOptions: [
          { value: true, text: "Existing Template" },
          { value: false, text: "Custom" },
        ],
        templateName: "",
        billingData: {
          billingType: "",
          billingName: "",
          billingid: "",
          chargePerCall: "",
          selectedBilling: "",
        },
      },
      billingData: {
        billingType: "",
        billingName: "",
        billingid: "",
        comment: "",
        chargePerCall: "",
      },
      templateName: "",
      tierData: [],
      isDecline: false,
      failSubmit: false,
      isTierType: false,
      isFlatType: false,
      hasNewData: false,
      comment: "",
      billingStatus: {
        billingStatusOptions: [
          { value: "NOT_SET", text: "Not Set", disabled: true },
          { value: "SET", text: "Required " },
          { value: "SET_NOT_REQUIRED", text: "Not Required" },
        ],
        selectedBillingStatus: "NOT_SET",
      },
    };
  },
  mounted() {
    this.getData();
  },
  methods: {
    ...mapActions({
      setTierFromServer: "getDataFromServer",
      clearTierData: "clearTierData",
      setOldTierFromServer: "getOldDataFromServer",
    }),
    hideModal() {
      this.$refs["modal-1"].hide();
    },
    hideModal2() {
      this.$refs["modal-2"].hide();
    },
    approveEdit(data) {
      console.log("+++++");
      console.log(data);
      let msg;
      switch (data) {
        case 1:
          msg = "Task has been successfully Approved";
          break;
        case 4:
          msg = "Task has been asked for Revision";
          break;
        case 3:
          msg = "Task has been successfully Declined";
          break;
        default:
          break;
      }
      //console.log(this.dataDetail.billingscheme);
      const billingschemeStag = {
        id: this.dataDetail.billingschemeStag.id,
        oldBillingId:
          this.dataDetail.billingscheme?.id !== null
            ? this.dataDetail.billingscheme?.id
            : null,
        schemeType: this.dataDetail.billingschemeStag.schemeType,
        comment: this.comment,
        approvalStatus: data,
      };

      axios
        .post(
          "api/organization/approveedit",
          {
            subscriptionId: this.dataDetail.subscriptionId,
            billingscheme: this.dataDetail.billingscheme,
            billingschemeStag,
          },
          {}
        )
        .then((res) => {
          if (res.status === 200) {
            if (res.headers.rtok) {
              tokenUpdate(res.headers.rtok);
            }
            this.$router.push({
              name: "orgDetail",
              params: {
                id: this.parentId,
                msg,
              },
            });
            //this.$router.go(-1);
          }
          console.log(res);
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    approve(stat) {
      let msg;
      switch (stat) {
        case 1:
          msg = "Task has been successfully Approved";
          break;
        case 4:
          msg = "Task has been asked for Revision";
          break;
        case 3:
          msg = "Task has been successfully Declined";
          break;
        default:
          break;
      }
      axios
        .post(
          `api/organization/approve/`,
          {
            id: this.stagData.billingid,
            schemeName: this.stagData.billingName,
            schemeType: this.stagData.billingType,
            approvalStatus: stat,
            comment: this.comment,
          },
          {
            params: {
              subsId: this.$route.params.id,
            },
          }
        )
        .then((res) => {
          if (res.status === 200) {
            if (res.headers.rtok) {
              tokenUpdate(res.headers.rtok);
            }
            this.$router.push({
              name: "orgDetail",
              params: {
                id: this.parentId,
                msg,
              },
            });
          }
          console.log(res);
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    getData() {
      const id = this.$route.params.id;

      axios
        .get(`api/organization/getorgappdetail/${id}`, {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          this.dataDetail = res.data;
          console.log(this.dataDetail);
          this.orgData.orgAppName = res.data.appName;
          this.orgData.orgName = res.data.organization.organizationName;
          this.orgData.planname = res.data.planName;
          this.orgData.productTitle = res.data.productName;
          this.billingStatus.selectedBillingStatus =
            res.data.subscriptionStatus;

          if (res.data.billingscheme) {
            this.billingData.billingType = res.data.billingscheme.schemeType;
            this.billingData.billingid = res.data.billingscheme.id;

            if (res.data.billingscheme.billingSchemeTemplate) {
              this.showTemplate = true;
              this.isDecline =
                res.data.billingscheme.approvalStatus === 3 ? true : false;
              this.templateName =
                res.data.billingscheme.billingSchemeTemplate.billingSchemeTemplateName;
            }
            this.getBillDetails("oldData");
            this.billingData.billingType.toUpperCase() === "FLAT"
              ? (this.isFlatType = true)
              : (this.isTierType = true);
          }

          if (res.data.billingschemeStag) {
            this.stagData.billingType = res.data.billingschemeStag.schemeType;
            this.stagData.billingid = res.data.billingschemeStag.id;
            this.isDecline =
              res.data.billingschemeStag.approvalStatus === 3 ? true : false;
            if (res.data.billingschemeStag.billingSchemeTemplate) {
              this.stagData.showTemplate = true;
              this.stagData.templateName =
                res.data.billingschemeStag.billingSchemeTemplate.billingSchemeTemplateName;
            }
            this.getBillDetails("newData");
            this.stagData.billingType.toUpperCase() === "FLAT"
              ? (this.stagData.isFlatType = true)
              : (this.stagData.isTierType = true);
          }

          if (
            res.data.billingschemeStag !== null &&
            res.data.billingscheme !== null
          ) {
            this.hasNewData = true;
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    getBillDetails(data) {
      const id = this.stagData?.billingid || this.billingData.billingid;
      let url = "";
      if (data === "oldData") {
        url = `api/organization/getBillingDetails/`;
      } else {
        url = `api/organization/getBillingStagDetails/`;
      }
      axios
        .get(`${url}${id}`, {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          if (data === "oldData") {
            //this.billingData.comment = res.data[0].billlingscheme.comment;
            if (this.isFlatType) {
              this.billingData.chargePerCall = res.data[0].billingCharge
                ? res.data[0].billingCharge
                : res.data[0].billingTemplateCharge;
            }
            if (this.isTierType) {
              let tierResponse = [];
              res.data.map((dt) => {
                let tierDt = {
                  billingChargeId: dt.billingChargeId
                    ? dt.billingChargeId
                    : dt.billingTemplateChargeId,
                  billingTierLvl: dt.billingTierLvl
                    ? dt.billingTierLvl
                    : dt.billingTemplateLvl,
                  minCall: dt.minCall,
                  maxCall: dt.maxCall,
                  billingCharge: dt.billingCharge
                    ? dt.billingCharge
                    : dt.billingTemplateCharge,
                };
                tierResponse.push(tierDt);
              });

              // this.tierData = tierResponse;
              this.setOldTierFromServer(tierResponse);
            }
            //this.billingData.billingName = res.data[0].billingSchemeName;
          } else {
            //this.stagData.comment = res.data[0].billlingschemeStag?.comment;
            if (this.stagData.isFlatType) {
              console.log(res.data[0].billingTemplateCharge);
              this.stagData.chargePerCall = res.data[0].billingCharge
                ? res.data[0].billingCharge
                : res.data[0].billingTemplateCharge;
              console.log(this.billingData.chargePerCall);
            }
            if (this.stagData.isTierType) {
              let tierResponse = [];
              res.data.map((dt) => {
                let tierDt = {
                  billingChargeId: dt.billingChargeId
                    ? dt.billingChargeId
                    : dt.billingTemplateChargeId,
                  billingTierLvl: dt.billingTierLvl
                    ? dt.billingTierLvl
                    : dt.billingTemplateLvl,
                  minCall: dt.minCall,
                  maxCall: dt.maxCall,
                  billingCharge: dt.billingCharge
                    ? dt.billingCharge
                    : dt.billingTemplateCharge,
                };
                tierResponse.push(tierDt);
              });
              //this.stagData.tierData = tierResponse;
              this.setTierFromServer(tierResponse);
            }
            //this.billingData.billingName = res.data[0].billingSchemeName;
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
  },
};
</script>
