<template>
  <div class="mt-5 px-3">
    <div v-if="failSubmit" class="container mb-5">
      <b-alert show variant="danger">{{ this.errMsg }}</b-alert>
    </div>
    <div class="card p-5 col-md-9 mx-auto">
      <h3 class="mb-3">Edit Organization App Scheme</h3>
      <hr />
      <div class="text-right mt-2">
        <b-form-group id="input-group-1">
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">AppName :</label>
            </b-col>
            <b-col sm="9">
              <b-form-input
                disabled
                v-model="orgData.orgAppName"
                required
              ></b-form-input>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group>
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default"
                >Organization Owner :</label
              >
            </b-col>
            <b-col sm="9">
              <b-form-input
                disabled
                v-model="orgData.orgName"
                required
                type="text"
              ></b-form-input>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group id="input-group-3">
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Product :</label>
            </b-col>
            <b-col sm="9" class="text-left d-flex mt-1">
              <b-form-input
                v-model="orgData.productTitle"
                disabled
                required
              ></b-form-input>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group id="input-group-3">
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Plan :</label>
            </b-col>
            <b-col sm="9" class="text-left d-flex mt-1">
              <b-form-input
                v-model="orgData.planname"
                disabled
                required
              ></b-form-input>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group>
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Billing Status :</label>
            </b-col>
            <b-col sm="9">
              <b-form-select
                required
                v-model="billingStatus.selectedBillingStatus"
                :options="billingStatus.billingStatusOptions"
              ></b-form-select>
            </b-col>
          </b-row>
        </b-form-group>

        <template v-if="onlyApprovedData">
          <template v-if="onlyApprovedData && onlyStagData">
            <h3 class="text-left ml-5">Old Data</h3>
            <hr />
          </template>

          <b-form-group id="input-group-3">
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Scheme Type:</label>
              </b-col>
              <b-col sm="9" class="text-left d-flex mt-1">
                <b-form-select
                  required
                  :disabled="onlyStagData && onlyApprovedData"
                  @change="filterScheme()"
                  v-model="billingType.selectedBillingType"
                  :options="billingType.billingTypeOptions"
                ></b-form-select>
              </b-col>
            </b-row>
          </b-form-group>

          <b-form-group v-if="billingType.selectedBillingType">
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default"
                  >Billing Resource :</label
                >
              </b-col>
              <b-col sm="9" class="text-left d-flex mt-1">
                <b-form-select
                  required
                  @change="useResourceOld"
                  :disabled="onlyApprovedData && onlyStagData"
                  v-model="showTemplate"
                  :options="showTemplateOptions"
                ></b-form-select>
              </b-col>
            </b-row>
          </b-form-group>

          <b-form-group v-if="showTemplate">
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default"
                  >Scheme Template :</label
                >
              </b-col>
              <b-col sm="9" class="text-left d-flex mt-1">
                <b-form-select
                  required
                  @change="selectTemplate"
                  v-model="billingData.selectedBilling"
                  :options="billingData.options"
                  :disabled="onlyApprovedData && onlyStagData"
                ></b-form-select>
              </b-col>
            </b-row>
          </b-form-group>

          <b-form-group v-if="isFlatType">
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Charge per call:</label>
              </b-col>
              <b-col sm="9">
                <b-input-group prepend="Rp">
                  <b-form-input
                    :disabled="onlyApprovedData && onlyStagData"
                    v-model="billingData.chargePerCall"
                  ></b-form-input>
                </b-input-group>
              </b-col>
            </b-row>
          </b-form-group>
          <template v-if="isTierType">
            <old-tier-table :form="oldForm"></old-tier-table>
            <hr />
          </template>
        </template>

        <template v-if="onlyStagData">
          <template v-if="onlyStagData && onlyApprovedData">
            <h3 class="text-left ml-5">New Data</h3>
            <hr />
          </template>
          <b-form-group id="input-group-3">
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Scheme Type:</label>
              </b-col>
              <b-col sm="9" class="text-left d-flex mt-1">
                <b-form-select
                  required
                  @change="filterStagScheme()"
                  v-model="stagData.billingType.selectedBillingType"
                  :options="stagData.billingType.billingTypeOptions"
                ></b-form-select>
              </b-col>
            </b-row>
          </b-form-group>
          <b-form-group v-if="stagData.billingType.selectedBillingType">
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default"
                  >Billing Resource :</label
                >
              </b-col>
              <b-col sm="9" class="text-left d-flex mt-1">
                <b-form-select
                  required
                  @change="useResource"
                  v-model="stagData.showTemplate"
                  :options="stagData.showTemplateOptions"
                ></b-form-select>
              </b-col>
            </b-row>
          </b-form-group>

          <b-form-group v-if="stagData.showTemplate">
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default"
                  >Scheme Template :</label
                >
              </b-col>
              <b-col sm="9" class="text-left d-flex mt-1">
                <b-form-select
                  required
                  @change="selectStagTemplate"
                  v-model="stagData.billingData.selectedBilling"
                  :options="stagData.billingData.options"
                ></b-form-select>
              </b-col>
            </b-row>
          </b-form-group>
          <b-form-group v-if="stagData.isFlatType">
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Charge per call:</label>
              </b-col>
              <b-col sm="9">
                <b-input-group prepend="Rp">
                  <b-form-input v-model="stagData.chargePerCall"></b-form-input>
                </b-input-group>
              </b-col>
            </b-row>
          </b-form-group>
          <template v-if="stagData.isTierType">
            <TierTable :form="form"></TierTable>
          </template>
        </template>

        <b-form-group v-if="comment" id="input-group-3">
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Comment :</label>
            </b-col>
            <b-col sm="9" class="text-left d-flex mt-1">
              <b-textarea v-model="comment" disabled></b-textarea>
            </b-col>
          </b-row>
        </b-form-group>
        <b-button class="mt-3 px-5" @click="update" variant="danger"
          >Update</b-button
        >
        <b-button
          class="mt-3 px-5 ml-2"
          @click="$router.go(-1)"
          variant="danger"
          >Back</b-button
        >
      </div>
    </div>
  </div>
</template>
<script>
import axios from "../../../util/api";
import TierTable from "@/components/TierTable";
import oldTierTable from "@/components/oldTierTable";
import { mapActions } from "vuex";
import tokenUpdate from "@/util/tokenUpdate";
import requestErrorHandler from "@/util/requestErrorHandler";
export default {
  components: {
    TierTable,
    oldTierTable,
  },
  data() {
    return {
      oldForm: {
        viewOnly: this.showTemplate,
        noAction: true,
        fields: [
          { key: "billingTierLvl", label: "Tier Level" },
          { key: "maxCall", label: "Max Usages" },
          { key: "billingCharge", label: "Charge per call" },
          "Action",
        ],
        forApps: true,
        err: false,
        errMsg: "",
        errEdit: false,
        errEditMsg: "",
      },
      form: {
        viewOnly: false,
        forApps: true,
        err: false,
        errMsg: "",
        errEdit: false,
        errEditMsg: "",
      },
      setForm: {
        minCall: "",
        maxCall: "",
        chargePerCall: "",
      },
      tierModal: {
        minCall: "",
        maxCall: "",
        chargePerCall: "",
      },
      billingStatus: {
        billingStatusOptions: [
          { value: "null", text: "Not Set", disabled: true },
          { value: "SET", text: "Required " },
          { value: "SET_NOT_REQUIRED", text: "Not Required" },
        ],
        selectedBillingStatus: "null",
      },
      dataDetail: [],
      comment: null,
      orgData: {
        orgAppName: "",
        orgName: "",
        planname: "",
        productTitle: "",
      },
      stagData: {
        billingName: "",
        billingid: "",
        chargePerCall: "",
        tierData: this.$store.getters.tierData,
        billingType: {
          billingTypeOptions: [
            { value: "FLAT", text: "Flat" },
            { value: "TIER", text: "Tier" },
          ],
          selectedBillingType: "",
        },
        isTierType: false,
        isFlatType: false,
        comment: "",
        showTemplate: false,
        showTemplateOptions: [
          { value: true, text: "Use Existing Billing Package" },
          { value: false, text: "Custom Billing Package" },
        ],
        billingData: {
          billingType: "",
          billingName: "",
          billingid: "",
          chargePerCall: "",
          selectedBilling: "",
          options: [],
        },
      },
      billingData: {
        billingType: "",
        billingName: "",
        billingid: "",
        chargePerCall: "",
        selectedBilling: "",
        options: [],
      },
      billingType: {
        billingTypeOptions: [
          { value: "FLAT", text: "Flat" },
          { value: "TIER", text: "Tier" },
        ],
        selectedBillingType: "",
      },
      tierData: [],
      fields: [
        { key: "billingTemplateLvl", label: "Tier Level" },
        { key: "minCall", label: "Min Call" },
        { key: "maxCall", label: "Max Call" },
        { key: "billingTemplateCharge", label: "Charge per call" },
        "Action",
      ],
      failSubmit: false,
      isTierType: false,
      isFlatType: false,
      tierMax: false,
      disableOptions: false,
      subsid: "",
      showTemplate: false,
      showTemplateOptions: [
        { value: true, text: "Use Existing Billing Package" },
        { value: false, text: "Custom Billing Package" },
      ],
      hasOldData: false,
      onlyApprovedData: false,
      onlyStagData: false,
    };
  },
  mounted() {
    this.getData();
  },
  watch: {
    tierData: function () {
      if (this.tierData.length === 5) {
        this.tierMax = true;
      } else {
        this.tierMax = false;
      }
    },
  },
  methods: {
    ...mapActions({
      setTierFromServer: "getDataFromServer",
      setOldTierFromServer: "getOldDataFromServer",
    }),
    useResourceOld() {
      this.oldForm.viewOnly = this.showTemplate;
    },
    useResource() {
      console.log("here");
      this.form.viewOnly = this.stagData.showTemplate;
    },
    getBillingData(val) {
      //this.billingData.selectedBilling = "";
      //this.billingData.options = null;

      axios
        .get("/api/billingSchemeTemplate/getall", {})
        .then((billingRes) => {
          console.log(billingRes);
          const filterBill = billingRes.data.filter((data) => {
            return (
              data.billingTemplateApprovalStatus === 1 &&
              data.billingSchemeTemplateType.toUpperCase() === val
            );
          });
          let arr = [];
          for (let i = 0; i < filterBill.length; i++) {
            const billingData = {
              value: filterBill[i].billingTemplateId,
              text: filterBill[i].billingSchemeTemplateName,
            };
            arr.push(billingData);
          }

          this.stagData.billingData.options = arr;

          this.billingData.options = arr;
          console.log(this.billingData.options);
          this.billingDetailData = filterBill;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    selectTemplate() {
      const found = this.billingDetailData.find(
        (el) => el.billingTemplateId === this.billingData.selectedBilling
      );
      console.log(found);
      this.billingData.selectedBillingName = found.billingSchemeTemplateName;

      this.getDetailBilling(found.billingTemplateId, "nonStag");
    },
    selectStagTemplate() {
      console.log(this.stagData.billingData);
      const found = this.billingDetailData.find(
        (el) =>
          el.billingTemplateId === this.stagData.billingData.selectedBilling
      );
      this.stagData.billingData.selectedBillingName =
        found.billingSchemeTemplateName;

      this.getDetailBilling(found.billingTemplateId, "stag");
    },

    getDetailBilling(billingId, type) {
      axios
        .get(`api/billingSchemeTemplate/detail/${billingId}`, {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          if (type === "stag") {
            console.log("stagDetail template");
            if (this.stagData.isFlatType) {
              this.stagData.chargePerCall = res.data[0].billingTemplateCharge;
              this.flatChargeId = res.data[0].billingtemplatechargeId;
            } else if (this.stagData.isTierType) {
              //this.constructTier(res, type);

              const newArrayOfObj = res.data.map(
                ({
                  billingCharge: billingTemplateCharge,
                  billingTierLvl: billingTemplateLvl,
                  ...rest
                }) => ({ billingTemplateCharge, billingTemplateLvl, ...rest })
              );
              //this.stagData.tierData = newArrayOfObj;
              this.setTierFromServer(newArrayOfObj);
            }
          } else {
            if (this.isFlatType) {
              this.billingData.chargePerCall =
                res.data[0].billingTemplateCharge;
              this.flatChargeId = res.data[0].billingtemplatechargeId;
            } else if (this.isTierType) {
              let newArrayOfObj = [];
              res.data.map((dt) => {
                let convert = {
                  billingTierLvl: dt.billingTemplateLvl || dt.billingTierLvl,
                  maxCall: dt.maxCall,
                  billingCharge: dt.billingTemplateCharge || dt.billingCharge,
                };
                newArrayOfObj.push(convert);
              });

              this.setOldTierFromServer(newArrayOfObj);
            }
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    filterScheme() {
      console.log("filterin...");
      this.getBillingData(this.billingType.selectedBillingType);
      this.showTemplate = false;
      if (this.billingType.selectedBillingType === "FLAT") {
        this.isTierType = false;
        this.isFlatType = true;
      } else {
        this.isFlatType = false;
        this.isTierType = true;
      }
    },
    filterStagScheme() {
      this.getBillingData(this.stagData.billingType.selectedBillingType);
      this.showTemplate = false;
      if (this.stagData.billingType.selectedBillingType === "FLAT") {
        this.stagData.isTierType = false;
        this.stagData.isFlatType = true;
      } else {
        this.stagData.isFlatType = false;
        this.stagData.isTierType = true;
      }
    },
    async getData() {
      const id = this.$route.params.id;
      axios
        .get(`api/organization/getorgappdetail/${id}`, {})
        .then(async (res) => {
          this.orgData.orgAppName = res.data.appName;
          this.orgData.orgName = res.data.organization.organizationName;
          this.orgData.planname = res.data.planName;
          this.orgData.productTitle = res.data.productName;
          this.subsid = res.data.subscriptionId;
          this.billingStatus.selectedBillingStatus =
            res.data.subscriptionStatus;

          if (res.data.billingscheme !== null) {
            //console.log(res.data.billingscheme.billingSchemeTemplate);
            this.billingType.selectedBillingType = res.data.billingscheme.schemeType.toUpperCase();
            this.billingData.billingid = res.data.billingscheme.id;
            this.getBillDetails("oldData");
            this.billingType.selectedBillingType === "FLAT"
              ? (this.isFlatType = true)
              : (this.isTierType = true);
            this.onlyApprovedData = true;

            if (res.data.billingscheme.billingSchemeTemplate !== null) {
              if (res.data.billingscheme !== null) {
                this.oldForm.viewOnly = true;
                if (res.data.billingschemeStag) this.disableOptions = true;
              }
              this.showTemplate = true;

              this.billingData.selectedBilling =
                res.data.billingscheme.billingSchemeTemplate.billingTemplateId;
            }
            await this.getBillingData(this.billingType.selectedBillingType);
          }

          if (res.data.billingschemeStag !== null) {
            console.log(res.data.billingschemeStag);
            this.comment = res.data.billingschemeStag.comment;
            this.stagData.billingType.selectedBillingType = res.data.billingschemeStag.schemeType.toUpperCase();
            this.stagData.billingid = res.data.billingschemeStag.id;
            this.getBillDetails("newData");
            this.stagData.billingType.selectedBillingType === "FLAT"
              ? (this.stagData.isFlatType = true)
              : (this.stagData.isTierType = true);
            this.onlyStagData = true;
            this.stagData.showTemplate = res.data.billingschemeStag
              .billingSchemeTemplate
              ? true
              : false;
            if (res.data.billingschemeStag.billingSchemeTemplate) {
              this.stagData.billingData.selectedBilling =
                res.data.billingschemeStag.billingSchemeTemplate.billingTemplateId;
              console.log("asd");
              this.form.viewOnly = true;
            }
            await this.getBillingData(
              this.stagData.billingType.selectedBillingType
            );
          }
        })
        .catch((err) => {
          if (err?.response.status === 403) this.$router.push("/unauthorized");
          else if (err?.response.status === 401) {
            localStorage.removeItem("token");
            location.reload();
            this.$router.push("/login");
          }
          this.reqFail = true;
          console.log(err);
        });
    },
    getBillDetails(data) {
      const id = this.stagData?.billingid || this.billingData.billingid;
      let url = "";

      if (data === "oldData") {
        url = `api/organization/getBillingDetails/`;
      } else {
        url = `api/organization/getBillingStagDetails/`;
      }

      axios
        .get(`${url}${id}`, {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          if (data === "oldData") {
            //this.billingData.comment = res.data[0].billlingscheme.comment;
            if (this.isFlatType) {
              this.billingData.chargePerCall = res.data[0].billingCharge
                ? res.data[0].billingCharge
                : res.data[0].billingTemplateCharge;
            }
            if (this.isTierType) {
              let newArrayOfObj = [];
              res.data.map((dt) => {
                let convert = {
                  billingTierLvl: dt.billingTemplateLvl || dt.billingTierLvl,
                  maxCall: dt.maxCall,
                  billingCharge: dt.billingTemplateCharge || dt.billingCharge,
                };
                newArrayOfObj.push(convert);
              });

              this.setOldTierFromServer(newArrayOfObj);
            }
          } else {
            //this.stagData.comment = res.data[0].billlingscheme.comment;
            if (this.stagData.isFlatType) {
              this.stagData.chargePerCall = res.data[0].billingCharge
                ? res.data[0].billingCharge
                : res.data[0].billingTemplateCharge;
              console.log(res.data);
            }
            if (this.stagData.isTierType) {
              const newArrayOfObj = res.data.map(
                ({
                  billingCharge: billingTemplateCharge,
                  billingTierLvl: billingTemplateLvl,
                  ...rest
                }) => ({ billingTemplateCharge, billingTemplateLvl, ...rest })
              );
              // console.log(newArrayOfObj);
              this.stagData.tierData = newArrayOfObj;
              this.setTierFromServer(newArrayOfObj);
              // console.log(this.stagData.tierData);
            }
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.failSubmit = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },

    update() {
      /* eslint-disable no-mixed-spaces-and-tabs */

      let postData;
      let url;
      let chargeData = [];
      const charRegex = new RegExp(/^[0-9]+$/g);
      console.log(this.stagData.isFlatType);
      if (this.stagData.isFlatType) {
        if (charRegex.test(this.stagData.chargePerCall)) {
          url = "api/organization/editAppScheme";
          chargeData = [
            {
              billingCharge: this.stagData.chargePerCall,
              minCall: null,
              maxCall: null,
              billingTierLvl: null,
              // billingPk: this.billingData.billingid,
            },
          ];
          postData = this.stagData.showTemplate
            ? {
                appId: this.$route.params.id,
                subsId: this.subsid,
                billingStatus: this.billingStatus.selectedBillingStatus,
                billingTempalteId: this.stagData.billingData.selectedBilling,
                billingSchemeStag: {
                  id: this.stagData.billingid,
                  schemeType: "Flat",
                  approvalStatus: 0,
                  comment: this.stagData.comment,
                },
              }
            : {
                //appId: this.$route.params.id,
                subsId: this.subsid,
                billingStatus: this.billingStatus.selectedBillingStatus,
                billingSchemeStag: {
                  id: this.stagData.billingid,
                  schemeType: "Flat",
                  approvalStatus: 0,
                  comment: this.stagData.comment,
                },
                billSchemeChargeStag: chargeData,
              };
        } else {
          this.failSubmit = true;
          this.errMsg = "Charge Per Call cannot contains character";
          return;
        }
      } else if (this.stagData.isTierType) {
        console.log(2);
        url = "api/organization/editAppScheme";

        this.$store.getters.tierData.map((data) => {
          console.log(data);
          chargeData.push({
            billingCharge: parseInt(data.billingTemplateCharge),
            minCall: data.minCall,
            maxCall: data.maxCall,
            billingTierLvl: parseInt(data.billingTemplateLvl),
            //billingPk: this.billingData.billingid,
          });
        });
        postData = this.stagData.showTemplate
          ? {
              appId: this.$route.params.id,
              subsId: this.subsid,
              billingStatus: this.billingStatus.selectedBillingStatus,
              billingTempalteId: this.stagData.billingData.selectedBilling,
              billingSchemeStag: {
                id: this.stagData.billingid,
                schemeType: "Tier",
                approvalStatus: 0,
                comment: this.stagData.comment,
              },
            }
          : {
              //appId: this.$route.params.id,
              subsId: this.subsid,
              billingSchemeStag: {
                id: this.stagData.billingid,
                schemeType: "Tier",
                approvalStatus: 0,
                comment: this.stagData.comment,
              },
              billSchemeChargeStag: chargeData,
              billingStatus: this.billingStatus.selectedBillingStatus,
            };
        if (!postData.billingTempalteId) {
          let validTier = false;
          postData.billSchemeChargeStag.map((pd) => {
            if (pd.maxCall === -1) {
              validTier = true;
            }
          });
          if (!validTier) {
            this.failSubmit = true;
            this.errMsg = "Tier data is not valid. Highest tier must be set";
            return;
          }
        }
      } else if (this.isFlatType) {
        if (charRegex.test(this.billingData.chargePerCall)) {
          console.log(15);
          url = "api/organization/setScheme";
          chargeData = [
            {
              billingCharge: this.billingData.chargePerCall,
              minCall: null,
              maxCall: null,
              billingTierLvl: null,
              // billingPk: this.billingData.billingid,
            },
          ];
          postData = this.showTemplate
            ? {
                appId: this.$route.params.id,
                subsId: this.subsid,
                billingStatus: this.billingStatus.selectedBillingStatus,
                billingTempalteId: this.billingData.selectedBilling,
              }
            : {
                //appId: this.$route.params.id,
                subsId: this.subsid,
                billingStatus: this.billingStatus.selectedBillingStatus,
                billingSchemeStag: {
                  id: this.stagData.billingid,
                  schemeType: "Flat",
                  approvalStatus: 0,
                  comment: this.stagData.comment,
                },
                billSchemeChargeStag: chargeData,
              };
        } else {
          this.failSubmit = true;
          this.errMsg = "Charge Per Call cannot contains character";
          return;
        }
      } else if (this.isTierType) {
        console.log(3);
        url = "api/organization/setScheme";

        this.$store.getters.oldTierData.map((data) => {
          chargeData.push({
            billingCharge:
              parseInt(data.billingTemplateCharge) ||
              parseInt(data.billingCharge),
            minCall: data.minCall,
            maxCall: data.maxCall,
            billingTierLvl:
              parseInt(data.billingTemplateLvl) ||
              parseInt(data.billingTierLvl),
            //billingPk: this.billingData.billingid,
          });
        });
        postData = this.showTemplate
          ? {
              appId: this.$route.params.id,
              subsId: this.subsid,
              billingStatus: this.billingStatus.selectedBillingStatus,
              billingTempalteId: this.billingData.selectedBilling,
            }
          : {
              //appId: this.$route.params.id,
              subsId: this.subsid,
              billingSchemeStag: {
                id: this.billingData.billingid,
                schemeType: "Tier",
                approvalStatus: 0,
                comment: this.stagData.comment,
              },
              billSchemeChargeStag: chargeData,
              billingStatus: this.billingStatus.selectedBillingStatus,
            };
        let validTier = false;
        if (!postData.billingTempalteId) {
          postData.billSchemeChargeStag.map((pd) => {
            if (pd.maxCall === -1) {
              validTier = true;
            }
          });
          if (!validTier) {
            this.failSubmit = true;
            this.errMsg = "Tier data is not valid. Highest tier must be set";
            return;
          }
        }
      }
      console.log(postData);
      console.log(url);
      const headerPost = {
        Authorization: `Bearer ${localStorage.getItem("token")}`,
      };
      axios
        .post(url, postData, {})
        .then((resp) => {
          if (resp.status === 200) {
            if (resp.headers.rtok) {
              tokenUpdate(resp.headers.rtok);
            }
            this.$router.go(-2);
          } else {
            this.failSubmit = true;
            this.errMsg = "Fail to update user";
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.failSubmit = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
      /* eslint-disable no-mixed-spaces-and-tabs */
    },
  },
};
</script>
