<template>
  <div class="mt-5 px-3">
    <div v-if="failSubmit" class="container mb-5">
      <b-alert show variant="danger">{{ this.errMsg }}</b-alert>
    </div>
    <div class="card p-5 col-md-9 mx-auto mb-5">
      <h3 class="ml-1 mb-3">Details</h3>
      <hr />
      <b-form class="text-right">
        <div class="border p-4">
          <h4 v-if="newData" class="text-left">Old Data</h4>
          <hr />
          <b-form-group id="input-group-1">
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default"
                  >Notification Email :</label
                >
              </b-col>
              <b-col sm="9">
                <b-form-input
                  v-model="org.notificationEmail"
                  required
                  disabled
                  placeholder="Email Notification"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-form-group>

          <b-form-group>
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">PIC Name :</label>
              </b-col>
              <b-col sm="9">
                <b-form-input
                  v-model="org.notificationName"
                  required
                  disabled
                  placeholder="Email"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-form-group>
        </div>
        <template v-if="newData">
          <div class="border p-4 mt-3">
            <h4 class="text-left">New Data</h4>
            <hr />
            <b-form-group id="input-group-1">
              <b-row class="my-1">
                <b-col sm="3">
                  <label class="pt-1" for="input-default"
                    >Notification Email :</label
                  >
                </b-col>
                <b-col sm="9">
                  <b-form-input
                    v-model="orgStag.notificationEmail"
                    required
                    disabled
                    placeholder="Email Notification"
                  ></b-form-input>
                </b-col>
              </b-row>
            </b-form-group>

            <b-form-group>
              <b-row class="my-1">
                <b-col sm="3">
                  <label class="pt-1" for="input-default">PIC Name :</label>
                </b-col>
                <b-col sm="9">
                  <b-form-input
                    v-model="orgStag.notificationName"
                    required
                    disabled
                    placeholder="Email"
                  ></b-form-input>
                </b-col>
              </b-row>
            </b-form-group>
            <b-form-group>
              <b-row class="my-1">
                <b-col sm="3">
                  <label class="pt-1" for="input-default">Comment :</label>
                </b-col>
                <b-col sm="9">
                  <b-form-input
                    v-model="orgStag.comment"
                    required
                  ></b-form-input>
                </b-col>
              </b-row>
            </b-form-group>
          </div>
        </template>

        <b-button class="mt-3" @click="update(0)" variant="danger"
          >Approve</b-button
        >
        <b-button class="mt-3 mx-2" @click="update(1)" variant="danger"
          >Ask for Revision</b-button
        >
        <b-button class="mt-3" @click="update(2)" variant="danger"
          >Decline</b-button
        >
        <b-button
          class="mt-3 mx-2 px-5"
          @click="$router.go(-1)"
          variant="danger"
          >Back</b-button
        >
      </b-form>
    </div>
  </div>
</template>
<script>
import axios from "../../../util/api";

import tokenUpdate from "@/util/tokenUpdate";
import requestErrorHandler from "@/util/requestErrorHandler";
import { mapActions } from "vuex";
export default {
  props: ["id"],
  data() {
    return {
      org: {
        notificationEmail: "",
        notificationName: "",
      },
      orgStag: {
        notificationEmail: "",
        notificationName: "",
        comment: "",
      },
      failSubmit: false,
      errMsg: "",
      oldData: false,
      newData: false,
    };
  },
  mounted() {
    this.getData();
  },

  methods: {
    update(stat) {
      let msg;
      let url;
      switch (stat) {
        case 0:
          url = `api/organization/approveOrg/`;
          msg = "Task has been successfully Approved";
          break;
        case 1:
          url = `api/organization/askRevisionOrg/`;
          msg = "Task has been asked for Revision";
          break;
        case 2:
          url = `api/organization/declineOrg/`;
          msg = "Task has been successfully Declined";
          break;
        default:
          break;
      }

      axios
        .post(
          url,
          {
            organizationId: this.$route.params.id,
            notificationEmail: this.org.notificationEmail,
            notificationName: this.org.notificationName,
            comment: this.orgStag.comment,
          },
          {}
        )
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          console.log(res);
          this.$router.push({
            name: "orgList",
            params: { msg },
          });
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.failSubmit = isErr;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    getData() {
      const id = this.$route.params.id;
      axios
        .get(`api/organization/getorg/${id}`, {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          console.log(res);
          if (res.data.org) {
            this.oldData = true;
            this.org.notificationEmail = res.data.org.notificationEmail;
            this.org.notificationName = res.data.org.notificationName;
          }
          if (res.data.orgStag) {
            this.newData = true;
            this.orgStag.notificationEmail = res.data.orgStag.notificationEmail;
            this.orgStag.notificationName = res.data.orgStag.notificationName;
            this.orgStag.comments = res.data.orgStag.comments;
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
  },
};
</script>
