<template>
  <div class="mt-5 px-3">
    <div v-if="failSubmit" class="container mb-5">
      <b-alert show variant="danger">{{ this.errMsg }}</b-alert>
    </div>
    <div class="card p-5 col-md-9 mx-auto mb-5">
      <h3 class="ml-1 mb-3">Edit Organization</h3>
      <hr />

      <b-form class="text-right">
        <div class="p-4">
          <b-form-group id="input-group-1">
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default"
                  >Organization Name :</label
                >
              </b-col>
              <b-col sm="9">
                <b-form-input
                  v-model="org.organizationName"
                  required
                  disabled
                ></b-form-input>
              </b-col>
            </b-row>
          </b-form-group>
        </div>
        <div class="border p-4">
          <template v-if="orgStag.newData">
            <h4 class="text-left">Old Data</h4>
            <hr />
          </template>
          <b-form-group id="input-group-1">
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default"
                  >Notification Email :</label
                >
              </b-col>
              <b-col sm="9">
                <b-form-input
                  v-model="org.notificationEmail"
                  required
                  :disabled="orgStag.newData"
                  placeholder="Email Notification"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-form-group>

          <b-form-group>
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">PIC Name :</label>
              </b-col>
              <b-col sm="9">
                <b-form-input
                  v-model="org.notificationName"
                  required
                  :disabled="orgStag.newData"
                  placeholder="Email"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-form-group>
        </div>

        <template v-if="orgStag.newData">
          <div class="border p-4 mt-3">
            <h4 class="text-left">New Data</h4>
            <hr />
            <b-form-group id="input-group-1">
              <b-row class="my-1">
                <b-col sm="3">
                  <label class="pt-1" for="input-default"
                    >Notification Email :</label
                  >
                </b-col>
                <b-col sm="9">
                  <b-form-input
                    v-model="orgStag.notificationEmail"
                    required
                    placeholder="Email Notification"
                  ></b-form-input>
                </b-col>
              </b-row>
            </b-form-group>
            <b-form-group>
              <b-row class="my-1">
                <b-col sm="3">
                  <label class="pt-1" for="input-default">PIC Name :</label>
                </b-col>
                <b-col sm="9">
                  <b-form-input
                    v-model="orgStag.notificationName"
                    required
                    placeholder="Email"
                  ></b-form-input>
                </b-col>
              </b-row>
            </b-form-group>
            <b-form-group>
              <b-row class="my-1">
                <b-col sm="3">
                  <label class="pt-1" for="input-default">Comment :</label>
                </b-col>
                <b-col sm="9">
                  <b-form-input
                    v-model="orgStag.comment"
                    required
                    disabled
                  ></b-form-input>
                </b-col>
              </b-row>
            </b-form-group>
          </div>
        </template>

        <b-button class="mt-3 px-5" @click="update()" variant="danger"
          >Update</b-button
        >
        <b-button
          class="mt-3 mx-2 px-5"
          @click="$router.go(-1)"
          variant="danger"
          >Back</b-button
        >
      </b-form>
    </div>
  </div>
</template>
<script>
import axios from "../../../util/api";
import editvalidator from "@/util/editvalidator";
import tokenUpdate from "@/util/tokenUpdate";
import requestErrorHandler from "@/util/requestErrorHandler";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      org: {
        notificationEmail: "",
        notificationName: "",
        organizationName: "",
        oldData: false,
      },
      oldData: null,
      newData: null,
      orgStag: {
        notificationEmail: "",
        notificationName: "",
        comment: "",
        newData: false,
      },
      failSubmit: false,
      errMsg: "",
    };
  },
  mounted() {
    this.getData();
  },

  methods: {
    async update(editOrg) {
      const orgReq = !this.orgStag.newData
        ? {
            organizationId: this.$route.params.id,
            notificationEmail: this.org.notificationEmail,
            notificationName: this.org.notificationName,
          }
        : {
            organizationId: this.$route.params.id,
            notificationEmail: this.orgStag.notificationEmail,
            notificationName: this.orgStag.notificationName,
          };

      const notValidEdit = await editvalidator(
        this.oldData,
        this.newData,
        orgReq,
        "Organization"
      );
      if (notValidEdit) {
        this.failSubmit = true;
        this.errMsg = "Nothing to update, you should update something";
        window.scrollTo(0, 0);
        return;
      }
      console.log(notValidEdit);
      axios
        .post(`api/organization/editOrg/`, orgReq, {})
        .then((res) => {
          console.log(res);
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          this.$router.go(-1);
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.failSubmit = isErr;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    getData() {
      const id = this.$route.params.id;
      axios
        .get(`api/organization/getorg/${id}`, {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          console.log(res);
          if (res.data.org) {
            this.org.oldData = true;
            this.org.notificationEmail = res.data.org.notificationEmail;
            this.org.notificationName = res.data.org.notificationName;
            this.org.organizationName = res.data.org.organizationName;
            this.oldData = res.data.org;
          }
          if (res.data.orgStag) {
            this.orgStag.newData = true;
            this.orgStag.notificationEmail = res.data.orgStag.notificationEmail;
            this.orgStag.notificationName = res.data.orgStag.notificationName;
            this.orgStag.comment = res.data.orgStag.comment;
            this.newData = res.data.orgStag;
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
  },
};
</script>
