<template>
  <div class="mt-5 px-3">
    <div v-if="failSubmit" class="container mb-5">
      <b-alert show variant="danger">{{ this.errMsg }}</b-alert>
    </div>
    <div class="card p-5 col-md-9 mx-auto">
      <h3 class="mb-3">Add Scheme</h3>
      <hr />
      <b-form @submit="submit" class="text-right mt-2">
        <b-form-group md="6">
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">AppName :</label>
            </b-col>
            <b-col sm="9">
              <b-form-input
                disabled
                v-model="appData.appName"
                required
              ></b-form-input>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group md="6">
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default"
                >Organization Owner :</label
              >
            </b-col>
            <b-col sm="9">
              <b-form-input
                disabled
                v-model="appData.orgOwner"
                required
                type="text"
              ></b-form-input>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group>
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Product Name :</label>
            </b-col>
            <b-col sm="9">
              <b-form-input
                disabled
                v-model="appData.productName"
                required
                type="text"
              ></b-form-input>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group>
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Plan Name :</label>
            </b-col>
            <b-col sm="9">
              <b-form-input
                disabled
                v-model="appData.planName"
                required
                type="text"
              ></b-form-input>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group>
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Billing Status :</label>
            </b-col>
            <b-col sm="9">
              <b-form-select
                required
                v-model="billingStatus.selectedBillingStatus"
                :options="billingStatus.billingStatusOptions"
              ></b-form-select>
            </b-col>
          </b-row>
        </b-form-group>

        <b-form-group v-if="billingStatus.selectedBillingStatus == `SET`">
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Scheme Type :</label>
            </b-col>
            <b-col sm="9" class="text-left d-flex mt-1">
              <b-form-select
                required
                @change="filterScheme()"
                v-model="billingType.selectedBillingType"
                :options="billingType.billingTypeOptions"
              ></b-form-select>
            </b-col>
          </b-row>
        </b-form-group>

        <b-form-group v-if="billingType.selectedBillingType">
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Billing Resource :</label>
            </b-col>
            <b-col sm="9" class="text-left d-flex mt-1">
              <b-form-select
                required
                @change="selectSource"
                v-model="showTemplate"
                :options="showTemplateOptions"
              ></b-form-select>
            </b-col>
          </b-row>
        </b-form-group>

        <b-form-group v-if="showTemplate">
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Scheme Template :</label>
            </b-col>
            <b-col sm="9" class="text-left d-flex mt-1">
              <b-form-select
                required
                @change="selectTemplate"
                v-model="billingData.selectedBilling"
                :options="billingData.options"
              ></b-form-select>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group v-if="isFlatType">
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Charge per call:</label>
            </b-col>
            <b-col sm="9">
              <b-input-group prepend="Rp">
                <b-form-input
                  required
                  v-model="billingData.chargePerCall"
                ></b-form-input>
              </b-input-group>
            </b-col>
          </b-row>
        </b-form-group>
        <template v-if="isTierType">
          <TierTable :form="form"></TierTable>
          <hr />
        </template>
        <template v-if="!loading">
          <b-button class="mt-3 px-5" type="submit" variant="danger"
            >Save</b-button
          >
          <b-button
            class="mt-3 px-5 ml-2"
            @click="$router.go(-1)"
            variant="danger"
            >Back</b-button
          >
        </template>
        <template v-else>
          <b-spinner
            v-if="loading"
            style="width: 2rem; height: 2rem"
            class="pt-2"
            variant="danger"
            label="Loading"
          ></b-spinner>
        </template>
      </b-form>
    </div>
  </div>
</template>
<script>
import axios from "../../../util/api";
import TierTable from "@/components/TierTable";
import { mapActions } from "vuex";
import tokenUpdate from "@/util/tokenUpdate";
import requestErrorHandler from "@/util/requestErrorHandler";
export default {
  components: {
    TierTable,
  },
  data() {
    return {
      form: {
        productname: "",
        chargePerCall: "",
        selectedType: "",
        options: [
          { value: "Flat", text: "Flat" },
          { value: "Tier", text: "Tier" },
        ],
        tierData: this.$store.getters.tierData,
        viewOnly: false,
        forApps: true,
        err: false,
        errMsg: "",
        errEdit: false,
        errEditMsg: "",
      },
      tierModal: {
        minCall: "",
        maxCall: "",
        chargePerCall: "",
      },
      appData: {
        appName: "",
        orgOwner: "",
        productName: "",
        planName: "",
        subsId: "",
      },
      billingData: {
        selectedBillingName: "",
        selectedBilling: "null",
        options: [],
        chargePerCall: "",
      },
      billingDetailData: [],
      billingStatus: {
        billingStatusOptions: [
          { value: "NOT_SET", text: "Not Set", disabled: true },
          { value: "SET", text: "Required " },
          { value: "SET_NOT_REQUIRED", text: "Not Required" },
        ],
        selectedBillingStatus: "NOT_SET",
      },
      billingType: {
        billingTypeOptions: [
          { value: "FLAT", text: "Flat" },
          { value: "TIER", text: "Tier" },
        ],
        selectedBillingType: "",
      },
      isFlatType: false,
      isTierType: false,
      showTemplate: false,
      showTemplateOptions: [
        { value: true, text: "Use Existing Billing Package" },
        { value: false, text: "Create New" },
      ],
      failSubmit: false,
      errMsg: null,
      fields: [
        { key: "billingTemplateLvl", label: "Tier Level" },
        "minCall",
        "maxCall",
        { key: "billingtemplatecharge", label: "Charge per Call" },
        "Action",
      ],
      tierData: [],
      tierMax: false,
      flatChargeId: null,
      loading: false,
    };
  },
  mounted() {
    this.getData();
  },
  watch: {
    tierData: function () {
      console.log("wathced");
      if (this.tierData.length === 5) {
        this.tierMax = true;
      } else {
        this.tierMax = false;
      }
    },
  },
  methods: {
    ...mapActions({
      setTierFromServer: "getDataFromServer",
      clearTierData: "clearTierData",
    }),
    filterScheme() {
      //console.log(this.billingData.options);
      this.getBillingData(this.billingType.selectedBillingType);
      if (this.billingType.selectedBillingType === "FLAT") {
        this.isTierType = false;
        this.isFlatType = true;
      } else {
        this.isFlatType = false;
        this.isTierType = true;
      }
    },
    selectSource() {
      this.form.viewOnly = this.showTemplate;
      console.log(!this.showTemplate, this.$store.getters.tierData.length > 0);
      if (!this.showTemplate && this.$store.getters.tierData.length > 0) {
        console.log("commit");
        this.clearTierData();
      }
      console.log(this.form.viewOnly);
    },
    selectTemplate() {
      const found = this.billingDetailData.find(
        (el) => el.billingTemplateId === this.billingData.selectedBilling
      );
      this.billingData.selectedBillingName = found.billingSchemeTemplateName;

      this.getDetailBilling(found.billingTemplateId);
    },
    getData() {
      const id = this.$route.params.id;
      //console.log(id)
      axios
        .get(`api/organization/getorgappdetail/${id}`, {})
        .then((res) => {
          console.log(res);
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          (this.appData.appName = res.data.appName),
            (this.appData.orgOwner = res.data.organization.organizationName),
            (this.appData.subsId = this.$route.params.id),
            (this.appData.productName = res.data.productName),
            (this.appData.planName = res.data.planName);
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    getBillingData(val) {
      axios
        .get("/api/billingSchemeTemplate/getall", {})
        .then((billingRes) => {
          console.log("====");
          console.log(billingRes);
          const filterBill = billingRes.data.filter((data) => {
            console.log(data);
            return (
              data.billingTemplateApprovalStatus === 1 &&
              data.billingSchemeTemplateType.toUpperCase() === val
            );
          });
          let arr = [];

          for (let i = 0; i < filterBill.length; i++) {
            const billingData = {
              value: filterBill[i].billingTemplateId,
              text: filterBill[i].billingSchemeTemplateName,
            };

            arr.push(billingData);
          }
          this.billingData.options = arr;

          this.billingDetailData = filterBill;
        })
        .catch((err) => {
          this.failSubmit = true;
          this.errMsg = err;
          if (err?.response.status === 401) {
            localStorage.clear("token");
            this.$router.push("/login");
          }
        });
    },
    getDetailBilling(billingId) {
      axios
        .get(`api/billingSchemeTemplate/detail/${billingId}`, {})
        .then((res) => {
          console.log("====");
          console.log(res);
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          if (this.isFlatType) {
            this.billingData.chargePerCall = res.data[0].billingTemplateCharge;
            this.flatChargeId = res.data[0].billingtemplatechargeId;
          } else if (this.isTierType) {
            var i;
            for (i = 0; i < res.data.length; i++) {
              res.data[i].billingtemplatecharge =
                res.data[i]["billingTemplateCharge"];
              delete res.data[i].key1;
            }
            this.form.viewOnly = true;
            this.setTierFromServer(res.data);
            //this.tierData = res.data;
            //console.log(this.form.tierData[0])
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.failSubmit = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    submit() {
      event.preventDefault();
      let postData;
      const charRegex = new RegExp(/^[0-9]+$/g);
      this.loading = true;
      /* eslint-disable no-mixed-spaces-and-tabs */
      if (this.isFlatType) {
        if (charRegex.test(this.billingData.chargePerCall)) {
          let chargeData = [
            {
              billingCharge: this.billingData.chargePerCall,
              minCall: null,
              maxCall: null,
              billingTierLvl: null,
              //"billingPk": billpk
            },
          ];
          postData = this.showTemplate
            ? {
                appId: this.$route.params.id,
                subsId: this.appData.subsId,
                billingStatus: this.billingStatus.selectedBillingStatus,
                billingTempalteId: this.billingData.selectedBilling,
              }
            : {
                appId: this.$route.params.id,
                subsId: this.appData.subsId,
                billingStatus: this.billingStatus.selectedBillingStatus,
                billingSchemeStag: {
                  //"id": billpk,
                  schemeName: this.billingData.selectedBillingName,
                  schemeType: "Flat",
                  approvalStatus: 0,
                },
                billSchemeChargeStag: chargeData,
              };
        } else {
          this.failSubmit = true;
          this.errMsg = "Charge Per Call cannot contains character";
          this.loading = false;
          return;
        }
      } else if (this.isTierType) {
        console.log(this.$store.getters.tierData);
        let cData;
        let arrData = [];
        this.$store.getters.tierData.map((data) => {
          console.log(data);
          cData = {
            billingCharge: data.billingTemplateCharge,
            minCall: parseInt(data.minCall),
            maxCall: parseInt(data.maxCall),
            billingTierLvl: data.billingTemplateLvl,
            //"billingPk": billpk
          };
          arrData.push(cData);
        });
        postData = this.showTemplate
          ? {
              appId: this.$route.params.id,
              subsId: this.appData.subsId,
              billingStatus: this.billingStatus.selectedBillingStatus,
              billingTempalteId: this.billingData.selectedBilling,
            }
          : {
              appId: this.$route.params.id,
              subsId: this.appData.subsId,
              billingStatus: this.billingStatus.selectedBillingStatus,
              billingSchemeStag: {
                //"id":billpk,
                schemeName: this.billingData.selectedBillingName,
                schemeType: "Tier",
                approvalStatus: 0,
              },
              billSchemeChargeStag: arrData,
            };

        console.log(postData);
        if (!postData.billingTempalteId) {
          let validTier = false;
          postData.billSchemeChargeStag.map((pd) => {
            if (pd.maxCall === -1) {
              validTier = true;
            }
          });
          if (!validTier) {
            this.failSubmit = true;
            this.errMsg = "Tier data is not valid. Highest tier must be set";
            this.loading = false;
            return;
          }
        }
      } else {
        postData = {
          appId: this.$route.params.id,
          subsId: this.appData.subsId,
          billingStatus: this.billingStatus.selectedBillingStatus,
          billingTempalteId: this.billingData.selectedBilling,
        };
      }
      /* eslint-disable no-mixed-spaces-and-tabs */
      console.log(postData);
      const headerPost = {
        Authorization: `Bearer ${localStorage.getItem("token")}`,
      };
      //console.log(this.form)
      axios
        .post("/api/organization/setScheme", postData, {})
        .then((resp) => {
          if (resp.headers.rtok) {
            tokenUpdate(resp.headers.rtok);
          }
          this.loading = false;
          this.$router.go(-2);
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.failSubmit = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
  },
};
</script>
