<template>
  <div class="mt-3 px-3">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Organization List</h3>
        </div>
      </div>
    </div>
    <div v-if="msg" class="mx-3 my-4">
      <b-alert show variant="info">{{ msg }}</b-alert>
    </div>
    <div class="px-4">
      <div class="my-3">
        <b-row>
          <b-col sm="3">
            <b-input
              id="inline-form-input-username"
              v-model="searchBox"
              placeholder="Find Organization"
            ></b-input>
          </b-col>
        </b-row>
      </div>
      <b-table
        :per-page="perPage"
        :current-page="currentPage"
        :items="items"
        :fields="fields"
        class="mb-3"
        responsive
      >
        <template v-slot:cell(approvalStatus)="data">
          {{
            data.item.approvalStatus === 0
              ? "Waiting for Approval"
              : data.item.approvalStatus === 1
              ? "Approved"
              : data.item.approvalStatus === 2
              ? "Declined"
              : data.item.approvalStatus === 4
              ? "Waiting for revision"
              : "Waiting for Approval"
          }}
        </template>
        <template v-slot:cell(action)="row">
          <a
            v-if="
              (row.item.approvalStatus === 1 ||
                row.item.approvalStatus === 4) &&
              !$store.getters.isChecker
            "
            @click="
              $router.push(`/editOrganization/${row.item.organizationId}`)
            "
            class="badge mr-2 mb-2 py-2 px-3 bg-danger text-white"
            >Edit</a
          >
          <a
            v-if="
              (row.item.approvalStatus === 5 || row.item.approvalStatus == 0) &&
              $store.getters.isChecker
            "
            @click="
              $router.push(`/approveOrganization/${row.item.organizationId}`)
            "
            class="badge mr-2 mb-2 py-2 px-3 bg-danger text-white"
            >Approve</a
          >
          <a
            @click="detailOrganization(row)"
            class="badge py-2 px-3 bg-danger text-white"
            >View</a
          >
        </template>
      </b-table>
      <b-pagination
        class="customPagination"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="my-table"
        pills
      ></b-pagination>
      <p class="mt-3 mx-2">Current Page: {{ currentPage }}</p>
    </div>
  </div>
</template>
<script>
import axios from "../../../util/api";
import tokenUpdate from "@/util/tokenUpdate";
import requestErrorHandler from "@/util/requestErrorHandler";
export default {
  props: ["msg"],
  data() {
    return {
      fields: [
        { key: "organizationName", label: "Organization Name" },
        { key: "ownerUsername", label: "Owner" },
        { key: "ownerEmail", label: "Owner Email" },

        {
          key: "approvalStatus",
          label: "Approval Status",
        },

        { key: "action", label: "Action" },
      ],
      orgData: [],
      perPage: 10,
      currentPage: 1,
      selectedUser: "",
      searchBox: "",
      selectedOrg: "",
      invoiceModal: {
        title: "Invoice List",
        currentPage: 1,
        perPage: 10,
        selectedMonth: "null",
        optionsMonth: [{ value: "null", text: "SelectMonth", disabled: true }],
        selectedYear: "null",
        optionsYear: [{ value: "null", text: "SelectYear", disabled: true }],
        invoiceData: [
          {
            month: "",
            year: "",
            organization: {
              organizationId: "",
            },
          },
        ],
        fields: [
          { key: "period", label: "Period" },
          { key: "generateTimestamp", label: "Generated Time" },
          { key: "paid", label: "Status Paid" },
          "Action",
        ],
      },
    };
  },
  mounted() {
    this.reqData();
  },
  methods: {
    detailOrganization(user) {
      this.$router.push(`/organizationDetail/${user.item.organizationId}`);
    },
    reqData() {
      axios
        .get("/api/organization/getallOrg", {})
        .then((res) => {
          console.log(res.data);
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          this.orgData = res.data;
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
  },
  computed: {
    /* eslint-disable no-mixed-spaces-and-tabs */
    items() {
      return this.searchBox
        ? this.orgData.filter((item) =>
            item.organizationName.toLowerCase().includes(this.searchBox)
          )
        : this.orgData;
    },
    itemsInvoice() {
      return this.invoiceModal.invoiceData;
    },
    rows() {
      return this.orgData.length;
    },
    /* eslint-disable no-mixed-spaces-and-tabs */
  },
};
</script>
<style scoped>
.badge {
  cursor: pointer;
}
</style>
