<template>
  <div class="mt-5 px-3">
    <div v-if="failSubmit" class="container mb-5">
      <b-alert show variant="danger">{{ this.errMsg }}</b-alert>
    </div>
    <div v-if="msg" class="mx-3 my-4">
      <b-alert show variant="info">{{ msg }}</b-alert>
    </div>
    <div class="card p-5 col-md-12 mx-auto">
      <h3 class="mb-3">Organization Detail</h3>
      <hr />
      <b-row>
        <b-col md="4">
          <div class="py-2">
            <b-col sm="12">
              <label class="pt-1" for="input-default"
                >Organization name : {{ orgData.organizationName }}</label
              >
            </b-col>
          </div>
        </b-col>
        <b-col md="4">
          <div class="py-2">
            <b-col sm="12">
              <label class="pt-1" for="input-default"
                >Owner : {{ orgData.ownerUsername }}</label
              >
            </b-col>
          </div>
        </b-col>
        <b-col md="4">
          <div class="py-2">
            <b-col sm="12">
              <label class="pt-1" for="input-default"
                >Organization email : {{ orgData.ownerEmail }}
              </label>
            </b-col>
          </div>
        </b-col>
        <b-col md="4">
          <div class="py-2">
            <b-col sm="12">
              <label class="pt-1" for="input-default"
                >PIC Name : {{ orgData.notificationName }}</label
              >
            </b-col>
          </div>
        </b-col>
        <b-col md="4">
          <div class="py-2">
            <b-col sm="12">
              <label class="pt-1" for="input-default"
                >Invoice Email : {{ orgData.notificationEmail }}</label
              >
            </b-col>
          </div>
        </b-col>
      </b-row>
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0 px-0">Application List</h3>
          </div>
          <div class="p-2 ml-auto">
            <b-form-checkbox @change="showAll" v-model="showAllData">
              {{
                !$store.getters.isChecker
                  ? "Show waiting for revision"
                  : "Show waiting for approval"
              }}
            </b-form-checkbox>
          </div>
        </div>
      </div>
      <b-table
        :per-page="perPage"
        :current-page="currentPage"
        :items="detailData"
        :fields="fields"
        :tbody-tr-class="rowClass"
        class="mb-3"
        responsive
      >
        <template v-slot:cell(billingscheme.schemeType)="row">
          <template v-if="row.item.billingscheme">
            {{
              row.item.billingscheme === null
                ? "Bill Not Set"
                : row.item.billingscheme.schemeType
            }}
          </template>
          <template v-else-if="row.item.billingschemeStag">
            {{
              row.item.billingschemeStag === null
                ? "Bill Not Set"
                : row.item.billingschemeStag.schemeType
            }}
          </template>
        </template>
        <template v-slot:cell(approvalStatus)="row">
          <template v-if="row.item.billingschemeStag">
            {{
              row.item.billingschemeStag.approvalStatus == 0
                ? "Waiting for Approval"
                : row.item.billingschemeStag.approvalStatus == 1
                ? "Approved"
                : row.item.billingschemeStag.approvalStatus == 4
                ? "Waiting for revision"
                : "Declined"
            }}
          </template>
          <template v-else-if="row.item.billingscheme">
            {{
              row.item.billingscheme.approvalStatus == 0
                ? "Waiting for Approval"
                : row.item.billingscheme.approvalStatus == 1
                ? "Approved"
                : row.item.billingscheme.approvalStatus == 4
                ? "Waiting for revision"
                : "Declined"
            }}
          </template>
          <template v-else-if="row.item.approvalStatus">
            {{
              row.item.approvalStatus == "WAITING_APRROVAL"
                ? "Waiting for Approval"
                : "Approved"
            }}
          </template>
        </template>
        <template v-slot:cell(action)="row">
          <template>
            <div>
              <b-row>
                <b-col md="6" class="pl-3 pr-0">
                  <a
                    @click="detailAppOrganization(row)"
                    class="badge py-2 px-3 bg-danger text-white"
                    >See Details</a
                  >
                </b-col>
              </b-row>
            </div>
          </template>
        </template>
      </b-table>
      <b-button
        class="mt-3 px-5 ml-auto"
        @click="$router.push({ name: `orgList` })"
        variant="danger"
        >Back</b-button
      >
    </div>
  </div>
</template>
<script>
import axios from "../../../util/api";
import tokenUpdate from "@/util/tokenUpdate";
import requestErrorHandler from "@/util/requestErrorHandler";
export default {
  props: ["id", "msg"],
  data() {
    return {
      orgData: {
        organizationName: "",
        ownerUsername: "",
      },

      fields: [
        { key: "appName", label: "Apps Name" },
        { key: "productName", label: "Api Product" },
        { key: "planName", label: "Plan Name" },
        { key: "billingscheme.schemeType", label: "Billing Scheme Type" },
        { key: "subscriptionStatus", label: "Billing  Status" },
        { key: "approvalStatus", label: "Approval Status" },
        "action",
      ],
      detailData: [],
      perPage: 10,
      currentPage: 1,
      failSubmit: false,
      isLoading: false,
      errMsg: null,
      options: [],
      selected: { appid: "", appname: "", apiproduct: "", scheme: "" },
      isChecker: this.$store.getters.isChecker,
      filteredData: null,
      showAllData: false,
      respReq: null,
    };
  },
  mounted() {
    this.getData();
  },
  methods: {
    showAll(show) {
      console.log(this.filteredData);
      this.detailData = show ? this.filteredData : this.respReq;
    },
    rowClass(item, type) {
      if (!item.billingscheme || type !== "row") {
        if (!item.billingschemeStag || type !== "row") return "bg-danger";
      }
      if (item.billingscheme?.approvalStatus === 0) {
        return "bg-warning ";
      }
      if (item.billingschemeStag?.approvalStatus === 0) {
        return "bg-warning ";
      }
    },

    detailAppOrganization(data) {
      console.log(data);
      if (
        (data.item.billingscheme?.schemeType &&
          data.item.billingscheme?.approvalStatus == 0) ||
        (data.item.billingschemeStag?.schemeType &&
          data.item.billingschemeStag?.approvalStatus == 0) ||
        data.item.billingschemeStag?.approvalStatus == "NOT_APPROVED" ||
        (data.item.approvalStatus === "WAITING_APRROVAL" && this.isChecker)
      ) {
        this.$router.push({
          name: "orgApproveScheme",
          params: {
            parentId: this.$route.params.id,
            id: data.item.subscriptionId,
          },
        });
        //this.$router.push(
        //  `/organizationappapprove/${data.item.subscriptionId}`
        //);
      } else {
        this.$router.push(`/organizationappScheme/${data.item.subscriptionId}`);
      }
    },

    getData() {
      const id = this.$route.params.id;
      axios
        .get(`api/organization/getorgapp/${id}`, {})
        .then((res) => {
          console.log(res.data);
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          this.orgData = res.data.org;
          this.detailData = res.data.orgDetail;
          this.respReq = res.data.orgDetail;
          if (this.$store.getters.isChecker) {
            if (res.data.orgDetail) {
              this.filteredData = res.data.orgDetail.filter((dt) => {
                if (dt.billingschemeStag) {
                  return dt.billingschemeStag.approvalStatus === 0;
                } else if (dt.billingscheme) {
                  return dt.billingscheme.approvalStatus === 0;
                } else {
                  return null;
                }
              });
            }
          } else {
            if (res.data.orgDetail) {
              this.filteredData = res.data.orgDetail.filter((dt) => {
                if (dt.billingschemeStag) {
                  return dt.billingschemeStag.approvalStatus === 4;
                } else if (dt.billingscheme) {
                  return dt.billingscheme.approvalStatus === 4;
                } else {
                  return null;
                }
              });
            }
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
  },
};
</script>

<style scoped>
.badge {
  cursor: pointer;
}
.longtext {
  white-space: nowrap;
  width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.longtext a {
  color: black !important;
}
</style>
