<template>
  <div class="mt-5 px-3">
    <div v-if="failSubmit" class="container mb-5">
      <b-alert show variant="danger">{{ this.errMsg }}</b-alert>
    </div>
    <div class="card p-5 col-md-9 mx-auto">
      <h3 class="mb-3">Organization App Scheme</h3>
      <hr />
      <div class="text-right mt-2">
        <b-form-group id="input-group-1">
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">AppName :</label>
            </b-col>
            <b-col sm="9">
              <b-form-input
                disabled
                v-model="orgData.orgAppName"
                required
              ></b-form-input>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group id="input-group-2">
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default"
                >Organization Owner :</label
              >
            </b-col>
            <b-col sm="9">
              <b-form-input
                disabled
                v-model="orgData.orgName"
                required
                type="text"
              ></b-form-input>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group id="input-group-3">
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Product :</label>
            </b-col>
            <b-col sm="9" class="text-left d-flex mt-1">
              <b-form-input
                v-model="orgData.productTitle"
                disabled
                required
              ></b-form-input>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group id="input-group-3">
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Plan :</label>
            </b-col>
            <b-col sm="9" class="text-left d-flex mt-1">
              <b-form-input
                v-model="orgData.planname"
                disabled
                required
              ></b-form-input>
            </b-col>
          </b-row>
        </b-form-group>

        <template v-if="hasApprovedScheme">
          <template>
            <div v-if="hasStag">
              <h3 class="text-left ml-5">Old Data</h3>
              <hr />
            </div>
            <b-form-group id="input-group-3">
              <b-row class="my-1">
                <b-col sm="3">
                  <label class="pt-1" for="input-default">Scheme Type:</label>
                </b-col>
                <b-col sm="9" class="text-left d-flex mt-1">
                  <b-form-input
                    v-model="billingData.billingType"
                    disabled
                    required
                  ></b-form-input>
                </b-col>
              </b-row>
            </b-form-group>

            <b-form-group v-if="showTemplate">
              <b-row class="my-1">
                <b-col sm="3">
                  <label class="pt-1" for="input-default"
                    >Billing Resource :</label
                  >
                </b-col>
                <b-col sm="9" class="text-left d-flex mt-1">
                  <b-form-select
                    required
                    v-model="showTemplate"
                    disabled
                    :options="showTemplateOptions"
                  ></b-form-select>
                </b-col>
              </b-row>
              <b-row class="my-3">
                <b-col sm="3">
                  <label class="pt-1" for="input-default"
                    >Billing Package :</label
                  >
                </b-col>
                <b-col sm="9" class="text-left d-flex mt-1">
                  <b-form-input v-model="templateName" disabled></b-form-input>
                </b-col>
              </b-row>
            </b-form-group>

            <b-form-group v-if="isFlatType" id="input-group-2">
              <b-row class="my-1">
                <b-col sm="3">
                  <label class="pt-1" for="input-default"
                    >Charge per call:</label
                  >
                </b-col>
                <b-col sm="9">
                  <b-form-input
                    required
                    disabled
                    v-model="billingData.chargePerCall"
                  ></b-form-input>
                </b-col>
              </b-row>
            </b-form-group>
            <template v-if="isTierType">
              <old-tier-table :form="oldForm"></old-tier-table>
              <hr />
            </template>
          </template>
        </template>

        <template v-if="hasStag">
          <template>
            <template v-if="hasApprovedScheme">
              <h3 class="text-left ml-5">New Data</h3>
              <hr />
            </template>
            <b-form-group id="input-group-3">
              <b-row class="my-1">
                <b-col sm="3">
                  <label class="pt-1" for="input-default">Scheme Type:</label>
                </b-col>
                <b-col sm="9" class="text-left d-flex mt-1">
                  <b-form-input
                    v-model="stagData.billingType"
                    disabled
                    required
                  ></b-form-input>
                </b-col>
              </b-row>
            </b-form-group>
            <b-form-group v-if="stagData.showTemplate">
              <b-row class="my-1">
                <b-col sm="3">
                  <label class="pt-1" for="input-default"
                    >Billing Resource :</label
                  >
                </b-col>
                <b-col sm="9" class="text-left d-flex mt-1">
                  <b-form-select
                    required
                    v-model="stagData.showTemplate"
                    disabled
                    :options="stagData.showTemplateOptions"
                  ></b-form-select>
                </b-col>
              </b-row>
              <b-row class="my-3">
                <b-col sm="3">
                  <label class="pt-1" for="input-default"
                    >Billing Package :</label
                  >
                </b-col>
                <b-col sm="9" class="text-left d-flex mt-1">
                  <b-form-input
                    v-model="stagData.templateName"
                    disabled
                  ></b-form-input>
                </b-col>
              </b-row>
            </b-form-group>
            <b-form-group v-if="stagData.isFlatType" id="input-group-2">
              <b-row class="my-1">
                <b-col sm="3">
                  <label class="pt-1" for="input-default"
                    >Charge per call:</label
                  >
                </b-col>
                <b-col sm="9">
                  <b-form-input
                    required
                    disabled
                    v-model="stagData.chargePerCall"
                  ></b-form-input>
                </b-col>
              </b-row>
            </b-form-group>
            <template v-if="stagData.isTierType">
              <TierTable :form="form"></TierTable>
              <hr />
            </template>
          </template>
        </template>

        <b-form-group v-if="comment" id="input-group-3">
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Comment :</label>
            </b-col>
            <b-col sm="9" class="text-left d-flex mt-1">
              <b-textarea disabled v-model="comment" required></b-textarea>
            </b-col>
          </b-row>
        </b-form-group>

        <template v-if="!isChecker">
          <b-button
            v-if="hasScheme === false"
            class="mt-3 px-5"
            variant="danger"
            @click="addScheme"
            >Add</b-button
          >
          <b-button
            v-else-if="!isWaitingApproval"
            class="mt-3 px-5"
            @click="edit"
            variant="danger"
            >Edit</b-button
          >
        </template>
        <b-button
          class="mt-3 px-5 ml-2"
          @click="$router.go(-1)"
          variant="danger"
          >Back</b-button
        >
      </div>
    </div>
  </div>
</template>
<script>
import axios from "../../../util/api";
import TierTable from "@/components/TierTable";
import oldTierTable from "@/components/oldTierTable";
import { mapActions } from "vuex";
import tokenUpdate from "@/util/tokenUpdate";
import requestErrorHandler from "@/util/requestErrorHandler";
export default {
  components: {
    TierTable,
    oldTierTable,
  },
  data() {
    return {
      oldForm: {
        viewOnly: true,
        noAction: true,
        fields: [
          { key: "billingTierLvl", label: "Tier Level" },
          { key: "maxCall", label: "Max Usage" },
          { key: "billingCharge", label: "Charge per call" },
        ],
        err: false,
        errMsg: "",
        errEdit: false,
        errEditMsg: "",
      },
      form: {
        viewOnly: true,
        noAction: true,
        fields: [
          { key: "billingTierLvl", label: "Tier Level" },
          { key: "maxCall", label: "Max Usage" },
          { key: "billingCharge", label: "Charge per call" },
        ],
        err: false,
        errMsg: "",
        errEdit: false,
        errEditMsg: "",
      },
      dataDetail: [],
      orgData: {
        orgAppName: "",
        orgName: "",
        planname: "",
        productTitle: "",
      },
      stagData: {
        billingType: "",
        billingName: "",
        billingid: "",
        chargePerCall: "",
        comment: "",
        tierData: [],
        isTierType: false,
        isFlatType: false,
        showTemplate: false,
        showTemplateOptions: [
          { value: true, text: "Existing Billing Package" },
          { value: false, text: "Custom Billing Package" },
        ],
        templateName: "",
      },
      billingData: {
        billingType: "",
        billingName: "",
        billingid: "",
        chargePerCall: "",
        comment: "",
      },
      tierData: [],
      fields: [
        { key: "billingTierLvl", label: "Tier Level" },
        { key: "minCall", label: "Min Call" },
        { key: "maxCall", label: "Max Call" },
        { key: "billingCharge", label: "Charge per call" },
      ],
      failSubmit: false,
      isTierType: false,
      isFlatType: false,
      hasScheme: false,
      noScheme: "",
      hasStag: false,
      hasApprovedScheme: false,
      isChecker: this.$store.getters.isChecker,
      showTemplate: false,
      showTemplateOptions: [
        { value: true, text: "Existing Billing Package" },
        { value: false, text: "Custom Billing Package" },
      ],
      templateName: "",
      isWaitingApproval: false,
      comment: null,
    };
  },
  mounted() {
    this.getData();
  },

  methods: {
    ...mapActions({
      setTierFromServer: "getDataFromServer",
      setOldTierFromServer: "getOldDataFromServer",
      clearTierData: "clearTierData",
    }),
    addScheme() {
      this.$router.push(`/organizationScheme/${this.$route.params.id}`);
    },
    edit() {
      this.$router.push(`/editOrgAppScheme/${this.$route.params.id}`);
    },
    getData() {
      const id = this.$route.params.id;
      //console.log(id);
      axios
        .get(`api/organization/getorgappdetail/${id}`, {})
        .then((res) => {
          console.log(res.data);
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          this.orgData.orgAppName = res.data.appName;
          this.orgData.orgName = res.data.organization.organizationName;
          this.orgData.planname = res.data.planName;
          this.orgData.productTitle = res.data.productName;
          this.isWaitingApproval =
            res.data.billingschemeStag?.approvalStatus === 0 ||
            res.data.billingschemeStag?.approvalStatus === 0
              ? true
              : false;
          if (res.data.billingscheme) {
            if (res.data.billingscheme.billingSchemeTemplate) {
              this.showTemplate = true;
              this.templateName =
                res.data.billingscheme.billingSchemeTemplate.billingSchemeTemplateName;
            }
            this.billingData.billingType = res.data.billingscheme.schemeType;
            this.billingData.billingid = res.data.billingscheme.id;
            this.hasScheme = true;
            this.hasApprovedScheme = true;
            this.getBillDetails("oldData");
            this.billingData.billingType.toUpperCase() === "FLAT"
              ? (this.isFlatType = true)
              : (this.isTierType = true);
          }

          if (res.data.billingschemeStag) {
            this.hasScheme = true;
            this.hasStag = true;
            this.comment = res.data.billingschemeStag.comment;
            if (res.data.billingschemeStag.billingSchemeTemplate) {
              this.stagData.showTemplate = true;
              this.stagData.templateName =
                res.data.billingschemeStag.billingSchemeTemplate.billingSchemeTemplateName;
            }
            this.stagData.billingType = res.data.billingschemeStag.schemeType;
            this.stagData.billingid = res.data.billingschemeStag.id;
            this.getBillDetails("newData");
            this.stagData.billingType.toUpperCase() === "FLAT"
              ? (this.stagData.isFlatType = true)
              : (this.stagData.isTierType = true);
          }
          if (
            res.data.billingschemeStag !== null &&
            res.data.billingscheme !== null
          ) {
            this.hasNewData = true;
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    getBillDetails(data) {
      const id = this.stagData?.billingid || this.billingData.billingid;
      let url = "";
      if (data === "oldData") {
        url = `api/organization/getBillingDetails/`;
      } else {
        url = `api/organization/getBillingStagDetails/`;
      }
      axios
        .get(`${url}${id}`, {})
        .then((res) => {
          console.log(res.data);
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          if (data === "oldData") {
            if (this.isFlatType) {
              this.billingData.chargePerCall = res.data[0].billingCharge
                ? res.data[0].billingCharge
                : res.data[0].billingTemplateCharge;
            }
            if (this.isTierType) {
              let tierResponse = [];
              res.data.map((dt) => {
                let tierDt = {
                  billingChargeId: dt.billingChargeId
                    ? dt.billingChargeId
                    : dt.billingTemplateChargeId,
                  billingTierLvl: dt.billingTierLvl
                    ? dt.billingTierLvl
                    : dt.billingTemplateLvl,
                  minCall: dt.minCall,
                  maxCall: dt.maxCall,
                  billingCharge: dt.billingCharge
                    ? dt.billingCharge
                    : dt.billingTemplateCharge,
                };
                tierResponse.push(tierDt);
              });

              //this.tierData = tierResponse;
              this.setOldTierFromServer(tierResponse);
            }
            //this.billingData.billingName = res.data[0].billingSchemeName;
          } else {
            if (this.stagData.isFlatType) {
              this.stagData.chargePerCall = res.data[0].billingCharge
                ? res.data[0].billingCharge
                : res.data[0].billingTemplateCharge;
            }
            if (this.stagData.isTierType) {
              console.log(res.data);
              let tierResponse = [];
              res.data.map((dt) => {
                let tierDt = {
                  billingChargeId: dt.billingChargeId
                    ? dt.billingChargeId
                    : dt.billingTemplateChargeId,
                  billingTierLvl: dt.billingTierLvl
                    ? dt.billingTierLvl
                    : dt.billingTemplateLvl,
                  minCall: dt.minCall,
                  maxCall: dt.maxCall,
                  billingCharge: dt.billingCharge
                    ? dt.billingCharge
                    : dt.billingTemplateCharge,
                };
                tierResponse.push(tierDt);
              });
              //this.stagData.tierData = tierResponse;
              this.setTierFromServer(tierResponse);
              //this.setTierFromServer(res.data);
            }
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
  },
};
</script>
