<template>
  <div class="mt-5 px-3">
    <div class="card p-5 col-md-9 mx-auto">
      <h3 class="mx-auto mb-3">Add Billing Package</h3>
      <div v-if="failSubmit" class="container mb-5">
        <b-alert show variant="danger">{{ this.errMsg }}</b-alert>
      </div>
      <b-form @submit="submit" class="text-right">
        <b-form-group>
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Package Name :</label>
            </b-col>
            <b-col sm="9">
              <b-form-input
                v-model="form.productname"
                @change="setBillTempId"
                required
              ></b-form-input>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group>
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Billing Type :</label>
            </b-col>
            <b-col sm="9">
              <b-form-select
                required
                v-model="form.selectedType"
                :options="form.options"
              ></b-form-select>
            </b-col>
          </b-row>
        </b-form-group>
        <hr />
        <b-form-group v-if="form.selectedType === 'Flat'">
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Charge per call :</label>
            </b-col>
            <b-col sm="9">
              <b-input-group prepend="Rp">
                <b-form-input
                  required
                  v-model="form.chargePerCall"
                ></b-form-input>
              </b-input-group>
            </b-col>
          </b-row>
        </b-form-group>
        <template v-if="form.selectedType === 'Tier'">
          <TierTable :form="form"></TierTable>

          <hr />
        </template>
        <b-button class="mt-3 px-5" type="submit" variant="danger"
          >Add</b-button
        >
        <b-button
          class="mt-3 px-5 ml-2"
          @click="$router.push('/billingscheme')"
          variant="danger"
          >Back</b-button
        >
      </b-form>
    </div>
  </div>
</template>
<script>
import axios from "../../../util/api";

import TierTable from "@/components/TierTable";
import tokenUpdate from "@/util/tokenUpdate";
import requestErrorHandler from "@/util/requestErrorHandler";
export default {
  components: {
    TierTable,
  },
  data() {
    return {
      form: {
        productname: "",
        options: [
          { value: "Flat", text: "Flat" },
          { value: "Tier", text: "Tier" },
        ],
        selectedType: "",
        chargePerCall: "",
        tierLevel: "",
        minCall: "",
        maxCall: "",
        err: false,
        errMsg: "",
        errEdit: false,
        errEditMsg: "",
        flatData: [],
        billTempId: "",
      },
      failSubmit: false,
      errMsg: null,
      tierMax: false,
      tierData: this.$store.getters.tierData,
      haveMax: false,
      fields: [
        { key: "billingTemplateLvl", label: "Tier Level" },
        { key: "maxCall", label: "Maximum Usage" },

        { key: "billingTemplateCharge", label: "Charge per Call" },
        "Action",
      ],
    };
  },

  watch: {
    tierData: function() {
      if (this.tierData.length === 5) {
        this.tierMax = true;
      } else {
        this.tierMax = false;
      }
    },
  },

  methods: {
    updateMaxTier(item) {
      console.log(this.tierMax, item);
      this.tierMax = !item.isMaxTier;
      this.haveMax = !item.isMaxTier;
    },
    tierMaxUpdate() {
      this.tierMax = !this.tierMax;
      this.form.maxCall = "Max call";
    },
    setBillTempId() {
      var d = new Date();
      this.form.billTempId =
        this.form.productname.replace(/\s/g, "") +
        d.getMinutes().toString() +
        d.getMilliseconds().toString();
      if (this.tierData.length !== 0) {
        for (let i = 0; i < this.tierData.length; i++) {
          this.tierData[i].billingTemplatePk = this.form.billTempId;
        }
      }
    },

    submit() {
      event.preventDefault();
      console.log(axios);

      this.failSubmit = false;

      /* eslint-disable no-mixed-spaces-and-tabs */
      if (this.form.err || this.form.errEdit) {
        this.failSubmit = true;
        this.errMsg = this.form.err
          ? this.form.errMsg
          : this.form.errEdit
          ? this.form.errEditMsg
          : "Something when wrong";
        return;
      }
      let postData = [];
      const templateId = this.form.billTempId;

      if (this.form.selectedType === "Tier") {
        let validTier = false;
        postData = this.$store.getters.tierData;
        postData.map((pd) => {
          if (pd.isMaxTier === true) {
            validTier = true;
          }
        });
        console.log(validTier);
        if (this.$store.getters.tierData.length <= 0 || !validTier) {
          this.failSubmit = true;
          this.errMsg = "Tier data is not valid. Highest tier must be set.";
          return;
        }
      } else {
        const charRegex = new RegExp(/^[0-9]+$/g);
        if (charRegex.test(this.form.chargePerCall)) {
          this.form.flatData.push({
            billingtemplatecharge: this.form.chargePerCall,
            billingtemplatepk: templateId,
          });
          console.log(this.form.selectedType);
          const flatPost = {
            billingTemplateCharge: this.form.chargePerCall,
            billingschemetemplate: {
              billingSchemeTemplateName: this.form.productname,
              billingSchemeTemplateType: this.form.selectedType,
            },
          };

          postData.push(flatPost);
        } else {
          this.failSubmit = true;
          this.errMsg = "Charge Per Call cannot contains character";
          return;
        }
      }
      console.log(postData);

      axios
        .post("/api/billingSchemeTemplate/add", postData)
        .then((resp) => {
          if (resp.status === 200) {
            if (resp.headers.rtok) {
              tokenUpdate(resp.headers.rtok);
            }
            this.$store.dispatch("clearTierData");
            this.$router.push("/billingScheme");
          } else {
            this.failSubmit = true;
            this.errMsg = "Fail to add user";
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.failSubmit = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
  },
};
</script>
<style></style>
