<template>
  <div class="mt-3 px-3">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="d-flex col-12">
          <h3 class="mb-0">All Connected Apps</h3>

          <b-button variant="danger" class="ml-auto" @click="$router.go(-1)"
            >Back</b-button
          >
        </div>
      </div>
    </div>
    <div class="px-4">
      <b-table
        :per-page="perPage"
        :current-page="currentPage"
        :items="subsData"
        :fields="fields"
        class="mb-3"
        responsive
      >
        <template v-slot:cell(billingscheme.approvalStatus)="row">
          {{
            row.item.billingscheme.approvalStatus === 0
              ? "Not Approved"
              : row.item.billingscheme.approvalStatus === 1
              ? "Approved"
              : "Waiting for Arpproval"
          }}
        </template>
      </b-table>
      <b-pagination
        class="customPagination"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="my-table"
        pills
      ></b-pagination>
      <p class="mt-3 mx-2">Current Page: {{ currentPage }}</p>
    </div>
  </div>
</template>
<script>
import axios from "../../../util/api";
import tokenUpdate from "@/util/tokenUpdate";
import requestErrorHandler from "@/util/requestErrorHandler";
export default {
  data() {
    return {
      fields: [
        {
          key: "billingscheme.billingSchemeTemplate.billingSchemeTemplateName",
          label: "Billing Package",
        },
        {
          key: "billingscheme.billingSchemeTemplate.billingSchemeTemplateType",
          label: "Billing Type",
        },
        { key: "organization.organizationName", label: "Organization name" },
        "appName",
        "productName",
        { key: "billingscheme.approvalStatus", label: "Approval Status" },
      ],
      subsData: [],
      perPage: 10,
      currentPage: 1,
      isAdmin: false,
      selectedUser: "",
    };
  },
  mounted() {
    this.reqData();
  },
  methods: {
    reqData() {
      axios
        .get(`/api/billingSchemeTemplate/allappspackage/`, {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          this.subsData = res.data;
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
  },
  computed: {
    rows() {
      return this.subsData.length;
    },
  },
};
</script>
<style scoped>
.badge {
  cursor: pointer;
}
</style>
