<template>
  <div class="mt-3 px-3">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="d-flex col-12">
          <h3 class="mb-0">List of Applications</h3>
        </div>
      </div>
    </div>
    <div class="px-4">
      <div class="d-flex border-bottom py-3">
        <h5 class="font-weight-normal mt-4">
          Package Name : {{ packageName }}
        </h5>
        <h5 class="font-weight-normal ml-5 mt-4">
          Package Type : {{ packageType }}
        </h5>
        <b-button variant="danger" class="my-2 ml-auto" @click="$router.go(-1)"
          >Back</b-button
        >
      </div>

      <b-table
        :per-page="perPage"
        :current-page="currentPage"
        :items="subsData"
        :fields="fields"
        class="mb-3"
        responsive
        show-empty
      >
        <template v-slot:empty>
          <h4>{{ "No Apps using this Billing Package" }}</h4>
        </template>
      </b-table>
      <b-pagination
        class="customPagination"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="my-table"
        pills
      ></b-pagination>
      <p class="mt-3 mx-2">Current Page: {{ currentPage }}</p>
    </div>
  </div>
</template>
<script>
import axios from "../../../util/api";
import tokenUpdate from "@/util/tokenUpdate";
import requestErrorHandler from "@/util/requestErrorHandler";
export default {
  data() {
    return {
      fields: [
        { key: "organization.organizationName", label: "Organization name" },
        "appName",

        { key: "productName", label: "API Product" },
      ],
      subsData: [],
      perPage: 10,
      currentPage: 1,
      isAdmin: false,
      selectedUser: "",
      packageName: "",
      packageType: "",
    };
  },
  mounted() {
    this.reqData();
  },
  methods: {
    reqData() {
      const id = this.$route.params.id;
      axios
        .get(`/api/billingSchemeTemplate/getallconnectedapps/${id}`, {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          this.packageName =
            res.data[0].billingscheme.billingSchemeTemplate.billingSchemeTemplateName;
          this.packageType =
            res.data[0].billingscheme.billingSchemeTemplate.billingSchemeTemplateType;
          this.subsData = res.data;
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
  },
  computed: {
    rows() {
      return this.subsData.length;
    },
  },
};
</script>
<style scoped>
.badge {
  cursor: pointer;
}
</style>
