<template>
  <div class="mt-5 px-3">
    <div v-if="failSubmit" class="container mb-5">
      <b-alert show variant="danger">{{ this.errMsg }}</b-alert>
    </div>
    <div class="card p-5 col-md-9 mx-auto mb-5">
      <h3 class="ml-1 mb-3">Details</h3>
      <hr />
      <h5 class="ml-1 mb-3 pb-2 border-bottom">
        Activity:
        {{
          isDeleteRequest
            ? "Delete Billing Package"
            : !isDeleteRequest && !hasOldData
            ? "Create New Billing Package"
            : "Edit Billing Package"
        }}
      </h5>

      <template v-if="hasOldData">
        <b-form class="text-right border p-5">
          <template v-if="hasOldData && hasNewData">
            <h4 class="mx-auto mb-3 text-left">Old Data</h4>
          </template>

          <b-form-group id="input-group-1">
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Package name :</label>
              </b-col>
              <b-col sm="9">
                <b-form-input
                  v-model="form.productname"
                  disabled
                ></b-form-input>
              </b-col>
            </b-row>
          </b-form-group>
          <b-form-group id="input-group-2">
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Billing Type:</label>
              </b-col>
              <b-col sm="9">
                <b-form-select
                  v-model="form.selectedType"
                  disabled
                  :options="form.options"
                ></b-form-select>
              </b-col>
            </b-row>
          </b-form-group>
          <hr />
          <b-form-group v-if="form.selectedType === 'Flat'" id="input-group-2">
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Charge per call:</label>
              </b-col>
              <b-col sm="9">
                <b-form-input
                  required
                  disabled
                  v-model="form.chargePerCall"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-form-group>

          <template v-if="form.selectedType === 'Tier'">
            <old-tier-table :form="oldForm"></old-tier-table>
            <hr />
          </template>
        </b-form>
      </template>

      <template v-if="hasNewData">
        <b-form class="text-right border p-5 mt-3">
          <template v-if="hasOldData && hasNewData">
            <h4 class="mx-auto mb-3 text-left">New Data</h4>
          </template>
          <hr />

          <b-form-group id="input-group-1">
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Package name :</label>
              </b-col>
              <b-col sm="9">
                <b-form-input
                  v-model="stagData.productname"
                  disabled
                ></b-form-input>
              </b-col>
            </b-row>
          </b-form-group>
          <b-form-group id="input-group-2">
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Billing Type:</label>
              </b-col>
              <b-col sm="9">
                <b-form-select
                  v-model="stagData.selectedType"
                  disabled
                  :options="form.options"
                ></b-form-select>
              </b-col>
            </b-row>
          </b-form-group>
          <hr />
          <b-form-group
            v-if="stagData.selectedType === 'Flat'"
            id="input-group-2"
          >
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Charge per call:</label>
              </b-col>
              <b-col sm="9">
                <b-form-input
                  required
                  disabled
                  v-model="stagData.chargePerCall"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-form-group>
          <template v-if="stagData.selectedType === 'Tier'">
            <TierTable :form="form"></TierTable>
            <hr />
          </template>
          <b-form-group>
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Comment :</label>
              </b-col>
              <b-col sm="9">
                <b-textarea
                  class
                  placeholder="Comment"
                  v-model="comment"
                ></b-textarea>
              </b-col>
            </b-row>
          </b-form-group>
        </b-form>
      </template>
      <div class="text-right">
        <template v-if="!isDeclined">
          <b-button
            v-if="!hasOldData"
            class="mt-3 px-5"
            type="submit"
            variant="danger"
            @click="approveScheme"
            >Approve</b-button
          >

          <b-button
            v-if="hasOldData && !isDeleteRequest"
            class="mt-3 px-5"
            type="submit"
            variant="danger"
            @click="approveEditScheme"
            >Approve</b-button
          >

          <template v-if="isDeleteRequest">
            <b-button
              class="mt-3 px-5"
              type="submit"
              variant="danger"
              @click="deleteConfirm"
              >Approve</b-button
            >
          </template>
          <b-button
            v-if="!isDeleteRequest"
            class="mt-3 px-5 ml-2"
            type="submit"
            variant="danger"
            @click="revision"
            >Ask for revision</b-button
          >
          <b-button
            class="mt-3 px-5 ml-2"
            type="submit"
            variant="danger"
            @click="decline"
            >Decline</b-button
          >
        </template>

        <b-button
          class="mt-3 px-5 ml-2"
          @click="$router.push('/billingscheme')"
          variant="danger"
          >Back</b-button
        >
      </div>
    </div>
  </div>
</template>
<script>
import axios from "../../../util/api";
import TierTable from "@/components/TierTable";
import oldTierTable from "@/components/oldTierTable";
import tokenUpdate from "@/util/tokenUpdate";
import { mapActions } from "vuex";
import requestErrorHandler from "@/util/requestErrorHandler";
export default {
  components: {
    TierTable,
    oldTierTable,
  },
  data() {
    return {
      hasOldData: false,
      hasNewData: false,
      oldForm: {
        viewOnly: true,
        noAction: true,
        forApps: true,
        err: false,
        errMsg: "",
        errEdit: false,
        errEditMsg: "",
      },
      form: {
        productname: "",
        chargePerCall: "",
        selectedType: "",
        options: [
          { value: "Flat", text: "Flat" },
          { value: "Tier", text: "Tier" },
        ],
        tierData: [],
        viewOnly: true,
      },
      modal: {
        title: "",
        caption: "",
        modalData: {},
      },
      tierMax: false,
      tierData: [],
      failSubmit: false,
      errMsg: null,
      isApproved: false,
      fields: [
        { key: "billingTemplateLvl", label: "Tier Level" },
        "minCall",
        "maxCall",
        { key: "billingTemplateCharge", label: "Charge per Call" },
      ],
      flatChargeId: null,
      billingId: "",
      isDeleteRequest: false,
      isDeclined: false,
      stagData: {
        productname: "",
        chargePerCall: "",
        selectedType: "",
        options: [
          { value: "Flat", text: "Flat" },
          { value: "Tier", text: "Tier" },
        ],
        tierData: [],
      },
      comment: null,
    };
  },
  mounted() {
    //this.getData();
    this.getStagData();
  },
  watch: {
    tierData: function () {
      if (this.tierData.length === 5) {
        this.tierMax = true;
      } else {
        this.tierMax = false;
      }
    },
  },
  methods: {
    ...mapActions({
      setTierFromServer: "getDataFromServer",
      setOldTierFromServer: "getOldDataFromServer",
    }),
    getData(id) {
      //const id = this.$route.params.id;
      axios
        .get(`api/billingSchemeTemplate/${id}`, {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          this.form.productname = res.data.billingSchemeTemplateName;
          this.form.selectedType = res.data.billingSchemeTemplateType;
          this.billingId = res.data.billingTemplateId;
          this.isApproved = res.data.billingtemplateapprovalstatus;
          this.isDeleteRequest =
            res.data.billingTemplateApprovalStatus === 3 ? true : false;
          this.isDeclined =
            res.data.billingTemplateApprovalStatus === 2 ? true : false;
          this.getDataDetail(this.billingId);
          this.hasOldData = true;
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    deleteConfirm() {
      const auth = localStorage.getItem("token");
      const selectedScheme = {
        billingTemplateId: this.$route.params.id,
      };

      const url = "/api/billingSchemeTemplate/delete/approve";

      axios
        .post(url, selectedScheme, {})
        .then((res) => {
          if (res.status === 200) {
            if (res.headers.rtok) {
              tokenUpdate(res.headers.rtok);
            }
            this.$router.push("/billingscheme");
          }
          console.log(res);
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    getStagData() {
      const id = this.$route.params.id;
      axios
        .get(`api/billingSchemeTemplate/stag/${id}`, {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          if (res.data) {
            this.hasNewData = true;
            this.comment = res.data.comment;
            this.stagData.productname = res.data.billingSchemeTemplateName;
            this.stagData.selectedType = res.data.billingSchemeTemplateType;
            this.stagData.stagId = res.data.billingTemplateId;
            this.isDeleteRequest =
              res.data.billingTemplateApprovalStatus === 3 ? true : false;
            this.isDeclined =
              res.data.billingTemplateApprovalStatus === 2 ? true : false;
            if (res.data.oldBillingId) {
              console.log("have old data");
              this.getData(res.data.oldBillingId);
            }
            this.getStagDataDetail(res.data.billingTemplateId);
          } else {
            this.hasNewData = false;
            this.getData(id);
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    getDataDetail(id) {
      //const id = this.$route.params.id;
      axios
        .get(`api/billingSchemeTemplate/detail/${id}`, {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          if (this.form.selectedType.toUpperCase() === "FLAT") {
            this.form.chargePerCall = res.data[0].billingTemplateCharge;
            this.flatChargeId = res.data[0].billingTemplateChargeId;
          } else if (this.form.selectedType.toUpperCase() === "TIER") {
            //this.setTierFromServer(res.data);
            this.setOldTierFromServer(res.data);
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.failSubmit = isErr;
            this.errMsg = err;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    getStagDataDetail(id) {
      axios
        .get(`api/billingSchemeTemplate/stag/detail/${id}`, {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          if (this.stagData.selectedType.toUpperCase() === "FLAT") {
            this.stagData.chargePerCall = res.data[0].billingTemplateCharge;
            this.flatChargeId = res.data[0].billingTemplateChargeId;
          } else if (this.stagData.selectedType.toUpperCase() === "TIER") {
            //this.stagData.tierData = res.data;
            this.oldForm.viewOnly = true;
            console.log(res.data);
            this.setTierFromServer(res.data);
            console.log(this.$store.getters.tierData);
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.failSubmit = isErr;
            this.errMsg = err;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    approveScheme() {
      event.preventDefault();
      const auth = localStorage.getItem("token");

      const selectedScheme = {
        billingTemplateId: this.$route.params.id,
        billingSchemeTemplateName: this.stagData.productname,
        billingSchemeTemplateType: this.stagData.selectedType,
      };
      axios
        .post("/api/billingSchemeTemplate/approve", selectedScheme, {})
        .then((res) => {
          if (res.status === 200) {
            if (res.headers.rtok) {
              tokenUpdate(res.headers.rtok);
            }
            this.$router.push({
              name: "billinglist",
              params: { msg: "Task has been successfully Approved" },
            });
            //this.$router.go(-1);
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.failSubmit = isErr;
            this.errMsg = err;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    decline() {
      event.preventDefault();
      const auth = localStorage.getItem("token");
      const id = this.$route.params.id;
      console.log(parseFloat(id));
      axios
        .post(
          `/api/billingSchemeTemplate/decline`,
          {
            id: id,
            comment: this.comment,
          },
          {}
        )
        .then((res) => {
          if (res.status === 200) {
            if (res.headers.rtok) {
              tokenUpdate(res.headers.rtok);
            }
            this.$router.push({
              name: "billinglist",
              params: { msg: "Task has been successfully Declined" },
            });
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.failSubmit = isErr;
            this.errMsg = err;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },

    revision() {
      event.preventDefault();
      const auth = localStorage.getItem("token");
      const id = this.$route.params.id;
      console.log(parseFloat(id));
      axios
        .post(
          `/api/billingSchemeTemplate/revision`,
          {
            id: id,
            comment: this.comment,
          },
          {}
        )
        .then((res) => {
          if (res.status === 200) {
            if (res.headers.rtok) {
              tokenUpdate(res.headers.rtok);
            }
            this.$router.push({
              name: "billinglist",
              params: { msg: "Task has been asked for Revision " },
            });
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.failSubmit = isErr;
            this.errMsg = err;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    approveEditScheme() {
      event.preventDefault();
      const auth = localStorage.getItem("token");
      const postData = {
        stagId: this.stagData.stagId,
        billingId: this.billingId,
      };
      console.log(postData);
      axios
        .post("/api/billingSchemeTemplate/approveEdit", postData, {})
        .then((res) => {
          if (res.status === 200) {
            if (res.headers.rtok) {
              tokenUpdate(res.headers.rtok);
            }
            this.$router.push({
              name: "billinglist",
              params: { msg: "Task has been successfully Approved" },
            });
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.failSubmit = isErr;
            this.errMsg = err;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
  },
};
</script>
