<template>
  <div class="mt-3 px-3">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Billing Package</h3>
        </div>
      </div>
    </div>
    <div v-if="reqFail" class="mx-3 my-4">
      <b-alert show variant="danger">{{ this.errMsg }}</b-alert>
    </div>
    <div v-if="msg" class="mx-3 my-4">
      <b-alert show variant="info">{{ msg }}</b-alert>
    </div>
    <div class="px-4">
      <div class="my-3">
        <b-row>
          <b-col sm="3">
            <b-input
              id="inline-form-input-username"
              v-model="searchBox"
              placeholder="Find Billing Package"
            ></b-input>
          </b-col>
          <b-col v-if="!isChecker" class="mr-0 pr-0">
            <router-link to="/addscheme">
              <b-button class="mr-3" variant="danger"
                >Add Billing Package</b-button
              >
            </router-link>
            <router-link to="/allappspackage">
              <b-button variant="danger">All Connected Apps</b-button>
            </router-link>
          </b-col>

          <div class="p-2 ml-auto">
            <b-form-checkbox @change="showAll" v-model="showAllData">
              {{
                !$store.getters.isChecker
                  ? "Show waiting for revision"
                  : "Show waiting for approval"
              }}
            </b-form-checkbox>
          </div>
        </b-row>
      </div>

      <b-table
        :per-page="perPage"
        :current-page="currentPage"
        :items="items"
        :fields="fields"
        :keyword="searchBox"
        class="mb-3"
        responsive
      >
        <template v-slot:cell(billingTemplateApprovalStatus)="data">
          {{
            data.item.billingTemplateApprovalStatus === 0
              ? "Waiting for Approval"
              : data.item.billingTemplateApprovalStatus === 1
              ? "Approved"
              : data.item.billingTemplateApprovalStatus === 2
              ? "Declined"
              : data.item.billingTemplateApprovalStatus === 4
              ? "Waiting for revision"
              : "Waiting for Approval"
          }}
        </template>
        <template v-slot:cell(action)="row">
          <template
            v-if="
              !isChecker &&
              (row.item.billingTemplateApprovalStatus === 1 ||
                row.item.billingTemplateApprovalStatus === 4)
            "
          >
            <a
              @click="editScheme(row)"
              class="badge py-2 px-3 mr-2 bg-danger text-white"
              >Edit</a
            >
            <a
              v-if="row.item.billingTemplateApprovalStatus != 4"
              @click="deleteTemplate(row)"
              class="badge py-2 px-3 mr-2 bg-danger text-white"
              >Delete</a
            >
          </template>
          <a
            @click="
              isChecker &&
              row.item.billingTemplateApprovalStatus !== 1 &&
              row.item.billingTemplateApprovalStatus !== 4
                ? approveScheme(row)
                : detailScheme(row)
            "
            class="badge py-2 px-3 bg-danger text-white"
            >{{ isChecker ? "See Details " : "View" }}</a
          >
        </template>
      </b-table>
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="my-table"
        pills
      ></b-pagination>
      <p class="mt-3 mx-2">Current Page: {{ currentPage }}</p>
    </div>
    <b-modal ref="delete-modal" title="Delete Template">
      <div class="d-block text-center">
        <p>Are you sure want to delete this billing package?</p>
      </div>
      <template v-slot:modal-footer>
        <div>
          <b-button
            class="btn-modal mr-3"
            variant="danger"
            @click="deleteConfirm"
            >Yes</b-button
          >
          <b-button class variant="outline-danger" @click="hideDeleteModal"
            >Cancel</b-button
          >
        </div>
      </template>
    </b-modal>
  </div>
</template>
<script>
import axios from "../../../util/api";
import tokenUpdate from "@/util/tokenUpdate";
import requestErrorHandler from "@/util/requestErrorHandler";
export default {
  name: "billing-list",
  props: ["msg"],
  data() {
    return {
      fields: [
        { key: "billingSchemeTemplateName", label: "Billing Package" },
        { key: "billingSchemeTemplateType", label: "Billing Type" },
        { key: "billingTemplateApprovalStatus", label: "Approval Status" },
        "action",
      ],
      billingData: [],
      perPage: 10,
      currentPage: 1,
      selectedScheme: null,
      searchBox: "",
      isChecker: this.$store.getters.isChecker,
      isApproveDelete: false,
      reqFail: false,
      errMsg: "",
      filteredData: null,
      showAllData: false,
      respReq: null,
    };
  },
  mounted() {
    this.reqData();
    //this.$store.dispatch("checkRoles");
    console.log(this.isChecker);
  },
  methods: {
    showAll(show) {
      this.billingData = show ? this.filteredData : this.respReq;
    },
    detailScheme(scheme) {
      this.$router.push(`/schemeTemplate/${scheme.item.billingTemplateId}`);
    },
    editScheme(scheme) {
      this.$router.push(`/editScheme/${scheme.item.billingTemplateId}`);
    },
    approveScheme(data) {
      this.$router.push(`/approve/${data.item.billingTemplateId}`);
    },
    deleteTemplate(data) {
      this.$refs["delete-modal"].show();

      this.selectedScheme = {
        billingTemplateId: data.item.billingTemplateId,
      };
      if (data.item.billingTemplateApprovalStatus === 2) {
        this.isApproveDelete = true;
      }
    },
    hideDeleteModal() {
      this.$refs["delete-modal"].hide();
    },
    deleteConfirm() {
      const auth = localStorage.getItem("token");
      const selectedScheme = this.selectedScheme;
      console.log(this.isApproveDelete);
      const url =
        this.isApproveDelete === true && this.isChecker
          ? "/api/billingSchemeTemplate/delete/approve"
          : "/api/billingSchemeTemplate/delete";
      axios
        .post(url, selectedScheme, {})
        .then((res) => {
          if (res.status === 200) {
            if (res.headers.rtok) {
              tokenUpdate(res.headers.rtok);
            }
            this.reqData();
          }
          console.log(res);
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            this.$refs["delete-modal"].hide();
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },

    reqData() {
      axios
        .get("/api/billingSchemeTemplate/getall", {})
        .then((res) => {
          this.$refs["delete-modal"].hide();
          this.respReq = res.data;
          this.billingData = res.data;
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          if (this.$store.getters.isChecker) {
            this.filteredData = res.data.filter(
              (dt) => dt.billingTemplateApprovalStatus === 0
            );
          } else {
            this.filteredData = res.data.filter(
              (dt) => dt.billingTemplateApprovalStatus === 4
            );
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
  },
  computed: {
    /* eslint-disable no-mixed-spaces-and-tabs */
    items() {
      return this.searchBox
        ? this.billingData.filter((item) => {
            return item.billingSchemeTemplateName
              .toLowerCase()
              .includes(this.searchBox);
          })
        : this.billingData;
    },
    rows() {
      return this.billingData?.length || null;
    },
    /* eslint-disable no-mixed-spaces-and-tabs */
  },
};
</script>
<style scoped>
.badge {
  cursor: pointer;
}
</style>
