<template>
  <div class="mt-5 px-3">
    <div v-if="failSubmit" class="container mb-5">
      <b-alert show variant="danger">{{ this.errMsg }}</b-alert>
    </div>
    <div class="card p-5 col-md-9 mx-auto mb-5">
      <h3 class="ml-1 mb-3">Edit Billing Package</h3>
      <hr />
      <h5 v-if="onlyStagData" class="ml-1 mb-3 pb-2 border-bottom">
        Activity :
        {{ activity }}
      </h5>

      <template v-if="onlyOlData">
        <b-form class="text-right border p-5 mt-3">
          <template v-if="hasOldData && onlyStagData">
            <h4 class="mx-auto mb-3 text-left">Old Data</h4>
          </template>
          <b-form-group id="input-group-1">
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Package name :</label>
              </b-col>
              <b-col sm="9">
                <b-form-input
                  v-model="form.productname"
                  disabled
                ></b-form-input>
              </b-col>
            </b-row>
          </b-form-group>
          <b-form-group id="input-group-2">
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Billing Type:</label>
              </b-col>
              <b-col sm="9">
                <b-form-select
                  v-model="form.selectedType"
                  disabled
                  :options="form.options"
                ></b-form-select>
              </b-col>
            </b-row>
          </b-form-group>
          <hr />
          <b-form-group v-if="form.selectedType === 'Flat'" id="input-group-2">
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Charge per call:</label>
              </b-col>
              <b-col sm="9">
                <b-form-input
                  required
                  :disabled="oldEditAble"
                  v-model="form.chargePerCall"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-form-group>

          <template v-if="form.selectedType === 'Tier'">
            <old-tier-table :form="oldForm"></old-tier-table>
            <hr />
          </template>
        </b-form>
      </template>

      <b-form v-if="onlyStagData" class="text-right border p-5 mt-3">
        <template v-if="hasOldData">
          <h4 class="mx-auto mb-3 text-left">New Data</h4>
          <hr />
        </template>
        <b-form-group id="input-group-1">
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Package name :</label>
            </b-col>
            <b-col sm="9">
              <b-form-input
                v-model="stagData.productname"
                disabled
              ></b-form-input>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group id="input-group-2">
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Billing Type:</label>
            </b-col>
            <b-col sm="9">
              <b-form-select
                v-model="stagData.selectedType"
                disabled
                :options="form.options"
              ></b-form-select>
            </b-col>
          </b-row>
        </b-form-group>
        <hr />
        <b-form-group
          v-if="stagData.selectedType === 'Flat'"
          id="input-group-2"
        >
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Charge per call:</label>
            </b-col>
            <b-col sm="9">
              <b-form-input
                required
                v-model="stagData.chargePerCall"
              ></b-form-input>
            </b-col>
          </b-row>
        </b-form-group>

        <template v-if="stagData.selectedType === 'Tier'">
          <TierTable :form="form"></TierTable>
          <hr />
        </template>
        <b-form-group>
          <b-row class="my-1">
            <b-col sm="3">
              <label class="pt-1" for="input-default">Comment :</label>
            </b-col>
            <b-col sm="9">
              <b-textarea
                class
                placeholder="Comment"
                disabled
                v-model="comment"
              ></b-textarea>
            </b-col>
          </b-row>
        </b-form-group>
      </b-form>

      <div class="text-right">
        <b-button
          class="mt-3 px-5"
          type="submit"
          variant="danger"
          @click="submit"
          >Update</b-button
        >
        <b-button
          class="mt-3 px-5 ml-2"
          @click="$router.push('/billingscheme')"
          variant="danger"
          >Back</b-button
        >
      </div>
    </div>
  </div>
</template>
<script>
import axios from "../../../util/api";
import TierTable from "@/components/TierTable";
import oldTierTable from "@/components/oldTierTable";
import tokenUpdate from "@/util/tokenUpdate";
import requestErrorHandler from "@/util/requestErrorHandler";
import { mapActions } from "vuex";
export default {
  components: {
    TierTable,
    oldTierTable,
  },
  data() {
    return {
      hasOldData: false,
      onlyOlData: false,
      onlyStagData: false,
      oldForm: {
        productname: "",
        viewOnly: this.showTemplate,
        noAction: this.viewOnly,
        forApps: true,
        err: false,
        errMsg: "",
        errEdit: false,
        errEditMsg: "",
      },
      form: {
        productname: "",
        forApps: true,
        chargePerCall: "",
        err: false,
        errMsg: "",
        errEdit: false,
        errEditMsg: "",
        tierData: [],
        viewOnly: false,
        selectedType: "",
        options: [
          { value: "Flat", text: "Flat" },
          { value: "Tier", text: "Tier" },
        ],
      },
      oldEditAble: true,
      modal: {
        title: "",
        caption: "",
        modalData: {},
      },
      tierMax: false,
      tierData: [],
      failSubmit: false,
      errMsg: null,
      isApproved: false,
      fields: [
        { key: "billingTemplateLvl", label: "Tier Level" },
        "minCall",
        "maxCall",
        { key: "billingTemplateCharge", label: "Charge per Call" },
      ],
      flatChargeId: null,
      billingId: "",
      stagData: {
        productname: "",
        chargePerCall: "",
        selectedType: "",
        options: [
          { value: "Flat", text: "Flat" },
          { value: "Tier", text: "Tier" },
        ],
        tierData: [],
        hasNewData: false,
      },
      comment: null,
      activity: null,
    };
  },
  mounted() {
    //this.getData();
    this.getStagData();
  },
  watch: {
    tierData: function() {
      if (this.tierData.length === 5) {
        this.tierMax = true;
      } else {
        this.tierMax = false;
      }
    },
  },
  methods: {
    ...mapActions({
      setTierFromServer: "getDataFromServer",
      setOldTierFromServer: "getOldDataFromServer",
    }),
    getData(id) {
      //const id = this.$route.params.id;
      axios
        .get(`api/billingSchemeTemplate/${id}`, {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          this.onlyOlData = true;
          this.hasOldData = true;
          this.form.productname = res.data.billingSchemeTemplateName;
          this.form.selectedType = res.data.billingSchemeTemplateType;
          this.billingId = res.data.billingTemplateId;
          this.isApproved = res.data.billingtemplateapprovalstatus;
          if (!this.onlyStagData) {
            this.oldEditAble = false;
          }
          this.getDataDetail(this.billingId);
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    getStagData() {
      const id = this.$route.params.id;
      axios
        .get(`api/billingSchemeTemplate/stag/${id}`, {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          if (res.data) {
            //this.hasOldData = true;
            this.onlyStagData = true;
            this.comment = res.data.comment;
            this.stagData.productname = res.data.billingSchemeTemplateName;
            this.stagData.selectedType = res.data.billingSchemeTemplateType;
            this.stagData.stagId = res.data.billingTemplateId;
            this.activity =
              res.data.billingTemplateApprovalStatus === 0 &&
              res.data.oldBillingId
                ? "Edit Billing Package"
                : res.data.billingTemplateApprovalStatus === 4 &&
                  res.data.oldBillingId
                ? "Revision - Edit Billing Package"
                : res.data.billingTemplateApprovalStatus === 0
                ? "Create New Billing Package"
                : res.data.billingTemplateApprovalStatus === 4
                ? "Revision - Create New Billing Package"
                : res.data.billingTemplateApprovalStatus === 3
                ? "Delete Billing Package"
                : "Revision ";
            if (res.data.oldBillingId) {
              console.log("have old data");
              this.getData(res.data.oldBillingId);
            } else {
              console.log("have no old Data");
              this.onlyStagData = true;
            }
            this.getStagDataDetail(res.data.billingTemplateId);
          } else {
            console.log("only old data");
            this.onlyOlData = true;
            this.hasOldData = true;
            this.getData(id);
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    getDataDetail(id) {
      //const id = this.$route.params.id;
      axios
        .get(`api/billingSchemeTemplate/detail/${id}`, {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          if (this.form.selectedType.toUpperCase() === "FLAT") {
            this.form.chargePerCall = res.data[0].billingTemplateCharge;
            this.flatChargeId = res.data[0].billingTemplateChargeId;
          } else if (this.form.selectedType.toUpperCase() === "TIER") {
            //this.setTierFromServer(res.data);
            this.setOldTierFromServer(res.data);
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    getStagDataDetail(id) {
      axios
        .get(`api/billingSchemeTemplate/stag/detail/${id}`, {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          if (this.stagData.selectedType.toUpperCase() === "FLAT") {
            this.stagData.chargePerCall = res.data[0].billingTemplateCharge;
            this.flatChargeId = res.data[0].billingTemplateChargeId;
          } else if (this.stagData.selectedType.toUpperCase() === "TIER") {
            //this.stagData.tierData = res.data;
            this.oldForm.viewOnly = true;
            console.log(res.data);
            this.setTierFromServer(res.data);
            console.log(this.$store.getters.tierData);
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
    submit() {
      event.preventDefault();
      let postData = [];
      /* eslint-disable no-mixed-spaces-and-tabs */
      if (
        this.form.selectedType.toUpperCase() === "FLAT" ||
        this.stagData.selectedType.toUpperCase() === "FLAT"
      ) {
        const charRegex = new RegExp(/^[0-9]+$/g);
        console.log(this.form.chargePerCall);
        const existingCharge = this.onlyStagData
          ? this.stagData.chargePerCall
          : this.form.chargePerCall;
        if (charRegex.test(existingCharge)) {
          const data = {
            billingTemplateChargeId: this.flatChargeId,
            billingTemplateCharge: this.onlyStagData
              ? this.stagData.chargePerCall
              : this.form.chargePerCall,
            billingschemetemplate: {
              billingTemplateId: this.$route.params.id,
              billingSchemeTemplateName:
                this.form.productname || this.stagData.productname,
              billingSchemeTemplateType:
                this.form.selectedType || this.stagData.selectedType,
            },
          };
          postData.push(data);
          console.log(postData);
        } else {
          this.failSubmit = true;
          this.errMsg = "Charge Per Call cannot contains character";
          return;
        }
      } else if (
        this.form.selectedType.toUpperCase() === "TIER" ||
        this.stagData.selectedType.toUpperCase() === "TIER"
      ) {
        if (
          this.$store.getters.tierData.length <= 0 &&
          this.$store.getters.oldTierData <= 0
        ) {
          this.failSubmit = true;
          this.errMsg = "Tier data is not valid. Highest tier must be set";
        }
        postData =
          this.$store.getters.tierData.length > 0
            ? this.$store.getters.tierData
            : this.$store.getters.oldTierData;

        let validTier = false;
        postData.map((pd) => {
          console.log(pd);
          if (pd.maxCall === -1) {
            validTier = true;
          }
        });
        if (!validTier) {
          {
            this.failSubmit = true;
            this.errMsg = "Tier data is not valid. Highest tier must be set";
          }
          return;
        }
        console.log(postData);
      }
      const headerPost = {
        Authorization: `Bearer ${localStorage.getItem("token")}`,
      };
      axios
        .post("/api/billingSchemeTemplate/update", postData, {})
        .then((resp) => {
          if (resp.status === 200) {
            if (resp.headers.rtok) {
              tokenUpdate(resp.headers.rtok);
            }
            this.$store.dispatch("clearTierData");
            this.$router.push("/billingScheme");
          } else {
            this.failSubmit = true;
            this.errMsg = "Fail to update user";
          }
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.failSubmit = isErr;
            this.errMsg = errMsg;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
  },
};
</script>
