<template>
  <div>
    <template>
      <b-table
        :items="tierData"
        :fields="fields"
        class="my-3 text-left"
        responsive
      >
        <template v-slot:cell(billingTemplateLvl)="row">
          {{ row.index + 1 }}
        </template>
        <template v-slot:cell(billingTemplateCharge)="row">
          Rp. {{ row.item.billingTemplateCharge }}
        </template>
        <template v-slot:cell(billingCharge)="row">
          Rp. {{ row.item.billingCharge }}
        </template>
        <template v-slot:cell(maxCall)="row">{{
          row.item.maxCall === -1 ? "Others" : row.item.maxCall
        }}</template>

        <template v-if="!form.viewOnly" v-slot:cell(action)="row">
          <b-button size="sm" @click="showEditPanel(row)" variant="danger">
            {{ row.detailsShowing ? "Cancel edit" : "Edit" }}
          </b-button>
          <b-button
            size="sm"
            @click="deleteTier(row)"
            class="ml-2"
            variant="danger"
            >Delete</b-button
          >
        </template>

        <template v-slot:row-details="row">
          <b-card>
            <template v-if="form.errEdit || errMax">
              <b-alert show variant="danger" class="text-center">{{
                form.errEditMsg
              }}</b-alert>
            </template>
            <b-form-group>
              <b-row class="my-1">
                <b-col sm="3">
                  <label class="pt-1" for="input-default">Volume Usage:</label>
                </b-col>
                <b-col sm="9">
                  <b-form-input
                    v-model="editPanel.volUsage"
                    :disabled="editPanel.setDisable || row.index === 4"
                    type="number"
                  ></b-form-input>
                </b-col>
              </b-row>
            </b-form-group>
            <b-form-group>
              <b-row class="my-1">
                <b-col sm="3">
                  <label class="pt-1" for="input-default"
                    >Charge per call:</label
                  >
                </b-col>
                <b-col sm="9">
                  <b-input-group prepend="Rp">
                    <b-form-input
                      v-model="editPanel.chargePerCall"
                    ></b-form-input>
                  </b-input-group>
                </b-col>
              </b-row>
            </b-form-group>
            <b-form-group v-if="row.index !== 4 && row.index !== 0">
              <b-row class="my-1">
                <b-col>
                  <b-form-checkbox
                    v-model="editPanel.isMaxTier"
                    @change="updateMaxTier(row.item)"
                    >Set as Highest Tier</b-form-checkbox
                  >
                </b-col>
              </b-row>
            </b-form-group>
            <b-button @click="editTier(row)" variant="danger"
              >Edit Tier</b-button
            >
          </b-card>
        </template>
      </b-table>

      <hr />
      <template v-if="!form.viewOnly">
        <template v-if="!haveMax">
          <template v-if="form.err">
            <b-alert show variant="danger" class="text-center">{{
              form.errMsg
            }}</b-alert>
          </template>
          <b-form-group>
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Volume Usage:</label>
              </b-col>
              <b-col sm="9">
                <b-form-input
                  v-model="form.maxCall"
                  :disabled="tierMax"
                  type="number"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-form-group>
          <b-form-group>
            <b-row class="my-1">
              <b-col sm="3">
                <label class="pt-1" for="input-default">Charge per call:</label>
              </b-col>
              <b-col sm="9">
                <b-input-group prepend="Rp">
                  <b-form-input
                    v-model="form.chargePerCall"
                    type="number"
                  ></b-form-input>
                </b-input-group>
              </b-col>
            </b-row>
          </b-form-group>
          <b-form-group v-if="!cannotBeHighest">
            <b-row class="my-1">
              <b-col>
                <b-form-checkbox
                  id="checkbox-1"
                  v-model="tierMax"
                  :disabled="this.$store.getters.oldTierData.length >= 4"
                  name="checkbox-1"
                  @change="tierMaxUpdate"
                  >Set as Highest Tier</b-form-checkbox
                >
              </b-col>
            </b-row>
          </b-form-group>

          <b-button
            v-if="this.$store.getters.oldTierData.length <= 4"
            @click="tierMax ? addTier(5) : addTier()"
            variant="danger"
            >Add Tier</b-button
          >
        </template>
      </template>

      <hr />
    </template>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import validateTier from "@/util/validateTier";
export default {
  props: ["form"],
  data() {
    return {
      failSubmit: false,
      errMsg: null,
      tierMax: false,
      haveMax: false,
      errMax: false,
      fields: [
        { key: "billingTemplateLvl", label: "Tier Level" },
        { key: "maxCall", label: "Volume Usage" },
        { key: "billingTemplateCharge", label: "Charge per Call" },
        "Action",
      ],
      cannotBeHighest: false,
      editPanel: {
        show: false,
        volUsage: "",
        chargePerCall: "",
        isMaxTier: false,
        setDisable: false,
      },
    };
  },
  mounted() {
    if (this.form.noAction) {
      this.fields = [
        { key: "billingTemplateLvl", label: "Tier Level" },
        { key: "maxCall", label: "Volume Usage" },
        { key: "billingTemplateCharge", label: "Charge per Call" },
      ];
    }
    this.form.maxCall === -1 ? "Others" : null;

    if (this.form.fields && this.form.noAction) {
      this.fields = this.form.fields;
    }

    if (this.$store.getters.oldTierData !== null) {
      this.$store.dispatch("clearTierData");
    }
  },
  computed: {
    tierData() {
      let datas = this.$store.getters.oldTierData;
      datas.map((dt) => {
        this.haveMax = dt.maxCall === -1 ? true : false;
      });
      return this.$store.getters.oldTierData;
    },
  },
  watch: {
    tierData: function() {
      this.tierData.length === 0
        ? (this.cannotBeHighest = true)
        : (this.cannotBeHighest = false);
      if (this.tierData.length === 4) {
        this.tierMax = true;
      } else {
        this.tierMax = false;
      }
    },
  },
  methods: {
    ...mapActions({
      setTierData: "setOldTierData",
      updateTierData: "updateOldTierData",
      deleteTierData: "deleteOldTierData",
    }),
    showEditPanel(dt) {
      console.log(this.tierData);
      console.log(dt.detailsShowing);
      if (dt.detailsShowing) {
        dt.toggleDetails();
        this.editPanel.show = false;
      } else if (this.editPanel.show) {
        return;
      } else {
        this.editPanel.show = true;
        this.form.errEdit = false;
        this.errMax = false;
        dt.toggleDetails();
        this.editPanel.volUsage =
          dt.item.maxCall === -1 || null ? -1 : dt.item.maxCall;
        this.editPanel.chargePerCall = dt.item.billingTemplateCharge
          ? dt.item.billingTemplateCharge
          : dt.item.billingCharge;
        this.editPanel.isMaxTier = dt.item.isMaxTier
          ? dt.item.isMaxTier
          : dt.item.maxCall === -1
          ? true
          : false;
        this.editPanel.setDisable = this.editPanel.isMaxTier ? true : false;
      }
      console.log(this.editPanel);
    },
    updateMaxTier(item) {
      console.log(this.editPanel.isMaxTier === true);
      if (!this.editPanel.isMaxTier) {
        let lastArrData = this.tierData[this.tierData.length - 1];
        if (lastArrData != item) {
          this.errMax = true;
          this.form.errEditMsg =
            "Cannot set this tier as the highest tier please remove the upper tier first";
          this.tierMax = false;
          return;
        } else {
          this.editPanel.setDisable = true;
          this.editPanel.volUsage = -1;
        }
      } else if (this.editPanel.isMaxTier) {
        console.log(this.editPanel.isMaxTier);
        this.editPanel.setDisable = false;
        this.errMax = false;
        this.editPanel.volUsage === -1
          ? (this.editPanel.volUsage = "")
          : this.editPanel.volUsage;
      }
    },
    tierMaxUpdate() {
      this.tierMax = !this.tierMax;
      this.form.maxCall = -1;
    },
    deleteTier(data) {
      this.editPanel.show = false;
      console.log(data);
      if (data.item.isMaxTier) {
        this.tierMax = false;
        this.haveMax = false;
      }
      this.deleteTierData({
        lvl: data.item.billingTemplateLvl || data.item.billingTierLvl,
      });
    },
    async editTier(data) {
      if (this.errMax) {
        return;
      }
      this.form.errEdit = false;
      let updatedVal = {
        billingTemplateLvl:
          data.item.billingTemplateLvl || data.item.billingTierLvl,
        maxCall: this.editPanel.volUsage,
        chargePerCall: this.editPanel.chargePerCall,
        isMaxTier: this.editPanel.isMaxTier,
      };

      let sanitizeData = {
        forApps: this.form.forApps ? this.form.forApps : false,
        prodLength: this.form.productname ? this.form.productname.length : null,
        chargePerCall: updatedVal.chargePerCall,
        maxCall: updatedVal.maxCall,
        isMaxTier: updatedVal.isMaxTier,
        forEdit: true,
      };
      await this.validateInput(sanitizeData);
      this.updatedVal = this.form.fields
        ? {
            billingCharge: updatedVal.chargePerCall,
            billingTierLvl: updatedVal.billingTemplateLvl,
            maxCall: this.haveMax ? -1 : updatedVal.maxCall,
            isMaxTier: this.haveMax,
          }
        : this.updatedVal;

      if (!this.form.errEdit) {
        console.log(updatedVal);
        this.updateTierData(updatedVal);
        this.haveMax = updatedVal.isMaxTier ? true : false;
        data.toggleDetails();
        this.editPanel.volUsage = "";
        this.editPanel.chargePerCall = "";
        this.editPanel.isMaxTier = false;
        this.editPanel.show = false;
      }
    },

    async validateInput(data) {
      let sanitizeRes = await validateTier(data);
      if (!sanitizeRes) {
        return;
      } else if (sanitizeRes) {
        this.form.errMsg = sanitizeRes.errMsg ? sanitizeRes.errMsg : false;
        this.form.err = sanitizeRes.err ? sanitizeRes.err : false;
        this.form.errEdit = sanitizeRes.errEdit ? sanitizeRes.errEdit : false;
        this.form.errEditMsg = sanitizeRes.errEditMsg
          ? sanitizeRes.errEditMsg
          : false;
      }
    },

    async addTier(tl) {
      this.form.err = false;
      //this.form.errMsg = "Please add Package name first";
      console.log(this.form.forApps);
      let sanitizeData = {
        forApps: this.form.forApps ? this.form.forApps : false,
        prodLength: this.form.productname ? this.form.productname.length : null,
        chargePerCall: this.form.chargePerCall,
        maxCall: this.form.maxCall,
        isMaxTier: this.tierMax ? this.tierMax : false,
      };
      await this.validateInput(sanitizeData);

      console.log(this.failSubmit);
      if (!this.form.err && !this.failSubmit) {
        if (tl === 5) {
          this.haveMax = true;
          this.tierMax = true;
        } else {
          this.haveMax = false;
          this.tierMax = false;
        }
        const newData = this.form.fields
          ? {
              billingCharge: this.form.chargePerCall,
              billingTierLvl: this.tierData.length + 1,
              minCall: this.tierData.length < 1 ? 1 : this.form.minCall,
              maxCall: this.haveMax ? -1 : this.form.maxCall,
              billingschemetemplate: {
                billingSchemeTemplateName: this.form.productname,
                billingSchemeTemplateType: this.form.selectedType,
              },
              isMaxTier: this.haveMax,
            }
          : {
              billingTemplateCharge: this.form.chargePerCall,
              billingTemplateLvl: this.tierData.length + 1,
              minCall: this.tierData.length < 1 ? 1 : this.form.minCall,
              maxCall: this.haveMax ? -1 : this.form.maxCall,
              billingschemetemplate: {
                billingSchemeTemplateName: this.form.productname,
                billingSchemeTemplateType: this.form.selectedType,
              },
              isMaxTier: this.haveMax,
            };
        console.log(newData);

        //this.tierData.push(newData);
        this.setTierData(newData);
        console.log(this.$store);
        this.form.chargePerCall = "";
        this.form.tierLevel = "";
        this.form.minCall = "";
        this.form.maxCall = "";
      }
    },
  },
};
</script>

<style></style>>
