<template>
  <div>
    <b-navbar class="p-0">
      <b-sidebar
        no-close-on-route-change
        width="210px"
        title="Sidebar"
        class="d-block"
        no-header
        visible
        shadow
      >
        <div class="p-3 px-1 border-bottom border-light">
          <b-navbar-brand href="/" class="container">
            <img class="logo" src="../img/logo_mii.png"/>
          </b-navbar-brand>
        </div>
        <div class="px-4 pt-3">
          <b-nav vertical v-for="(menu, index) in menus" :key="index">
            <b-nav-item :to="menu.path" active-class="danger">
              {{ menu.label }}
            </b-nav-item>
          </b-nav>
        </div>
      </b-sidebar>
    </b-navbar>
    <div class="main-content">
      <div class="py-1">
        <b-navbar class="topnav border-bottom border-light">
          <b-navbar-nav class="ml-auto">
            <b-nav-item-dropdown :text="user" right>
              <b-dropdown-item @click="logout">Logout</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </b-navbar>
      </div>
      <slide-y-up-transition mode="out-in" origin="center top">
        <router-view></router-view>
      </slide-y-up-transition>
    </div>
  </div>
</template>

<script>
import jwt from "jsonwebtoken";
import { SlideYUpTransition } from "vue2-transitions";

import axios from "../util/api";
import tokenUpdate from "@/util/tokenUpdate";
import requestErrorHandler from "@/util/requestErrorHandler";

export default {
  components: {
    SlideYUpTransition,
  },
  data() {
    return {
      user: "",
      menus: [],
    };
  },
  methods: {
    logout() {
      let auth = localStorage.getItem("token");
      axios
        .post("/api/auth/logout", {
          token: "Bearer " + auth,
        })
        .then((res) => {
          if (res) localStorage.removeItem("token");
          //location.reload();
          this.$store.dispatch("removeRoles");
          this.$router.push("/login");
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getUser() {
      const token = jwt.decode(localStorage.getItem("token"));
      this.getMenu();
      this.user = token.sub;
    },
    getMenu() {
      axios
        .get("/api/config/getpages", {})
        .then((res) => {
          if (res.headers.rtok) {
            tokenUpdate(res.headers.rtok);
          }
          this.menus = res.data;
          this.menus = this.menus.sort((a, b) =>
            a.label.localeCompare(b.label)
          );
        })
        .catch((err) => {
          const { isErr, errMsg, route } = requestErrorHandler(err);
          if (isErr) {
            console.log(errMsg);
            this.reqFail = isErr;
            if (route) {
              this.$router.push(route);
            }
          }
        });
    },
  },
  mounted() {
    this.getUser();
  },
  created() {
    this.$store.dispatch("checkRoles");
    //console.log(this.$store);
    //console.log(this.$store.getters.isChecker);
  },
};
</script>

<style>
.card-header {
  background-color: white !important;
}
</style>

<style scoped>
.topnav {
  min-height: 75px;
}
.logo {
  max-width: 47px;
  margin-left: auto;
  margin-right: auto;
}
.main-content {
  margin-left: 210px;
}
.nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.nav-link:hover,
.nav-link:active {
  color: #bd2130;
}
.nav-link.active.danger {
  color: #bd2130;
}
.border-light {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}
.b-sidebar {
  display: block !important;
}
.b-sidebar:not(.b-sidebar-right) {
  display: block !important;
}
</style>
<style>
.page-item.active .page-link {
  background-color: #bd2130 !important;
  border-color: #bd2130 !important;
  color: #fff !important;
}

.page-item .page-link {
  color: #bd2130 !important;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 4, 0, 0.2) !important;
}

.page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 4, 0, 0.2);
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #bd2130 !important;
  border-color: #bd2130 !important;
  color: #fff !important;
}
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #bd2130 !important;
  background-color: #bd2130 !important;
}
.td-custom {
  width: 100% !important;
}
tr.bg-warning {
  background-color: rgba(255, 193, 7, 0.7) !important;
}
tr.bg-danger {
  background-color: rgba(220, 59, 69, 0.9) !important;
}

.btn-outline-primary:hover {
  background-color: rgba(220, 59, 69, 0.9) !important;
  color: white !important;
}
.btn-primary:not(:disabled):not(.disabled):hover,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: rgba(220, 59, 69, 0.9) !important;
  border-color: rgba(220, 59, 69, 0.9) !important;
}

.btn-outline-primary {
  color: rgba(220, 59, 69, 0.9) !important;
}

.formNotValid:focus,
.custom-select:focus,
.form-control:focus {
  border-color: rgba(220, 59, 69, 0.9) !important;
  box-shadow: 0 0 0 0.2rem rgba(220, 59, 69, 0.9) !important;
}

.btn-modal {
  min-width: 72.95px;
}
</style>
